In [3]:
import re
str1 = "Mobile number should be with it's country code: +91-9132695225, +1-5590341120, +++++39239-9033345213, *4459021320"
ptr1 = "\+?\d{2}-\d{10}"
ptr2 = re.compile(ptr1)
ptr2.findall(str1)

['+91-9132695225', '39-9033345213']

In [4]:
ls = ["one", "two"]

In [6]:
ls[0]+"-" + ls[1]

'one-two'

In [7]:
'+'.join(ls) #to join the string elements of a list

'one+two'

In [9]:
num = [1,2,3,4]

In [10]:
'+'.join(num)

TypeError: sequence item 0: expected str instance, int found

In [11]:
str(num)

'[1, 2, 3, 4]'

In [12]:
lst = []
for x in num:
    lst.append(str(x))
print(lst)

['1', '2', '3', '4']

In [13]:
','.join(lst)

'1,2,3,4'

In [16]:
num

[1, 2, 3, 4]

In [19]:
p = [str(i) for i in num]

['1', '2', '3', '4']

[return_Value for i in list]
[return_value for x in lst if cond]
[return value if cond else expression for i in lst]

In [20]:
[x**2 for x in num]

[1, 4, 9, 16]

In [21]:
[x**2 for x in range(10) if x <5]

[0, 1, 4, 9, 16]

In [22]:
lst = ["how", "are", "you"]

In [23]:
fc = [x[0] for x in lst]

In [24]:
fc

['h', 'a', 'y']

In [25]:
range(50)

range(0, 50)

In [27]:
#[return value if cond else return_value for i in lst]
print(['even' if x%2==0 else 'odd' for x in range(50)])

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [28]:
cost = [.424, .4221,.4184,.413 ]
cases = [10, 20, 40, 30]

In [29]:
cost*cases

TypeError: can't multiply sequence by non-int of type 'list'

In [31]:
list(zip(cost, cases))

[(0.424, 10), (0.4221, 20), (0.4184, 40), (0.413, 30)]

In [36]:
#zip fn is used when we have to work upon multiple lists together
for x,y in zip(cost,cases):
    print(x*y)

4.24
8.442
16.736
12.389999999999999

In [37]:
.424 * [10,30,40]

TypeError: can't multiply sequence by non-int of type 'float'

In [40]:
list(zip([.424], [1,2,3]))

[(0.424, 1)]

In [41]:
for i in (1,2,4,5):
    print(i)

1
2
4
5

In [ ]:
d

In [42]:
zip([(1,2), (3,4)],[(1,3), (6,7)])

In [48]:
fhand = open(r"C:\Users\Vaibhav\Desktop\BA\Datasets\romeo.txt", "r")

In [45]:
type(fhand)

_io.TextIOWrapper

In [49]:
a = fhand.read()
a

'But soft what light through yonder window breaks\nIt is the east and Juliet is the sun\nArise fair sun and kill the envious moon\nWho is already sick and pale with grief\n'

In [50]:
splittedText = a.split()

In [52]:
print(splittedText)
#[x.lower() for x in splittedTest]

['But', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', 'It', 'is', 'the', 'east', 'and', 'Juliet', 'is', 'the', 'sun', 'Arise', 'fair', 'sun', 'and', 'kill', 'the', 'envious', 'moon', 'Who', 'is', 'already', 'sick', 'and', 'pale', 'with', 'grief']

In [53]:
counts = {}
counts = dict()

In [54]:
for word in splittedText:
    counts[word] = counts.get(word, 0)+1
print(counts)

{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [55]:
#how to iterate over the diction
for key in counts:
    print(key, counts[key])

But 1
soft 1
what 1
light 1
through 1
yonder 1
window 1
breaks 1
It 1
is 3
the 3
east 1
and 3
Juliet 1
sun 2
Arise 1
fair 1
kill 1
envious 1
moon 1
Who 1
already 1
sick 1
pale 1
with 1
grief 1

In [56]:
counts.items()

dict_items([('But', 1), ('soft', 1), ('what', 1), ('light', 1), ('through', 1), ('yonder', 1), ('window', 1), ('breaks', 1), ('It', 1), ('is', 3), ('the', 3), ('east', 1), ('and', 3), ('Juliet', 1), ('sun', 2), ('Arise', 1), ('fair', 1), ('kill', 1), ('envious', 1), ('moon', 1), ('Who', 1), ('already', 1), ('sick', 1), ('pale', 1), ('with', 1), ('grief', 1)])

In [57]:
for k,v in counts.items():
    print(k,v)

But 1
soft 1
what 1
light 1
through 1
yonder 1
window 1
breaks 1
It 1
is 3
the 3
east 1
and 3
Juliet 1
sun 2
Arise 1
fair 1
kill 1
envious 1
moon 1
Who 1
already 1
sick 1
pale 1
with 1
grief 1

In [59]:
counts.values()

dict_values([1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [60]:
counts.keys()

dict_keys(['But', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', 'It', 'is', 'the', 'east', 'and', 'Juliet', 'sun', 'Arise', 'fair', 'kill', 'envious', 'moon', 'Who', 'already', 'sick', 'pale', 'with', 'grief'])

In [63]:
list(enumerate(counts.values()))

[(0, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 3),
 (10, 3),
 (11, 1),
 (12, 3),
 (13, 1),
 (14, 2),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (20, 1),
 (21, 1),
 (22, 1),
 (23, 1),
 (24, 1),
 (25, 1)]

In [64]:
for index, value in enumerate(counts.values()):
    print(index, value)

0 1
1 1
2 1
3 1
4 1
5 1
6 1
7 1
8 1
9 3
10 3
11 1
12 3
13 1
14 2
15 1
16 1
17 1
18 1
19 1
20 1
21 1
22 1
23 1
24 1
25 1

In [65]:
list(enumerate([1,2,4]))

[(0, 1), (1, 2), (2, 4)]

In [68]:
for ind, key in enumerate(counts):
    print(ind, key, counts[key])

0 But 1
1 soft 1
2 what 1
3 light 1
4 through 1
5 yonder 1
6 window 1
7 breaks 1
8 It 1
9 is 3
10 the 3
11 east 1
12 and 3
13 Juliet 1
14 sun 2
15 Arise 1
16 fair 1
17 kill 1
18 envious 1
19 moon 1
20 Who 1
21 already 1
22 sick 1
23 pale 1
24 with 1
25 grief 1

In [69]:
fruit_to_colour = {'watermelon': 'green', 'pomegranate': 'red',
'peach': 'orange', 'cherry': 'red', 'pear': 'green',
'banana': 'yellow', 'plum': 'purple', 'orange': 'orange'}
#invert this dictionary

In [71]:
c2f = {}
for fruit in fruit_to_colour:
    color = fruit_to_colour[fruit]
    c2f[color] = fruit
    
print(c2f)

{'green': 'pear', 'red': 'cherry', 'orange': 'orange', 'yellow': 'banana', 'purple': 'plum'}

In [72]:
len(fruit_to_colour)

8

In [74]:
len(c2f)

5

In [75]:
c2f = {}
for fruit in fruit_to_colour:
    color = fruit_to_colour[fruit]
    if color not in c2f:
        c2f[color] = [fruit]
    else:
        c2f[color].append(fruit)
print(c2f)

{'green': ['watermelon', 'pear'], 'red': ['pomegranate', 'cherry'], 'orange': ['peach', 'orange'], 'yellow': ['banana'], 'purple': ['plum']}

In [ ]:
#if I want to again invert this - try as assignment

### Lambda - functions without names

In [77]:
def addtwo(x,y):
    return(x+y)

In [78]:
f = lambda x,y: x+y

In [79]:
addtwo(4,5)

9

In [80]:
f(4,5)

9

### map fn

In [81]:
def sq_num(x):
    return(x**2)

In [83]:
list(map(sq_num, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### reduce fn

In [85]:
from functools import reduce

In [87]:
#reduce the list to a single number by applying the fn bw 2 variables
reduce(lambda x,y: x*y, [12,34,56, 89])

2033472

In [88]:
fhand.close()