In [1]:
#! pip install datetime

Requirement already satisfied: datetime in c:\users\vaibhav\anaconda3\lib\site-packages (4.3)
Requirement already satisfied: pytz in c:\users\vaibhav\anaconda3\lib\site-packages (from datetime) (2018.9)
Requirement already satisfied: zope.interface in c:\users\vaibhav\anaconda3\lib\site-packages (from datetime) (4.6.0)
Requirement already satisfied: setuptools in c:\users\vaibhav\anaconda3\lib\site-packages (from zope.interface->datetime) (40.8.0)

In [1]:
import pandas as pd
import numpy as np
import datetime

In [ ]:
dt = datetime.datetime.today()
dt

In [ ]:
print(dt)

In [ ]:
dt.date()

In [ ]:
dt.day

In [ ]:
dt.ctime()

In [ ]:
dt.hour

In [ ]:
dt.minute

In [ ]:
dt.second, dt.microsecond

In [ ]:
print("Date: {}/{}/{}".format(dt.day, dt.month, dt.year))

In [ ]:
x = "{}:{}:{}:{}".format(dt.hour, dt.minute, dt.second, dt.microsecond)
x

In [ ]:
#to date fn from datetime module to create the date object
date = datetime.date(1999, 9, 10)
print(date)

In [ ]:
# time fn from datetime module to create the time object
time= datetime.time(4, 20, 34,90)
print(time)

In [ ]:
#datetime class from datetime module has a combine method to combine the date and the time objects
dt = datetime.datetime.combine(date, time)
print(dt)

----

### Explaining timedelta class in datetime module

In [ ]:
print(dt)

In [ ]:
dt2 = datetime.datetime.today()
print(dt2)

In [ ]:
p = dt2 - dt
print(p)

In [ ]:
type(p)

In [ ]:
#from p i can access the methods and attributes of timedelta class?

In [ ]:
p.microseconds

In [ ]:
p.total_seconds()

In [ ]:
print(dt)

In [ ]:
dt+datetime.timedelta(days = 40)

In [ ]:
dt+datetime.timedelta(weeks = 10)

----

### Pandas implementation of datetime class

In [ ]:
ap = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\data_sets\AirPassengers.csv")

In [ ]:
ap.Month.dtype

In [ ]:
### Datetime formatting

%a	Weekday as locale’s abbreviated name.	Sun, Mon, …, Sat (en_US);

		So, Mo, …, Sa (de_DE)
        
%A	Weekday as locale’s full name.	Sunday, Monday, …, Saturday (en_US);

		Sonntag, Montag, …, Samstag (de_DE)
        
%w	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.	0, 1, …, 6

%d	Day of the month as a zero-padded decimal number.	01, 02, …, 31

%b	Month as locale’s abbreviated name.	Jan, Feb, …, Dec (en_US);

%B	Month as locale’s full name.	January, February, …, December (en_US);

%m	Month as a zero-padded decimal number.	01, 02, …, 12

%y	Year without century as a zero-padded decimal number.	00, 01, …, 99

%Y	Year with century as a decimal number.	0001, 0002, …, 2013, 2014, …, 9998, 9999

%H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, …, 23

%I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, …, 12

%p	Locale’s equivalent of either AM or PM.	AM, PM (en_US);

%M	Minute as a zero-padded decimal number.	00, 01, …, 59

%S	Second as a zero-padded decimal number.	00, 01, …, 59

%f	Microsecond as a decimal number, zero-padded on the left.	000000, 000001, …, 999999

%z	UTC offset in the form +HHMM or -HHMM (empty string if the object is naive).	(empty), +0000, -0400, +1030

%Z	Time zone name (empty string if the object is naive).	(empty), UTC, EST, CST

%j	Day of the year as a zero-padded decimal number.	001, 002, …, 366

%U	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. 
All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, …, 53

%W	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, …, 53

In [ ]:
ap.head(2) #year and the month

In [ ]:
ap["Month"]=pd.to_datetime(ap.Month, format = "%Y-%m")

In [ ]:
ap.Month.dtype

ap.Month[0]

In [ ]:
#2nd way strptime function

In [ ]:
x = "8-1990"

In [ ]:
print(pd.datetime.strptime(x, "%m-%Y"))

In [ ]:
x = "Aug/90 5:20 PM"
print(pd.datetime.strptime(x, "%b/%y %H:%M %p"))

In [ ]:
ap = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\data_sets\AirPassengers.csv")

In [ ]:
ap.head()

In [ ]:
dateparser = lambda dates: pd.datetime.strptime(dates, "%Y-%m")

In [ ]:
dateparser(ap.Month[0])

In [ ]:
airp = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\data_sets\AirPassengers.csv", parse_dates = ["Month"], date_parser = dateparser)

In [ ]:
airp.head()

In [ ]:
nyc = pd.read_csv(r"C:\Users\Vaibhav\Desktop\03June\DataSciencePy\Projects(1)\Projects for Submission\Project3_NYC311\311_Service_Requests_from_2010_to_Present.csv")

In [ ]:
nyc.head()

In [ ]:
print(nyc["Created Date"][0])

In [ ]:
print(nyc["Created Date"])

In [ ]:
id_format1 = nyc.loc[nyc["Created Date"].apply(len)==22, "Created Date"].index

In [ ]:
id_format2 = nyc[~nyc.index.isin(id_format1)].index

In [ ]:
nyc1 = nyc.loc[id_format1,:]

In [ ]:
nyc2 = nyc.loc[id_format2, :]

In [ ]:
nyc1["Created Date"] = pd.to_datetime(nyc1.loc[id_format1, "Created Date"] , format = "%m/%d/%Y %I:%M:%S %p")

In [ ]:
nyc1["Created Date"].head()

In [ ]:
nyc2["Created Date"] = pd.to_datetime(nyc2["Created Date"] , format = "%m-%d-%y %H:%M")

In [ ]:
nyc = nyc1.append(nyc2)

In [ ]:
nyc["Created Date"].dtype

----

In [2]:
import pandas as pd
nyc = pd.read_csv(r"C:\Users\Vaibhav\Desktop\03June\DataSciencePy\Projects(1)\Projects for Submission\Project3_NYC311\311_Service_Requests_from_2010_to_Present.csv")

C:\Users\Vaibhav\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
nyc["Closed_Date"] = pd.to_datetime(nyc["Closed Date"], format = "%m-%d-%y %H:%M", errors = "coerce" )

In [15]:
nyc.loc[nyc["Closed_Date"].isnull(), "Closed_Date"]=pd.to_datetime(nyc.loc[nyc["Closed_Date"].isnull(), "Closed Date"], format = "%m/%d/%Y %I:%M:%S %p")

In [17]:
nyc.Closed_Date.dtype

dtype('<M8[ns]')

### to create the parser function, handle the 2 different syntaxes

In [19]:
nyc["Created Date"][0]

'12/31/2015 11:59:45 PM'

In [26]:
len(nyc["Created Date"][0])

22

In [34]:
def dateparser(dates):
    if len(dates)==22:
        return pd.datetime.strptime(str(dates), "%m/%d/%Y %I:%M:%S %p")
    else:
        return pd.datetime.strptime(str(dates), "%m-%d-%y %H:%M")

In [35]:
import pandas as pd
ny = pd.read_csv(r"C:\Users\Vaibhav\Desktop\03June\DataSciencePy\Projects(1)\Projects for Submission\Project3_NYC311\311_Service_Requests_from_2010_to_Present.csv", parse_dates=["Created Date", "Closed Date"], date_parser=dateparser, na_filter=False )

In [36]:
ny.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,2015-12-31 23:59:45,2016-01-01 00:55:00,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,71 VERMILYEA AVENUE,...,,,,,,,,40.86568154,-73.92350096,"(40.86568153633767, -73.92350095571744)"
1,32309934,2015-12-31 23:59:44,2016-01-01 01:26:00,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105,27-07 23 AVENUE,...,,,,,,,,40.77594531,-73.91509394,"(40.775945312321085, -73.91509393898605)"
2,32309159,2015-12-31 23:59:29,2016-01-01 04:51:00,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458,2897 VALENTINE AVENUE,...,,,,,,,,40.87032452,-73.88852464,"(40.870324522111424, -73.88852464418646)"
3,32305098,2015-12-31 23:57:46,2016-01-01 07:43:00,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461,2940 BAISLEY AVENUE,...,,,,,,,,40.83599405,-73.8283794,"(40.83599404683083, -73.82837939584206)"
4,32306529,2015-12-31 23:56:58,2016-01-01 03:24:00,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373,87-14 57 ROAD,...,,,,,,,,40.73305962,-73.87416976,"(40.733059618956815, -73.87416975810375)"

In [37]:
ny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300698 entries, 0 to 300697
Data columns (total 53 columns):
Unique Key                        300698 non-null int64
Created Date                      300698 non-null datetime64[ns]
Closed Date                       298534 non-null datetime64[ns]
Agency                            300698 non-null object
Agency Name                       300698 non-null object
Complaint Type                    300698 non-null object
Descriptor                        300698 non-null object
Location Type                     300698 non-null object
Incident Zip                      300698 non-null object
Incident Address                  300698 non-null object
Street Name                       300698 non-null object
Cross Street 1                    300698 non-null object
Cross Street 2                    300698 non-null object
Intersection Street 1             300698 non-null object
Intersection Street 2             300698 non-null object
Address Type                      300698 non-null object
City                              300698 non-null object
Landmark                          300698 non-null object
Facility Type                     300698 non-null object
Status                            300698 non-null object
Due Date                          300698 non-null object
Resolution Description            300698 non-null object
Resolution Action Updated Date    300698 non-null object
Community Board                   300698 non-null object
Borough                           300698 non-null object
X Coordinate (State Plane)        300698 non-null object
Y Coordinate (State Plane)        300698 non-null object
Park Facility Name                300698 non-null object
Park Borough                      300698 non-null object
School Name                       300698 non-null object
School Number                     300698 non-null object
School Region                     300698 non-null object
School Code                       300698 non-null object
School Phone Number               300698 non-null object
School Address                    300698 non-null object
School City                       300698 non-null object
School State                      300698 non-null object
School Zip                        300698 non-null object
School Not Found                  300698 non-null object
School or Citywide Complaint      300698 non-null object
Vehicle Type                      300698 non-null object
Taxi Company Borough              300698 non-null object
Taxi Pick Up Location             300698 non-null object
Bridge Highway Name               300698 non-null object
Bridge Highway Direction          300698 non-null object
Road Ramp                         300698 non-null object
Bridge Highway Segment            300698 non-null object
Garage Lot Name                   300698 non-null object
Ferry Direction                   300698 non-null object
Ferry Terminal Name               300698 non-null object
Latitude                          300698 non-null object
Longitude                         300698 non-null object
Location                          300698 non-null object
dtypes: datetime64[ns](2), int64(1), object(50)
memory usage: 121.6+ MB

In [39]:
ny.loc[ny["Closed Date"].isnull(),"Closed Date"]

416      NaT
611      NaT
1648     NaT
1816     NaT
1965     NaT
1987     NaT
2149     NaT
2415     NaT
2541     NaT
2556     NaT
2667     NaT
2924     NaT
3693     NaT
3748     NaT
3810     NaT
3833     NaT
4277     NaT
4282     NaT
4297     NaT
4715     NaT
4867     NaT
5170     NaT
5292     NaT
5396     NaT
5503     NaT
5572     NaT
5646     NaT
5694     NaT
5816     NaT
5880     NaT
          ..
295003   NaT
295549   NaT
295636   NaT
295639   NaT
295840   NaT
296033   NaT
296570   NaT
296848   NaT
297038   NaT
297358   NaT
297372   NaT
297464   NaT
297497   NaT
297738   NaT
297743   NaT
297851   NaT
298344   NaT
298375   NaT
298388   NaT
298640   NaT
298792   NaT
298794   NaT
299201   NaT
299333   NaT
300002   NaT
300273   NaT
300492   NaT
300496   NaT
300620   NaT
300693   NaT
Name: Closed Date, Length: 2164, dtype: datetime64[ns]

In [52]:
td = ny["Closed Date"] - ny["Created Date"]
td.head()

0   00:55:15
1   01:26:16
2   04:51:31
3   07:45:14
4   03:27:02
dtype: timedelta64[ns]

In [47]:
import datetime

In [50]:
#datetime.timedelta.total_seconds()

TypeError: descriptor 'total_seconds' of 'datetime.timedelta' object needs an argument

In [49]:
type(td[0])

pandas._libs.tslibs.timedeltas.Timedelta

In [53]:
td[0].total_seconds()

3315.0