# Class 1 (Level 1 heading)
Now, let's have level 2 heading for comparison purpose.
## Level 2 heading 
### Level 3 heading
#### Basics of Python

In [1]:
5+3 #ctl+enter / shift+enter

8

In [3]:
x = 5
x

5

In [ ]:
# Command mode and Edit mode (edit the cell)
#In command mode, press a - to create a cell above this, press b to create a cell below this
#short-cut key to enter the command mode: ctrl + m
#short-cut key to enter the edit mode: enter
#from the command mode, I can use all the short-cut keys
#press m to convert a code cell to mark-down in the command mode

This is a mark-down cell. Here the text need not be commented using #

In [5]:
x = 6
print(x)
#A text written in the code cell has to be always commented using #

6

Raw cell means, not a markdown cell (in mark-up format) and not a code cell (in the code format). It's simply a raw cell, where text will appear as it is.

### About Python
- Object Oriented Programming language
    - encapsulation (class)
    - inheritance (children classes and parent classes)
    - polymorphism 
- python is free (open source language)
    - downloading and installing python is free and easy. Source code is easily accessible. Python has got a huge online community support. 
- python is portable language
    - python runs on every major platform today. As long as you have a compatible python interpreter nstalled, python programs will run in exactly similar manner, irrespective of the platform.
- python is the de-facto language for ml across the world
- python programs are compiled automatically to an intermediate form called bytecode, which the interpreter then reads. Unlike c or c++ there are no intermediate compile and link steps. This gives python the development speed of an interpreter without the performance loss in purely interpreted languages.
- python is an indentation controlled language

In [7]:
x = 5
y = 6
x + y

11

In [8]:
x = "Samridhi"
y = "Dutta"
x + y

'SamridhiDutta'

In [10]:
[1,3,4] + [10,20,30]
#concatenated list

[1, 3, 4, 10, 20, 30]

In [11]:
x = 6.7
y = 9.0
x + y

15.7

In [16]:
class Person:
    def __init__(self, nm, ag): #initialize the attributes of the objects of person class
        self.name = nm #name and age are the attributes of person class
        self.age = ag
    
    def show_salary(self):
        print("Salary is unknown")

In [17]:
Sam = Person("Samridhi Dutta", 30)

In [14]:
Sam.name

'Samridhi Dutta'

In [15]:
Sam.age

30

In [18]:
Sam.show_salary()

Salary is unknown

In [ ]:
#every class will have attributes and methods

In [19]:
x = 6

In [21]:
type(x) #an object of integer class

int

In [22]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [23]:
x.bit_length()

3

In [24]:
y = "Samridhi"

In [25]:
type(y) #an object of string class

str

In [28]:
dir("Samridhi")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
y.upper()

'SAMRIDHI'

In [ ]:
y. #press tab key to check the intellisense is enabled

In [ ]:
#vars  - alphabets / numerical /_ - alphanumerical

In [31]:
56 = "Samridhi"

SyntaxError: invalid syntax (<ipython-input-31-1b96f5bb36d4>, line 1)

In [32]:
_ = "Samridhi"
print(_)

Samridhi

In [34]:
x = 5
x

5

In [35]:
a_b_c89 = 10

In [36]:
x*10 #+/-*/

50

In [37]:
5%3 #remainder operato

2

In [38]:
5//3 #quotient

1

#### Logical operators

In [39]:
5<10

True

In [40]:
x >=10

False

In [41]:
x==6

False

In [42]:
x!=10

True

In [48]:
x!=10 and x ==10 #both of the conditions have to be true to get a true, if either is false, a false is returned

False

In [44]:
x == 4

False

In [45]:
x

5

In [47]:
x==5 or x>10 #either of the conditions is true, returns true

True

In [49]:
#& | and or

In [51]:
x = 5
type(x)

int

In [52]:
y = 100.6
type(y)

float

In [53]:
z = x+y
type(z) #internally x is type-casted to float

float

In [54]:
5 + True

6

In [55]:
5 + 9.2

14.2

In [56]:
34.2 + "Samridhi"

TypeError: unsupported operand type(s) for +: 'float' and 'str'

char>float>int>bool

In [58]:
str(34.2) + "Samridhi"

'34.2Samridhi'

In [62]:
print("I have saved $", x, " and now I am planning to save more", sep = "")

I have saved $5 and now I am planning to save more

In [63]:
x = 6
x!=5 and x!=7

True

In [64]:
x!=5 & x!=7

True

In [66]:
print("I have saved $"+ str(x) + " and now I am planning to save more", sep = "")

I have saved $6 and now I am planning to save more

In [67]:
print("fwegg",x,"wegeg")

fwegg 6 wegeg

In [68]:
x = 6
x

6

In [69]:
print(x)

6

In [70]:
a = 5
b = 10
c =15

In [71]:
a = 5; b = 10; c=15
a,b,c

(5, 10, 15)

In [73]:
a, b,c = 5,10,15
a,b,c

(5, 10, 15)

In [75]:
a = 6
a = float(a)
a

6.0

In [76]:
print("Age of Anu {}, Age of Raj {}, Age of Meera {}".format(a,b,c))

Age of Anu 6.0, Age of Raj 10, Age of Meera 15

In [78]:
"Age of Anu {}, Age of Raj {}, Age of Meera {}".format(b,a,c)
#inside the paranthesis press shift + tab to access the signatures of the function

'Age of Anu 10, Age of Raj 6.0, Age of Meera 15'

In [79]:
"Age of Anu {2}, Age of Raj {0}, Age of Meera {1}".format(a,b,c)

'Age of Anu 15, Age of Raj 6.0, Age of Meera 10'

In [81]:
print("The value of a is: %.2f" %a) #.2f to show the value uptil 2 decimal place

The value of a is: 6.00

In [82]:
print("The value of a is: %d" %b) #%d for integer, f is for float, %s for strings

The value of a is: 10

In [91]:
#f strings
name = "samridhi"
age = 15
print(f"The trainer for this batch is {name.capitalize()}. Her age is {age*2}")

The trainer for this batch is Samridhi. Her age is 30

In [5]:
p = 34.5678101; q = 5.90312
print("p = {:.4g}, q = {:.1f}".format(p,q)) 
#g represents that we want the first 4 digits (b4 decimals + after decimals)
#f is for float, this means that I want 1 digit after decimals

p = 34.57, q = 5.9

In [83]:
"""
This can be used for multi-line comments
I moved on to
the next line with an ease
"""

'\nThis can be used for multi-line comments\nI moved on to\nthe next line with an ease\n'

In [84]:
'''
hiohgosg
sdkgjsls
sdjlgj
'''

'\nhiohgosg\nsdkgjsls\nsdjlgj\n'

In [85]:
x = """
askjgkljga
dgkljslgja
dgdgd
"""

In [86]:
type(x)

str

In [87]:
print(x)

askjgkljga
dgkljslgja
dgdgd

In [88]:
x

'\naskjgkljga\ndgkljslgja\ndgdgd\n'