# CLASS 2

In [1]:
dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [2]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
print() #inside the paranthesis, type shift + tab to access the docstring

In [6]:
p = "Samridhi"
?p.capitalize

Signature: p.capitalize()
Docstring:
Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower
case.
Type:      builtin_function_or_method

In [ ]:
p.capitalize() #shift+tab inside the paranthesis

----

### Lists - heterogenous data structures

In [7]:
lst = [1,3,4,"Samridhi", True, 3.4, [1,2,3]]

In [8]:
lst

[1, 3, 4, 'Samridhi', True, 3.4, [1, 2, 3]]

In [9]:
lst[0] #indexing in python starts from 0

1

In [21]:
lst[6]

3

In [11]:
lst[-1]

[1, 2, 3]

In [12]:
lst[-2]

3.4

In [13]:
len(lst)

7

In [14]:
lst[-7]

1

#### List slicing

In [22]:
lst

[1, 3, 4, 'Samridhi', True, 3.4, [1, 2, 3]]

In [26]:
lst[2:5], lst[-5:-2] #starting index 2 till 5th index - value of 5th index not retreived

([4, 'Samridhi', True], [4, 'Samridhi', True])

In [29]:
lst[0:4], lst[-7:-3], lst[:4], lst[:-3]

([1, 3, 4, 'Samridhi'],
 [1, 3, 4, 'Samridhi'],
 [1, 3, 4, 'Samridhi'],
 [1, 3, 4, 'Samridhi'])

In [32]:
lst[3:7], lst[3:], lst[-4:]

(['Samridhi', True, 3.4, [1, 2, 3]],
 ['Samridhi', True, 3.4, [1, 2, 3]],
 ['Samridhi', True, 3.4, [1, 2, 3]])

In [38]:
lst[::2],lst[0:7:2], lst[0::2] #index1, val at index 1+2 = 3 retreive, val at index 3+2 = 5,  5th indexed val is excluded

([1, 4, True, [1, 2, 3]], [1, 4, True, [1, 2, 3]], [1, 4, True, [1, 2, 3]])

In [40]:
lst[-1:0:-1] #-1, -1-1 = -2, -2-1 = -3,-3-1=-4,-4-1 = -5, -5-1=-6

[[1, 2, 3], 3.4, True, 'Samridhi', 4, 3]

In [39]:
lst

[1, 3, 4, 'Samridhi', True, 3.4, [1, 2, 3]]

In [42]:
lst[-1::-1], lst[::-1] #-ve step size - will indicate the starting index is -1

([[1, 2, 3], 3.4, True, 'Samridhi', 4, 3, 1],
 [[1, 2, 3], 3.4, True, 'Samridhi', 4, 3, 1])

In [43]:
lst[4::-2]

[True, 4, 1]

In [44]:
[1,3,4] + ['a']

[1, 3, 4, 'a']

In [45]:
x = []

In [46]:
x.append('p')

In [47]:
x

['p']

In [48]:
x.extend([1,2,3]) #to add multiple elements to the list

In [49]:
x

['p', 1, 2, 3]

In [50]:
x.append([1,2,3]) #append will append only a single element to the list

In [51]:
x

['p', 1, 2, 3, [1, 2, 3]]

---

### Deep Copy and Shallow copy

In [53]:
y = x #assignment creates a deep copy

In [56]:
y[0] = 10000

In [57]:
y

[10000, 1, 2, 3, [1, 2, 3]]

In [58]:
x #whatever changes I make to y are also being reflected in x

[10000, 1, 2, 3, [1, 2, 3]]

In [59]:
x[-1]=[]

In [61]:
x,y

([10000, 1, 2, 3, []], [10000, 1, 2, 3, []])

In [62]:
id(x), id(y)  #both x and y are pointing to the same memory location

(139887632899592, 139887632899592)

In [63]:
w = x.copy() #shallow copy

In [64]:
id(w), id(x), id(y)

(139887632882568, 139887632899592, 139887632899592)

In [65]:
x[2] = ["Samridhi"]

In [66]:
x

[10000, 1, ['Samridhi'], 3, []]

In [68]:
w #changes made to x are not being reflected in w and vice-versa

[10000, 1, 2, 3, []]

In [69]:
v = list(x) #shallow copy

In [70]:
v,x

([10000, 1, ['Samridhi'], 3, []], [10000, 1, ['Samridhi'], 3, []])

In [71]:
id(v), id(x)

(139887632457096, 139887632899592)

In [72]:
x[0]= 0
x,v

([0, 1, ['Samridhi'], 3, []], [10000, 1, ['Samridhi'], 3, []])

In [76]:
a = ['b']
c = list(a)
a,c

(['b'], ['b'])

-----------

### Tuples
- immutable
- read-only lists
- tuples are () and lists in []

In [82]:
x = (1,2,(2,"Dutta"),4,[1,2,3],6,'Samridhi', 2,2)

In [ ]:
# immutable: it can't be modified

In [79]:
x.count(2)

3

In [80]:
type(x)

tuple

In [87]:
y = list(x)
print(y)
z = tuple(y)
print(z)

[1, 2, (2, 'Dutta'), 4, [1, 2, 3, 67], 6, 'Samridhi', 2, 2]
(1, 2, (2, 'Dutta'), 4, [1, 2, 3, 67], 6, 'Samridhi', 2, 2)

In [84]:
x[4].append(67)

In [85]:
x

(1, 2, (2, 'Dutta'), 4, [1, 2, 3, 67], 6, 'Samridhi', 2, 2)

-----

### Sets
- indicated by {}
- sets have got all unique values
- supports set operations like union / intersection / difference
- sets don't have an order / index
- sets are unordered set of unique values

In [95]:
x = [1,3,4,3,4,5,"Samridhi", "Dutta", "Samridhi", "Dutta"]
x
set(x)

{1, 3, 4, 5, 'Dutta', 'Samridhi'}

In [98]:
x = [1,3,4,3,4,5,"Samridhi", "Dutta", "Samridhi", "Dutta",(1,3,4)] #any immutable type of data structure is aloud
x

[1, 3, 4, 3, 4, 5, 'Samridhi', 'Dutta', 'Samridhi', 'Dutta', (1, 3, 4)]

In [99]:
y = set(x)
y

{(1, 3, 4), 1, 3, 4, 5, 'Dutta', 'Samridhi'}

In [101]:
x = [1,3,4,3,4,5,"Samridhi", "Dutta", "Samridhi", "Dutta",[1,3,4]]
x
set(x)

TypeError: unhashable type: 'list'

In [102]:
y #there is no order in sets

{(1, 3, 4), 1, 3, 4, 5, 'Dutta', 'Samridhi'}

In [ ]:
#if we want to remove the duplicate values from a list, convert it into set

In [103]:
y[0]

TypeError: 'set' object is not subscriptable

In [104]:
y[:3]

TypeError: 'set' object is not subscriptable

In [105]:
x = {1,2,3,4,2,4,5}
x

{1, 2, 3, 4, 5}

In [108]:
y = {10,20,30,40,10,20,30,40,50,100, 1,3,4,2}
y

{1, 2, 3, 4, 10, 20, 30, 40, 50, 100}

In [109]:
x.intersection(y)

{1, 2, 3, 4}

In [110]:
x.union(y)

{1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 100}

In [112]:
lst = list(x)
lst

[1, 2, 3, 4, 5]

-----

### Dictionaries
- in curly braces like sets
- key value pairs 
- unhashable type can be the key - int/float / char / tuples
- value can be any data-structure
- keys in the dictionary are always unique

In [113]:
coun_pop = [["Afghanistan", 30.55], ["Albania", 2.77]]

In [114]:
coun_pop=="Albania"

False

In [116]:
coun_pop[1][0]=="Albania"

True

In [121]:
countries=[coun_pop[0][0]]+[coun_pop[1][0]]

In [125]:
pop=[coun_pop[0][1]] + [coun_pop[1][1]]

In [127]:
pop[countries.index("Albania")]

2.77

In [128]:
d = dict(coun_pop)

In [129]:
d

{'Afghanistan': 30.55, 'Albania': 2.77}

In [130]:
d["Albania"]

2.77

In [131]:
d.keys()

dict_keys(['Afghanistan', 'Albania'])

In [133]:
d.values()

dict_values([30.55, 2.77])

In [134]:
d.items()

dict_items([('Afghanistan', 30.55), ('Albania', 2.77)])

In [135]:
d.get("Albania")

2.77

In [136]:
d["India"]

KeyError: 'India'

In [139]:
d.get("India", 0)

0

In [140]:
"India" in d

False

In [141]:
"India" not in d

True

In [146]:
d.update({"Afghanistan": 100, "India": 30})

In [147]:
d

{'Afghanistan': 100, 'Albania': 2.77, 'India': 30}

In [149]:
p=d.pop("Afghanistan")
p, d

(100, {'Albania': 2.77, 'India': 30})

----

### String functions

In [156]:
p ="Hello, how are you"
p = 'Hellow, hello, Hello!'
p

'Hellow, hello, Hello!'

In [157]:
p.find("Hello", 4) #to find the second occurrence of the pattern

15

In [158]:
p.rfind("Hello") #last hello will be found

15

In [159]:
p[4]

'o'

In [160]:
p[0]

'H'

In [161]:
p[15]

'H'

In [162]:
p[-1]

'!'

In [163]:
p[:3] #elements indexed 0,1,2

'Hel'

In [164]:
p[::-1]

'!olleH ,olleh ,wolleH'

In [165]:
type(p)

str

In [167]:
p[0] = "M"

TypeError: 'str' object does not support item assignment

In [170]:
p.replace("H", "M", 1)

'Mellow, hello, Hello!'

In [171]:
q = '"Hellooooo", he shouted!'
print(q)

"Hellooooo", he shouted!

In [172]:
r ="\"Hellooooo\", he shouted!" #\ is the escape character

In [173]:
print(r)

"Hellooooo", he shouted!

In [ ]:
#here we are telling the string, that escape the special meaning of "", " has to be treated like a simple character

In [174]:
x = "C:\Users\Vaibhav\Desktop\BA\Datasets"

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-174-054afea41ce4>, line 1)

we want to escape the special meaning of \U

In [175]:
x = "C:\\Users\Vaibhav\Desktop\BA\Datasets"

In [176]:
x

'C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets'

In [177]:
print(x)

C:\Users\Vaibhav\Desktop\BA\Datasets

In [178]:
x = "C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets"

In [179]:
x

'C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets'

In [180]:
print(x)

C:\Users\Vaibhav\Desktop\BA\Datasets

In [182]:
x.find("C:\\Users") #escape the special meaning of the special characters

0

In [183]:
y = "sgdgjhkashgjas \n slgjdlkgklag"
y

'sgdgjhkashgjas \n slgjdlkgklag'

In [184]:
print(y)

sgdgjhkashgjas
 slgjdlkgklag

In [185]:
y = """sgdgjhkashgjas 
slgjdlkgklag"""
y

'sgdgjhkashgjas \nslgjdlkgklag'

In [186]:
print(y)

sgdgjhkashgjas
slgjdlkgklag

In [187]:
"abc" + "def"

'abcdef'

In [188]:
"abc"*3

'abcabcabc'

In [191]:
x = "samridhi dutta"
x[:3]

'sam'

In [190]:
x[4:7]

'idh'

In [192]:
x.capitalize()

'Samridhi dutta'

In [193]:
t = " "

In [195]:
t.join(["1","3","5","5"])

'1 3 5 5'

In [197]:
u = ","
u.join(["12", "7", "9"])

'12,7,9'

In [198]:
"".join(["Samridhi", "Dutta"])

'SamridhiDutta'

----

### List comprehensions
- [return_value for i in list]
- [return_value for x in list if cond]
- [return_value if cond else return_value for i in list]

In [199]:
[x**2 for x in range(5)]

[0, 1, 4, 9, 16]

In [200]:
[x**2 for x in range(5) if x%2==0]

[0, 4, 16]

In [204]:
print([x**2 if(x%2==0) else x**3 for x in range(50)])

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729, 100, 1331, 144, 2197, 196, 3375, 256, 4913, 324, 6859, 400, 9261, 484, 12167, 576, 15625, 676, 19683, 784, 24389, 900, 29791, 1024, 35937, 1156, 42875, 1296, 50653, 1444, 59319, 1600, 68921, 1764, 79507, 1936, 91125, 2116, 103823, 2304, 117649]

In [205]:
char_list = ["how", "are", "you", "doing"]

In [206]:
[x.upper() for x in char_list]

['HOW', 'ARE', 'YOU', 'DOING']

----

In [207]:
data = "Hello World"

In [217]:
alphabets = "abcdefghijklmnopqrstuvwxyz "

In [218]:
print(list(enumerate(alphabets)))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g'), (7, 'h'), (8, 'i'), (9, 'j'), (10, 'k'), (11, 'l'), (12, 'm'), (13, 'n'), (14, 'o'), (15, 'p'), (16, 'q'), (17, 'r'), (18, 's'), (19, 't'), (20, 'u'), (21, 'v'), (22, 'w'), (23, 'x'), (24, 'y'), (25, 'z'), (26, ' ')]

In [223]:
int_char = dict(enumerate(alphabets))
print(int_char)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g', 7: 'h', 8: 'i', 9: 'j', 10: 'k', 11: 'l', 12: 'm', 13: 'n', 14: 'o', 15: 'p', 16: 'q', 17: 'r', 18: 's', 19: 't', 20: 'u', 21: 'v', 22: 'w', 23: 'x', 24: 'y', 25: 'z', 26: ' '}

In [220]:
char_int = dict([(character, idx) for (idx, character) in int_char.items()])
print(char_int)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25, ' ': 26}

In [222]:
integer_encoded = [char_int[char] for char in "Hello World".lower()]
integer_encoded #label encoding

[7, 4, 11, 11, 14, 26, 22, 14, 17, 11, 3]

In [ ]:
#try to get the one hot encoding from this

In [226]:
letter = [0 for var in range(len(alphabets))]
print(letter)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [227]:
len(letter)

27

In [229]:
integer_encoded

[7, 4, 11, 11, 14, 26, 22, 14, 17, 11, 3]

In [228]:
#One hot encoding
ohe = []
for le in integer_encoded:
    letter = [0 for var in range(len(alphabets))]
    letter[le] = 1
    ohe.append(letter)
    
print(ohe)

[[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [231]:
" ".join(["1","3","4"])

'1 3 4'

In [233]:
lst = []
for comp in ohe:
    lst = comp + lst
print(lst)

[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]