In [1]:
from math import sqrt
import scipy.stats as stats
import pandas as pd

In [2]:
hyp = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\Sample_data.csv")
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

----

## CONT + FACTOR (Where 2 levels)

### T-test for unequal variances
no. of rows in sample 1 != no. of rows in sample 2
When the 2 samples are not related. H0 is always mean is equal for the 2 samples, and HA, mean not equal for the 2 samples

In [57]:
#Read and Gender variables

In [58]:
hyp.Gender.value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [59]:
hyp.groupby("Gender").Read.mean()

Gender
0    52.824176
1    51.733945
Name: Read, dtype: float64

In [3]:
g = hyp.groupby("Gender")

In [5]:
group0 = g.get_group(0).Read
len(group0)

91

In [7]:
group1 = g.get_group(1).Read
len(group1)

109

In [ ]:
#to statistically analyse the difference in mean scores of 2 independent distributions of unequal size, we'll use t-test for unequal variance


H0: mean(Male) - mean(Female) for Read = 0

H0: there is no significant difference between marks male and female

Ha: mean(Male) - mean(Female) for Read != 0 

Ha: there is  significant difference between marks male and female

So here we are hypothizing over the difference bet the means of 2 popln

In paired t-test we are hypothizing that the average of the difference between 2 samples is 0, since numbers are anyway same

H0: there is no significant difference between the means two population
Ha: there is significant difference between the means of two population

### Direct Formula: ttest_ind(sample1, sample2)

sample 1 ---> marks obtained in Read for males ----
sample 2 ---> marks obtained in Read for females ----

In [ ]:
hyp[hyp["Gender"]==0].Read

In [14]:
hyp[hyp["Gender"]==0].Read

0     57
2     44
3     63
4     47
5     44
6     50
7     34
8     63
9     57
10    60
11    57
12    73
13    54
14    45
15    42
16    47
17    57
18    68
19    55
20    63
21    63
22    50
23    60
24    37
25    34
26    65
27    47
28    44
29    52
30    42
      ..
62    44
63    34
64    50
65    44
66    60
67    47
68    63
69    50
70    44
71    60
72    73
73    68
74    55
75    47
76    55
77    68
78    31
79    47
80    63
81    36
82    68
83    63
84    55
85    55
86    52
87    34
88    50
89    55
90    52
91    63
Name: Read, Length: 91, dtype: int64

In [ ]:
hyp[hyp["Gender"]==1].Read

In [65]:
stats.ttest_ind(hyp[hyp["Gender"]==0].Read,hyp[hyp["Gender"]==1].Read)
#ttest of 2 independent samples

Ttest_indResult(statistic=0.7480109580953392, pvalue=0.4553410655360075)

In [112]:
#pvalue <= alpha = 5% implies reject the null hypothesis
#pvalue > alpha = 5% means retain the null hypothesis
#mean difference in read scores due to gender is not statistically significant

---

## CONT + CONT for the same respondents
- Correlations

In [68]:
hyp[["Math1", "Math2"]].corr()

          Math1     Math2
Math1  1.000000  0.630733
Math2  0.630733  1.000000

---

## CONT + FACTORS (with more than 2 levels)
- with 2 levels we prefer to use t-test of unequal variances

## ANOVA

In [76]:
#continuous variable ~ factor(s)
#Factor is also known as treatment

H0: there is no significant difference in the marks obt in Read across Prog
Ha: there is a significant difference

In [77]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [78]:
prices= [15,12,14,11,39,45,48,60,65,45,32]
brands = ["Snapzi"]*4 + ["Irisa"]*4 + ["Lolamoon"]*3
print(prices, brands)
df = pd.DataFrame({'price':prices, 'brand': brands})
df

[15, 12, 14, 11, 39, 45, 48, 60, 65, 45, 32] ['Snapzi', 'Snapzi', 'Snapzi', 'Snapzi', 'Irisa', 'Irisa', 'Irisa', 'Irisa', 'Lolamoon', 'Lolamoon', 'Lolamoon']

    price     brand
0      15    Snapzi
1      12    Snapzi
2      14    Snapzi
3      11    Snapzi
4      39     Irisa
5      45     Irisa
6      48     Irisa
7      60     Irisa
8      65  Lolamoon
9      45  Lolamoon
10     32  Lolamoon

H0: Ave price(Snapzi) = Ave.price(Irisa) = Ave Price(Lolamoon)

HA: Ave. Price(Snapzi) != Ave. Price(Irisa)
- or Ave. Price(Irisa) != Ave. Price(Lolamoon)
- or Ave. Price(Lolamoon)!= Ave. Price(Snapzi)
- i.e either of the price is significantly differnet

If average price of either of the brands is significantly different, then we'll conclude that brand is a significant var to predict price.

In [79]:
mod = ols('price~brand', data=df).fit() #ols ordinary least squares
aov = sm.stats.anova_lm(mod) #fitted ols model to be passed
print(aov)

           df       sum_sq      mean_sq          F    PR(>F)
brand     2.0  3068.242424  1534.121212  15.405401  0.001805
Residual  8.0   796.666667    99.583333        NaN       NaN

In [80]:
stats.ttest_ind(df[df["brand"]=="Snapzi"].price,df[df["brand"]=="Irisa"].price)

Ttest_indResult(statistic=-7.761823345023015, pvalue=0.00024052437577656274)

In [81]:
stats.ttest_ind(df[df["brand"]=="Snapzi"].price,df[df["brand"]=="Lolamoon"].price)

Ttest_indResult(statistic=-4.237570937167752, pvalue=0.008188631177791119)

In [82]:
stats.ttest_ind(df[df["brand"]=="Irisa"].price,df[df["brand"]=="Lolamoon"].price)

Ttest_indResult(statistic=0.06958890006392186, pvalue=0.9472182863995552)

---

In [83]:
#Another example on 1-way Anova

In [10]:
hyp.head(2)

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61

In [11]:
hyp.Prog.unique()

array([1, 3, 2], dtype=int64)

In [85]:
mod = ols('SST ~ Prog', data=hyp).fit()
aov = sm.stats.anova_lm(mod) #fitted ols model to be passed
print(aov)

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    874.396845  874.396845  7.847528  0.005594
Residual  198.0  22061.798155  111.423223       NaN       NaN

In [ ]:
#reject H0 
#hence program is a signficant variable for determing the SST

----

## Cont + Factor + Factor - 2-Way Anova

In [124]:
print(pd.value_counts(hyp.SEB))
print()
print(pd.value_counts(hyp.Prog))
print()
pd.crosstab(hyp.Prog, hyp.SEB)

2    95
3    58
1    47
Name: SEB, dtype: int64

2    105
3     50
1     45
Name: Prog, dtype: int64

SEB    1   2   3
Prog
1     16  20   9
2     19  44  42
3     12  31   7

In [113]:
SST ~ SEB + Prog

In [87]:
#variable ~ treatment
mod = ols('SST ~ Prog*SEB', data=hyp).fit() #What is the result across the prog, SEB and combination of Prog and SEB
aov_table = sm.stats.anova_lm(mod) #fitted ols model to be passed

In [88]:
print(aov_table)

             df        sum_sq      mean_sq          F        PR(>F)
Prog        1.0    874.396845   874.396845   8.880084  3.247803e-03
SEB         1.0   2578.815613  2578.815613  26.189595  7.355625e-07
Prog:SEB    1.0    183.414796   183.414796   1.862700  1.738782e-01
Residual  196.0  19299.567747    98.467182        NaN           NaN

H0: the marks obtained in Read is similar across Prog
Ha: there is atleast one significantly different pop

H0: the marks obtained in Read is similar across SEB
Ha: there is atleast one significantly different SEB

H0: the marks obtained in Read is similar across SEB and Program
Ha: there is atleast one significantly different SEB and Prog

According to Anova table, H0 rejected in all the above cases at alpha = 5%

In [117]:
hyp.groupby("Prog").Read.mean()

#According to Anova table, H0 rejected at alpha = 5%, 
#hence there is a significant difference in the mean score of Read acc to Prog

Prog
1    49.755556
2    56.161905
3    46.200000
Name: Read, dtype: float64

In [118]:
hyp.groupby("SEB").Read.mean()
#According to Anova table, H0 rejected at alpha = 5%, 
#hence there is a significant difference in the mean score of Read acc to SEB

SEB
1    48.276596
2    51.578947
3    56.500000
Name: Read, dtype: float64

In [121]:
hyp.groupby(["Prog", "SEB"]).Read.mean().unstack()
#According to Anova table, H0 rejected at alpha = 5%, 
#hence there is a significant difference in the mean score of Read acc to SEB and Prog

SEB         1          2          3
Prog
1     47.5625  51.050000  50.777778
2     53.0000  54.681818  59.142857
3     41.7500  47.516129  48.000000

---

## FACTOR + FACTOR VARS: CHI-SQUARE TEST

### Chi square test of independence - for 2 factor variables (categorical variables)

H0: choice of prog is independent of the race
Ha: choice of prog is not independent of the race, as race changes, choice of program changes

In [69]:
contigency_table = pd.crosstab(hyp.Prog,hyp.Race)
contigency_table

Race   1  2  3   4
Prog
1      4  4  5  32
2     11  6  9  79
3      9  1  6  34

In [70]:
chi_square , p_value, degrees_of_freedom, expected_frequencies=stats.chi2_contingency(contigency_table)
print(expected_frequencies)

[[ 5.4    2.475  4.5   32.625]
 [12.6    5.775 10.5   76.125]
 [ 6.     2.75   5.    36.25 ]]

In [71]:
degrees_of_freedom #(number of levels in var1 - 1)*(number of levels in var2-1)

6

In [72]:
print(chi_square, p_value) 
#H0 retained expected freq not significantly different from actual frequency. The 2 vars are independent.

4.858235889270372 0.5621199676628652

In [73]:
#for choice of program and gender
contigency_table_1 = pd.crosstab(hyp.Prog,hyp.Gender,margins = True)
contigency_table_1

Gender   0    1  All
Prog
1       21   24   45
2       47   58  105
3       23   27   50
All     91  109  200

In [74]:
chi_square , p_value, degrees_of_freedom, expected_frequencies = stats.chi2_contingency(contigency_table_1)
expected_frequencies

array([[ 20.475,  24.525,  45.   ],
       [ 47.775,  57.225, 105.   ],
       [ 22.75 ,  27.25 ,  50.   ],
       [ 91.   , 109.   , 200.   ]])

In [75]:
chi_square, p_value
#hence the 2 vars are not associated. H0 is retained. The expected values are very close to observed values
#chisq. value is very small, H0 retained, hence the 2 variables  are independent

(0.052808702874233455, 0.9999969919815164)