## Class2

### Lists
Lists are heterogenous data structures

In [1]:
x0 = [1,2,3,4,5, "Samridhi", True, 56.6, [3,4,5], (1,2,3)]

In [3]:
l = list()
l

[]

In [5]:
l = []
l

[]

In [6]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [8]:
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [9]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [12]:
x0[0]

1

In [13]:
x0[1]

2

In [14]:
x0[2]

3

In [15]:
x0[-1]

(1, 2, 3)

In [17]:
x0[-2]

[3, 4, 5]

In [18]:
len(x0)

10

In [24]:
x0[-2]

[3, 4, 5]

In [25]:
x0[-2][0]

3

### List Slicing

In [29]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [32]:
x0[2:5], x0[-8: 5], x0[-8:-5], x0[2:-5]

([3, 4, 5], [3, 4, 5], [3, 4, 5], [3, 4, 5])

In [19]:
x0[0:4] #retreive elements 0 - 3 excluding the 4th element

[1, 2, 3, 4]

In [33]:
x0[8:-5]

[]

In [34]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [35]:
x0[:4] #0 to 3

[1, 2, 3, 4]

In [36]:
x0[4:] #4 to end

[5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [37]:
x0[1:9:2] #1, 1+2, 3+2, 5+2

[2, 4, 'Samridhi', 56.6]

In [38]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [39]:
x0[1:9:3] #1, 1+3, 4+3

[2, 5, 56.6]

In [41]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [40]:
x0[::2] #0, 0+2, 2+2, 4+2, 6+2, 8+2

[1, 3, 5, True, [3, 4, 5]]

In [ ]:
x0[:5:2] #starting from 0 - 0, 2, 4

In [43]:
x0[5::2] #starting from 5 to end with a step size of 2 - 5, 5+2, 7+2, - there is no element indexed 11 since length of list is 10

['Samridhi', 56.6, (1, 2, 3)]

In [44]:
x0[::]

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [45]:
x0[-1:-4:-1] #-1, -1-1, -2-1

[(1, 2, 3), [3, 4, 5], 56.6]

In [49]:
x0[:-4:-1]

[(1, 2, 3), [3, 4, 5], 56.6]

In [50]:
x0[:-4] #default step size 1

[1, 2, 3, 4, 5, 'Samridhi']

In [51]:
x0[:-4:] #default step size is +1, then it has to begin from the 0

[1, 2, 3, 4, 5, 'Samridhi']

In [52]:
x0[::-2] #-1, -3, -5, -7, -9, starting from -1 uptil the end

[(1, 2, 3), 56.6, 'Samridhi', 4, 2]

In [53]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3)]

In [55]:
x0[2::-1] #retreive 2nd element, 2-1 element, 1-1 element

[3, 2, 1]

In [56]:
x0[::-1]

[(1, 2, 3), [3, 4, 5], 56.6, True, 'Samridhi', 5, 4, 3, 2, 1]

---

In [ ]:
#Substitute the values

In [57]:
x0[-1] = 6

In [58]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.6, [3, 4, 5], 6]

In [60]:
x0[4]="Dutta"
x0

[1, 2, 3, 4, 'Dutta', 'Samridhi', True, 56.6, [3, 4, 5], 6]

In [62]:
x0[1:3] = ["A", "B"]

In [63]:
x0

[1, 'A', 'B', 4, 'Dutta', 'Samridhi', True, 56.6, [3, 4, 5], 6]

In [65]:
x0[1:5:2] = ["How", "are"]

In [66]:
x0

[1, 'How', 'B', 'are', 'Dutta', 'Samridhi', True, 56.6, [3, 4, 5], 6]

In [72]:
x0[:3:2] = [4,5]
x0

[4, 'How', 5, 'are', 'Dutta', 'Samridhi', True, 56.6, [3, 4, 5], 6]

In [73]:
x0[:3:2] #0th, 2nd

[4, 5]

### Delete the list components

In [74]:
x0

[4, 'How', 5, 'are', 'Dutta', 'Samridhi', True, 56.6, [3, 4, 5], 6]

In [81]:
del x0[5:7] #to delete the 5th and 6th elements

In [76]:
x0

[4, 'How', 5, 'are', 'Dutta', True, 56.6, [3, 4, 5], 6]

In [77]:
a = x0.pop()

In [78]:
a

6

In [79]:
x0

[4, 'How', 5, 'are', 'Dutta', True, 56.6, [3, 4, 5]]

In [82]:
a=x0.pop(2) #inside the paranthesis press <shift+tab>
print(a)
print(x0)

5
[4, 'How', 'are', 'Dutta', [3, 4, 5]]

In [86]:
x0 = x0.remove("are") #x0 is returning a null value, so we lost the list

In [88]:
x0

In [90]:
x0 = [1,2,3,4,5, "Samridhi", True, 56.6, [3,4,5], (1,2,3), 4]

In [91]:
x0.remove(4) #removes the first 4 
#remove fn makes the changes in x0 inplace

In [92]:
x0

[1, 2, 3, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3), 4]

In [93]:
x0.index(4) #to get the index of any element

9

In [94]:
x0.append(4)

In [95]:
x0

[1, 2, 3, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4]

In [103]:
x0.index([3,4,5])

7

In [96]:
x0.index(4) #to get the index of first 4

9

In [99]:
x0.index(4,10) #to get the index of 2nd 4

10

In [100]:
x0.extend([5,6,7])

In [101]:
x0

[1, 2, 3, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7]

In [102]:
x0.append([5,6,7])
x0

[1,
 2,
 3,
 5,
 'Samridhi',
 True,
 56.6,
 [3, 4, 5],
 (1, 2, 3),
 4,
 4,
 5,
 6,
 7,
 [5, 6, 7]]

In [105]:
x0 = x0 + ["Samridhi", "Dutta"] #concatenation

In [107]:
print(x0)

[1, 2, 3, 5, 'Samridhi', True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7], 'Samridhi', 'Dutta']

In [108]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [109]:
x0.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

----

### Shallow and deep copy

In [110]:
l = x0

In [131]:
print(l)

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7], 'Samridhi', 'Dutta']

In [112]:
x0.remove("Samridhi")

In [113]:
x0.remove("Dutta")

In [115]:
x0.remove("Samridhi")

In [116]:
x0

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7]]

In [117]:
l

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7]]

In [ ]:
#When I do a direct assignment, it will create a shallow copy, which means that l and x0 
#will point to the same memory location.
#Any changes made to x0 will also be reflected in l
#Any changes made in l will also be reflected in x0

In [118]:
x0

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7]]

In [120]:
id(x0), id(l) #checking the memory locn of lists l and x0

(1547960290120, 1547960290120)

Create a deep copy using the copy fn

In [129]:
m = x0.copy()
n = list(x0)

In [130]:
id(m), id(x0), id(n) #point to different memory locations
#any changes made to x0 will not be reflected in m
#any changes made to m will not be reflected in x0

(1547958977608, 1547960290120, 1547960466504)

In [123]:
m

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7]]

In [124]:
x0

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7]]

In [125]:
x0.extend(["Samridhi", "Dutta"])

In [127]:
print(x0)

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7], 'Samridhi', 'Dutta']

In [128]:
print(m)

[1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7]]

---

---

### TUPLES
- () - enclose in round paranthesis (1,2,3)
- read-only lists (they are immutable / can't be modified)
- because of immutable property of tuples, they occupy far less memory space than lists, hence programmers love them

In [133]:
tup = ()
tup

()

In [134]:
tup = (1,2,4,"Samridhi", True, [1,2,3])

In [135]:
tup

(1, 2, 4, 'Samridhi', True, [1, 2, 3])

In [136]:
tup[1]

2

In [137]:
tup[1]=5

TypeError: 'tuple' object does not support item assignment

In [139]:
tup[-1].append("Samridhi")

In [140]:
tup

(1, 2, 4, 'Samridhi', True, [1, 2, 3, 'Samridhi'])

In [141]:
tup.count(4)

1

In [144]:
tup[-1].remove("Samridhi")

In [145]:
tup

(1, 2, 4, 'Samridhi', True, [1, 2, 3])

In [146]:
list(tup) #to convert tuple into a list

[1, 2, 4, 'Samridhi', True, [1, 2, 3]]

In [150]:
tup

(1, 2, 4, 'Samridhi', True, [1, 2, 3])

In [151]:
tup = list(tup)
tup

[1, 2, 4, 'Samridhi', True, [1, 2, 3]]

In [152]:
x0 = tuple(x0) #to convert list into a tuple
print(x0)

(1, 2, 3, 5, True, 56.6, [3, 4, 5], (1, 2, 3), 4, 4, 5, 6, 7, [5, 6, 7], 'Samridhi', 'Dutta')

----

## Dictionaries

In [153]:
count_pop = [["Afghanistan", 30.55], ["Albania", 2.7]]

In [166]:
[count_pop[0][0]]

['Afghanistan']

In [159]:
[count_pop[1][0]]

['Albania']

In [167]:
countries = [count_pop[0][0]] + [count_pop[1][0]]

In [161]:
count_pop[0][1]

30.55

In [162]:
count_pop[1][1]

2.7

In [163]:
pop = [count_pop[0][1]] + [count_pop[1][1]]
pop

[30.55, 2.7]

In [171]:
index = countries.index("Albania")
index

1

In [173]:
pop_Albania = pop[index]
pop_Albania

2.7

In [174]:
world = {} #empty dictionary

In [178]:
world = dict([["Afghanistan", 30.55], ["Albania", 2.7]])
world

{'Afghanistan': 30.55, 'Albania': 2.7}

In [179]:
world["Albania"]

2.7

In [ ]:
#key value pairs: keys - integers / float / character / tuples (because of their immutability)
#values: any data structure - list, numpy array, df , int, num, char, strings
#keys of a dictionary are unique

In [180]:
type(world)

dict

In [181]:
type(x0)

tuple

In [182]:
type(tup)

list

In [183]:
world

{'Afghanistan': 30.55, 'Albania': 2.7}

In [184]:
world['Afghanistan']

30.55

In [185]:
world['Albania']

2.7

In [186]:
world['India']

KeyError: 'India'

In [188]:
world.get('Afghanistan', 5)

30.55

In [190]:
world.get('India', 0)

0

In [191]:
world.items()

dict_items([('Afghanistan', 30.55), ('Albania', 2.7)])

In [192]:
world.keys()

dict_keys(['Afghanistan', 'Albania'])

In [193]:
world.values()

dict_values([30.55, 2.7])

In [195]:
world['Afghanistan'] = 45

In [196]:
world

{'Afghanistan': 45, 'Albania': 2.7}

In [197]:
a = {'a': 4, 'b': 6, 'b': 8} #dictionaries can't have duplicate keys

In [198]:
a

{'a': 4, 'b': 8}

In [199]:
"India" in world

False

In [200]:
"Afghanistan" not in world

False

In [201]:
world.update({'Afghanistan': 67, 'India': 89})

In [202]:
world

{'Afghanistan': 67, 'Albania': 2.7, 'India': 89}

---

## String functions

In [203]:
'doesn't'

SyntaxError: invalid syntax (<ipython-input-203-f70cf6904edb>, line 1)

In [204]:
"doesn't"

"doesn't"

In [ ]:
'doesn\'t' #\ or escape means ignore the special meaning of ' and copy as it is

In [206]:
a = '"Yes", he said'
a

'"Yes", he said'

In [ ]:
a

In [210]:
a = "How"
print(a)

How

In [207]:
a = "\"Yes\", he said" #escape symbol will help us ignore the special meaning of the ", rather just copy it as it is 
a

'"Yes", he said'

In [208]:
print(a)

"Yes", he said

In [213]:
print("C:\Users\Vaibhav\Desktop\BA\Datasets")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-213-b47513b8d2e7>, line 1)

In [214]:
print("C:\\Users\Vaibhav\Desktop\BA\Datasets") #esc symbol will ignore the special meaning of \U

C:\Users\Vaibhav\Desktop\BA\Datasets

In [215]:
print(r"C:\Users\Vaibhav\Desktop\BA\Datasets") #r also indicates that ignore the special meaning of the special symbols

C:\Users\Vaibhav\Desktop\BA\Datasets

In [216]:
print(r""Yes", he said")

SyntaxError: invalid syntax (<ipython-input-216-54669cb9953c>, line 1)

In [217]:
print("C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets") #this will ignore the special meaning of all the slashes

C:\Users\Vaibhav\Desktop\BA\Datasets

In [ ]:
#special characters / meta-characters which have got special meanings - and need to be escaped 
#.\|()[]{}^$*+?

In [231]:
print("Raju: How are you?\n\
      Samridhi: Hey, I am doing great! How are you?")# \ is the line continuation character

Raju: How are you?
      Samridhi: Hey, I am doing great! How are you?

In [229]:
print("""Raju: How are you?
      Samridhi: Hey, I am doing great! How are you?""")# \ is the line continuation character

Raju: How are you?
      Samridhi: Hey, I am doing great! How are you?

In [232]:
print('''Raju: How are you?
      Samridhi: Hey, I am doing great! How are you?''')# \ is the line continuation character

Raju: How are you?
      Samridhi: Hey, I am doing great! How are you?

In [234]:
#multi-line commenting can be done using """ or '''
"""
This function describes about concatenation of lists
example []+ []
"""

'\nThis function describes about concatenation of lists\nexample []+ []\n'

In [236]:
"abc" + "def"

'abcdef'

In [237]:
x = "Samridhi"

In [238]:
x.casefold()

'samridhi'

In [239]:
x[0]

'S'

In [240]:
x[1]

'a'

In [241]:
x[-1]

'i'

In [242]:
x[:2]

'Sa'

In [243]:
x[::-1]

'ihdirmaS'

In [245]:
x[1] = "M"

TypeError: 'str' object does not support item assignment

In [246]:
x.replace('i', "<replacement>", 1) #to replace only the first occurrence of i

'Samr<replacement>dhi'

In [249]:
x[:4]+'i'+x[-3:]

'Samridhi'

In [250]:
s = " How     "

In [251]:
s.strip()

'How'

In [252]:
s.lstrip()

'How     '

In [253]:
s.rstrip()

' How'

In [256]:
t = "You are awesome. You are great"

In [255]:
t.find("are")

4

In [258]:
#to find the second are 
t.find("are", 5)

21

In [259]:
t.rindex("e")

27

In [ ]:
#regular expressions can be applied for the strings

---

### Sets
- only the unique values
- there is no order in the sets
- primarily used for set functions like union, intersection, difference
- used to identify the unique values in the list

In [270]:
a = [1,2,3,4,5, "Samridhi", "Samridhi", 1,3,5]

In [271]:
a = set(a)

In [272]:
a

{1, 2, 3, 4, 5, 'Samridhi'}

In [274]:
a[0] #order is not important. It's an unordered data structure

TypeError: 'set' object does not support indexing

In [275]:
a.add(6)

In [276]:
a

{1, 2, 3, 4, 5, 6, 'Samridhi'}

In [277]:
b = {"Samridhi", " How", "Are", 6}

In [278]:
a.intersection(b)

{6, 'Samridhi'}