In [7]:
import nltk
import pandas as pd

In [8]:
doc = "The Indian subcontinent was home to the Indus Valley Civilisation of the bronze age. In India's iron age, the oldest scriptures of Hinduism were composed, social stratification based on caste emerged, and Buddhism and Jainism arose. Political consolidations took place under the Maurya and Gupta Empires; the peninsular Middle Kingdoms influenced the cultures of Southeast Asia. In India's medieval era, Judaism, Zoroastrianism, Christianity, and Islam arrived, and Sikhism emerged, adding to a diverse culture. North India fell to the Delhi Sultanate; south India was united under the Vijayanagara Empire. In the early modern era, the expansive Mughal Empire was followed by East India Company rule."

In [9]:
from nltk import sent_tokenize

In [10]:
texts = sent_tokenize(doc)

In [11]:
texts

['The Indian subcontinent was home to the Indus Valley Civilisation of the bronze age.',
 "In India's iron age, the oldest scriptures of Hinduism were composed, social stratification based on caste emerged, and Buddhism and Jainism arose.",
 'Political consolidations took place under the Maurya and Gupta Empires; the peninsular Middle Kingdoms influenced the cultures of Southeast Asia.',
 "In India's medieval era, Judaism, Zoroastrianism, Christianity, and Islam arrived, and Sikhism emerged, adding to a diverse culture.",
 'North India fell to the Delhi Sultanate; south India was united under the Vijayanagara Empire.',
 'In the early modern era, the expansive Mughal Empire was followed by East India Company rule.']

In [12]:
len(texts)

6

In [13]:
texts[0]=texts[0]+".****...."

In [14]:
texts[1] = texts[1]+"1345**"

In [15]:
texts.append("372-12")

In [16]:
texts

['The Indian subcontinent was home to the Indus Valley Civilisation of the bronze age..****....',
 "In India's iron age, the oldest scriptures of Hinduism were composed, social stratification based on caste emerged, and Buddhism and Jainism arose.1345**",
 'Political consolidations took place under the Maurya and Gupta Empires; the peninsular Middle Kingdoms influenced the cultures of Southeast Asia.',
 "In India's medieval era, Judaism, Zoroastrianism, Christianity, and Islam arrived, and Sikhism emerged, adding to a diverse culture.",
 'North India fell to the Delhi Sultanate; south India was united under the Vijayanagara Empire.',
 'In the early modern era, the expansive Mughal Empire was followed by East India Company rule.',
 '372-12']

In [17]:
#from sklearn.feature_extraction.text import CountVectorizer
#vect_cv = CountVectorizer()

In [37]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect_cv = TfidfVectorizer()

In [38]:
vect_cv.fit(texts)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [39]:
print(vect_cv.get_feature_names())

['12', '1345', '372', 'adding', 'age', 'and', 'arose', 'arrived', 'asia', 'based', 'bronze', 'buddhism', 'by', 'caste', 'christianity', 'civilisation', 'company', 'composed', 'consolidations', 'culture', 'cultures', 'delhi', 'diverse', 'early', 'east', 'emerged', 'empire', 'empires', 'era', 'expansive', 'fell', 'followed', 'gupta', 'hinduism', 'home', 'in', 'india', 'indian', 'indus', 'influenced', 'iron', 'islam', 'jainism', 'judaism', 'kingdoms', 'maurya', 'medieval', 'middle', 'modern', 'mughal', 'north', 'of', 'oldest', 'on', 'peninsular', 'place', 'political', 'rule', 'scriptures', 'sikhism', 'social', 'south', 'southeast', 'stratification', 'subcontinent', 'sultanate', 'the', 'to', 'took', 'under', 'united', 'valley', 'vijayanagara', 'was', 'were', 'zoroastrianism']

In [40]:
print(vect_cv.vocabulary_)

{'the': 66, 'indian': 37, 'subcontinent': 64, 'was': 73, 'home': 34, 'to': 67, 'indus': 38, 'valley': 71, 'civilisation': 15, 'of': 51, 'bronze': 10, 'age': 4, 'in': 35, 'india': 36, 'iron': 40, 'oldest': 52, 'scriptures': 58, 'hinduism': 33, 'were': 74, 'composed': 17, 'social': 60, 'stratification': 63, 'based': 9, 'on': 53, 'caste': 13, 'emerged': 25, 'and': 5, 'buddhism': 11, 'jainism': 42, 'arose': 6, '1345': 1, 'political': 56, 'consolidations': 18, 'took': 68, 'place': 55, 'under': 69, 'maurya': 45, 'gupta': 32, 'empires': 27, 'peninsular': 54, 'middle': 47, 'kingdoms': 44, 'influenced': 39, 'cultures': 20, 'southeast': 62, 'asia': 8, 'medieval': 46, 'era': 28, 'judaism': 43, 'zoroastrianism': 75, 'christianity': 14, 'islam': 41, 'arrived': 7, 'sikhism': 59, 'adding': 3, 'diverse': 22, 'culture': 19, 'north': 50, 'fell': 30, 'delhi': 21, 'sultanate': 65, 'south': 61, 'united': 70, 'vijayanagara': 72, 'empire': 26, 'early': 23, 'modern': 48, 'expansive': 29, 'mughal': 49, 'followed': 31, 'by': 12, 'east': 24, 'company': 16, 'rule': 57, '372': 2, '12': 0}

In [41]:
tr = vect_cv.transform(texts)
tr

<7x76 sparse matrix of type '<class 'numpy.float64'>'
	with 98 stored elements in Compressed Sparse Row format>

In [42]:
tr.shape

(7, 76)

In [43]:
tr.toarray() #to get the dense matrix format

array([[0.        , 0.        , 0.        , 0.        , 0.24144274,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.29086478, 0.        , 0.        , 0.        , 0.        ,
        0.29086478, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.29086478,
        0.        , 0.        , 0.29086478, 0.29086478, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.20637725, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.29086478,
        0.        , 0.47086566, 0.20637725, 0.        , 0.        ,
        0.        , 0.29086478, 0.        , 0.20637725, 0.        ,
        0.        ],
       [0.        , 0.22322015, 0.        , 0.        , 0.18529189,
        0.31676273, 0.22322015, 0.        , 0.        , 0.22322015,
        0.        , 0.22322015, 0.        , 0.22322015, 0.        ,
        0.        , 0.        , 0.22322015, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18529189, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.22322015, 0.        ,
        0.15838137, 0.13750794, 0.        , 0.        , 0.        ,
        0.22322015, 0.        , 0.22322015, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.15838137, 0.22322015, 0.22322015, 0.        ,
        0.        , 0.        , 0.        , 0.22322015, 0.        ,
        0.22322015, 0.        , 0.        , 0.22322015, 0.        ,
        0.        , 0.12045311, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.22322015,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.16578627, 0.        , 0.        , 0.2336565 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.2336565 , 0.        ,
        0.2336565 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.2336565 , 0.        , 0.        ,
        0.        , 0.        , 0.2336565 , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.2336565 ,
        0.        , 0.        , 0.        , 0.        , 0.2336565 ,
        0.2336565 , 0.        , 0.2336565 , 0.        , 0.        ,
        0.        , 0.16578627, 0.        , 0.        , 0.2336565 ,
        0.2336565 , 0.2336565 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.2336565 , 0.        , 0.        ,
        0.        , 0.3782542 , 0.        , 0.2336565 , 0.19395496,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.26012962, 0.        ,
        0.36913948, 0.        , 0.26012962, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.26012962,
        0.        , 0.        , 0.        , 0.        , 0.26012962,
        0.        , 0.        , 0.26012962, 0.        , 0.        ,
        0.21592992, 0.        , 0.        , 0.21592992, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18456974, 0.16024489, 0.        , 0.        , 0.        ,
        0.        , 0.26012962, 0.        , 0.26012962, 0.        ,
        0.        , 0.26012962, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.26012962,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.18456974, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.26012962],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28786532, 0.        , 0.        , 0.        ,
        0.        , 0.23895294, 0.        , 0.        , 0.        ,
        0.28786532, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.35466125, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.28786532, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28786532, 0.        , 0.        , 0.        ,
        0.28786532, 0.31067334, 0.20424905, 0.        , 0.23895294,
        0.28786532, 0.        , 0.28786532, 0.20424905, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.27810875, 0.        , 0.        ,
        0.        , 0.27810875, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.27810875, 0.27810875,
        0.        , 0.23085415, 0.        , 0.23085415, 0.27810875,
        0.        , 0.27810875, 0.        , 0.        , 0.        ,
        0.19732647, 0.17132039, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.27810875, 0.27810875,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.27810875, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.30014374, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.19732647, 0.        ,
        0.        ],
       [0.70710678, 0.        , 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        ]])

In [44]:
pd.DataFrame(tr.toarray(), columns = vect_cv.get_feature_names())

,12,1345,372,adding,age,and,arose,arrived,asia,based,...,the,to,took,under,united,valley,vijayanagara,was,were,zoroastrianism
0,0.000000,0.00000,0.000000,0.00000,0.241443,0.000000,0.00000,0.00000,0.000000,0.00000,...,0.470866,0.206377,0.000000,0.000000,0.000000,0.290865,0.000000,0.206377,0.00000,0.00000
1,0.000000,0.22322,0.000000,0.00000,0.185292,0.316763,0.22322,0.00000,0.000000,0.22322,...,0.120453,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.22322,0.00000
2,0.000000,0.00000,0.000000,0.00000,0.000000,0.165786,0.00000,0.00000,0.233657,0.00000,...,0.378254,0.000000,0.233657,0.193955,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000
3,0.000000,0.00000,0.000000,0.26013,0.000000,0.369139,0.00000,0.26013,0.000000,0.00000,...,0.000000,0.184570,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.26013
4,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000,...,0.310673,0.204249,0.000000,0.238953,0.287865,0.000000,0.287865,0.204249,0.00000,0.00000
5,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000,...,0.300144,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.197326,0.00000,0.00000
6,0.707107,0.00000,0.707107,0.00000,0.000000,0.000000,0.00000,0.00000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000

---

### Binary = True

In [45]:
#if you put binary = True then we can get the presence of absence of the word instead of the count
vect_cv = CountVectorizer(binary = True)
vect_cv.fit(texts)
bow = vect_cv.transform(texts)
bow.toarray()

array([[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 1, 0, 0, 0, 1, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 1, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 1, 0, 1, 1, 0, 1, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int64)

----

## ngram = (1,2) or bi-grams

In [46]:
# N-grams (sets of consecutive words) N=2
# instantiate the count vectorizer
vect_cv = CountVectorizer(ngram_range=(1, 2))

In [47]:
# train (Bow) 
vect_cv.fit(texts)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 2), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [27]:
# get all the feature/token names
print("Vocabulary size: {}".format(len(vect_cv.vocabulary_)))

feature_names = vect_cv.get_feature_names()
print(feature_names)

print("\n\nVocabulary content:\n {}".format(vect_cv.vocabulary_))

Vocabulary size: 173
['12', '1345', '372', '372 12', 'adding', 'adding to', 'age', 'age the', 'and', 'and buddhism', 'and gupta', 'and islam', 'and jainism', 'and sikhism', 'arose', 'arose 1345', 'arrived', 'arrived and', 'asia', 'based', 'based on', 'bronze', 'bronze age', 'buddhism', 'buddhism and', 'by', 'by east', 'caste', 'caste emerged', 'christianity', 'christianity and', 'civilisation', 'civilisation of', 'company', 'company rule', 'composed', 'composed social', 'consolidations', 'consolidations took', 'culture', 'cultures', 'cultures of', 'delhi', 'delhi sultanate', 'diverse', 'diverse culture', 'early', 'early modern', 'east', 'east india', 'emerged', 'emerged adding', 'emerged and', 'empire', 'empire was', 'empires', 'empires the', 'era', 'era judaism', 'era the', 'expansive', 'expansive mughal', 'fell', 'fell to', 'followed', 'followed by', 'gupta', 'gupta empires', 'hinduism', 'hinduism were', 'home', 'home to', 'in', 'in india', 'in the', 'india', 'india company', 'india fell', 'india iron', 'india medieval', 'india was', 'indian', 'indian subcontinent', 'indus', 'indus valley', 'influenced', 'influenced the', 'iron', 'iron age', 'islam', 'islam arrived', 'jainism', 'jainism arose', 'judaism', 'judaism zoroastrianism', 'kingdoms', 'kingdoms influenced', 'maurya', 'maurya and', 'medieval', 'medieval era', 'middle', 'middle kingdoms', 'modern', 'modern era', 'mughal', 'mughal empire', 'north', 'north india', 'of', 'of hinduism', 'of southeast', 'of the', 'oldest', 'oldest scriptures', 'on', 'on caste', 'peninsular', 'peninsular middle', 'place', 'place under', 'political', 'political consolidations', 'rule', 'scriptures', 'scriptures of', 'sikhism', 'sikhism emerged', 'social', 'social stratification', 'south', 'south india', 'southeast', 'southeast asia', 'stratification', 'stratification based', 'subcontinent', 'subcontinent was', 'sultanate', 'sultanate south', 'the', 'the bronze', 'the cultures', 'the delhi', 'the early', 'the expansive', 'the indian', 'the indus', 'the maurya', 'the oldest', 'the peninsular', 'the vijayanagara', 'to', 'to diverse', 'to the', 'took', 'took place', 'under', 'under the', 'united', 'united under', 'valley', 'valley civilisation', 'vijayanagara', 'vijayanagara empire', 'was', 'was followed', 'was home', 'was united', 'were', 'were composed', 'zoroastrianism', 'zoroastrianism christianity']


Vocabulary content:
 {'the': 140, 'indian': 81, 'subcontinent': 136, 'was': 165, 'home': 70, 'to': 152, 'indus': 83, 'valley': 161, 'civilisation': 31, 'of': 109, 'bronze': 21, 'age': 6, 'the indian': 146, 'indian subcontinent': 82, 'subcontinent was': 137, 'was home': 167, 'home to': 71, 'to the': 154, 'the indus': 147, 'indus valley': 84, 'valley civilisation': 162, 'civilisation of': 32, 'of the': 112, 'the bronze': 141, 'bronze age': 22, 'in': 72, 'india': 75, 'iron': 87, 'oldest': 113, 'scriptures': 124, 'hinduism': 68, 'were': 169, 'composed': 35, 'social': 128, 'stratification': 134, 'based': 19, 'on': 115, 'caste': 27, 'emerged': 50, 'and': 8, 'buddhism': 23, 'jainism': 91, 'arose': 14, '1345': 1, 'in india': 73, 'india iron': 78, 'iron age': 88, 'age the': 7, 'the oldest': 149, 'oldest scriptures': 114, 'scriptures of': 125, 'of hinduism': 110, 'hinduism were': 69, 'were composed': 170, 'composed social': 36, 'social stratification': 129, 'stratification based': 135, 'based on': 20, 'on caste': 116, 'caste emerged': 28, 'emerged and': 52, 'and buddhism': 9, 'buddhism and': 24, 'and jainism': 12, 'jainism arose': 92, 'arose 1345': 15, 'political': 121, 'consolidations': 37, 'took': 155, 'place': 119, 'under': 157, 'maurya': 97, 'gupta': 66, 'empires': 55, 'peninsular': 117, 'middle': 101, 'kingdoms': 95, 'influenced': 85, 'cultures': 40, 'southeast': 132, 'asia': 18, 'political consolidations': 122, 'consolidations took': 38, 'took place': 156, 'place under': 120, 'under the': 158, 'the maurya': 148, 'maurya and': 98, 'and gupta': 10, 'gupta empires': 67, 'empires the': 56, 'the peninsular': 150, 'peninsular middle': 118, 'middle kingdoms': 102, 'kingdoms influenced': 96, 'influenced the': 86, 'the cultures': 142, 'cultures of': 41, 'of southeast': 111, 'southeast asia': 133, 'medieval': 99, 'era': 57, 'judaism': 93, 'zoroastrianism': 171, 'christianity': 29, 'islam': 89, 'arrived': 16, 'sikhism': 126, 'adding': 4, 'diverse': 44, 'culture': 39, 'india medieval': 79, 'medieval era': 100, 'era judaism': 58, 'judaism zoroastrianism': 94, 'zoroastrianism christianity': 172, 'christianity and': 30, 'and islam': 11, 'islam arrived': 90, 'arrived and': 17, 'and sikhism': 13, 'sikhism emerged': 127, 'emerged adding': 51, 'adding to': 5, 'to diverse': 153, 'diverse culture': 45, 'north': 107, 'fell': 62, 'delhi': 42, 'sultanate': 138, 'south': 130, 'united': 159, 'vijayanagara': 163, 'empire': 53, 'north india': 108, 'india fell': 77, 'fell to': 63, 'the delhi': 143, 'delhi sultanate': 43, 'sultanate south': 139, 'south india': 131, 'india was': 80, 'was united': 168, 'united under': 160, 'the vijayanagara': 151, 'vijayanagara empire': 164, 'early': 46, 'modern': 103, 'expansive': 60, 'mughal': 105, 'followed': 64, 'by': 25, 'east': 48, 'company': 33, 'rule': 123, 'in the': 74, 'the early': 144, 'early modern': 47, 'modern era': 104, 'era the': 59, 'the expansive': 145, 'expansive mughal': 61, 'mughal empire': 106, 'empire was': 54, 'was followed': 166, 'followed by': 65, 'by east': 26, 'east india': 49, 'india company': 76, 'company rule': 34, '372': 2, '12': 0, '372 12': 3}

In [21]:
# prepare dtm
X_train_cv_dtm = vect_cv.transform(texts)

In [22]:
# create a dataframe
pd.DataFrame(X_train_cv_dtm.toarray(), columns=feature_names)

,12,1345,372,372 12,adding,adding to,age,age the,and,and buddhism,...,vijayanagara,vijayanagara empire,was,was followed,was home,was united,were,were composed,zoroastrianism,zoroastrianism christianity
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,0,0
1,0,1,0,0,0,0,1,1,2,1,...,0,0,0,0,0,0,1,1,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,1,0,0,2,0,...,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,1,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
6,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---

## ngrams (1,3)
eg. East India Company
Indus Valley Civilization

In [23]:
# N=3
# instantiate the count vectorizer
vect_cv = CountVectorizer(ngram_range=(1, 3))

In [24]:
# train (Bow) 
vect_cv.fit(texts)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 3), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [25]:
# get all the feature/token names
print("Vocabulary size: {}".format(len(vect_cv.vocabulary_)))

feature_names = vect_cv.get_feature_names()
print(feature_names)

print("Vocabulary content:\n {}".format(vect_cv.vocabulary_))

Vocabulary size: 266
['12', '1345', '372', '372 12', 'adding', 'adding to', 'adding to diverse', 'age', 'age the', 'age the oldest', 'and', 'and buddhism', 'and buddhism and', 'and gupta', 'and gupta empires', 'and islam', 'and islam arrived', 'and jainism', 'and jainism arose', 'and sikhism', 'and sikhism emerged', 'arose', 'arose 1345', 'arrived', 'arrived and', 'arrived and sikhism', 'asia', 'based', 'based on', 'based on caste', 'bronze', 'bronze age', 'buddhism', 'buddhism and', 'buddhism and jainism', 'by', 'by east', 'by east india', 'caste', 'caste emerged', 'caste emerged and', 'christianity', 'christianity and', 'christianity and islam', 'civilisation', 'civilisation of', 'civilisation of the', 'company', 'company rule', 'composed', 'composed social', 'composed social stratification', 'consolidations', 'consolidations took', 'consolidations took place', 'culture', 'cultures', 'cultures of', 'cultures of southeast', 'delhi', 'delhi sultanate', 'delhi sultanate south', 'diverse', 'diverse culture', 'early', 'early modern', 'early modern era', 'east', 'east india', 'east india company', 'emerged', 'emerged adding', 'emerged adding to', 'emerged and', 'emerged and buddhism', 'empire', 'empire was', 'empire was followed', 'empires', 'empires the', 'empires the peninsular', 'era', 'era judaism', 'era judaism zoroastrianism', 'era the', 'era the expansive', 'expansive', 'expansive mughal', 'expansive mughal empire', 'fell', 'fell to', 'fell to the', 'followed', 'followed by', 'followed by east', 'gupta', 'gupta empires', 'gupta empires the', 'hinduism', 'hinduism were', 'hinduism were composed', 'home', 'home to', 'home to the', 'in', 'in india', 'in india iron', 'in india medieval', 'in the', 'in the early', 'india', 'india company', 'india company rule', 'india fell', 'india fell to', 'india iron', 'india iron age', 'india medieval', 'india medieval era', 'india was', 'india was united', 'indian', 'indian subcontinent', 'indian subcontinent was', 'indus', 'indus valley', 'indus valley civilisation', 'influenced', 'influenced the', 'influenced the cultures', 'iron', 'iron age', 'iron age the', 'islam', 'islam arrived', 'islam arrived and', 'jainism', 'jainism arose', 'jainism arose 1345', 'judaism', 'judaism zoroastrianism', 'judaism zoroastrianism christianity', 'kingdoms', 'kingdoms influenced', 'kingdoms influenced the', 'maurya', 'maurya and', 'maurya and gupta', 'medieval', 'medieval era', 'medieval era judaism', 'middle', 'middle kingdoms', 'middle kingdoms influenced', 'modern', 'modern era', 'modern era the', 'mughal', 'mughal empire', 'mughal empire was', 'north', 'north india', 'north india fell', 'of', 'of hinduism', 'of hinduism were', 'of southeast', 'of southeast asia', 'of the', 'of the bronze', 'oldest', 'oldest scriptures', 'oldest scriptures of', 'on', 'on caste', 'on caste emerged', 'peninsular', 'peninsular middle', 'peninsular middle kingdoms', 'place', 'place under', 'place under the', 'political', 'political consolidations', 'political consolidations took', 'rule', 'scriptures', 'scriptures of', 'scriptures of hinduism', 'sikhism', 'sikhism emerged', 'sikhism emerged adding', 'social', 'social stratification', 'social stratification based', 'south', 'south india', 'south india was', 'southeast', 'southeast asia', 'stratification', 'stratification based', 'stratification based on', 'subcontinent', 'subcontinent was', 'subcontinent was home', 'sultanate', 'sultanate south', 'sultanate south india', 'the', 'the bronze', 'the bronze age', 'the cultures', 'the cultures of', 'the delhi', 'the delhi sultanate', 'the early', 'the early modern', 'the expansive', 'the expansive mughal', 'the indian', 'the indian subcontinent', 'the indus', 'the indus valley', 'the maurya', 'the maurya and', 'the oldest', 'the oldest scriptures', 'the peninsular', 'the peninsular middle', 'the vijayanagara', 'the vijayanagara empire', 'to', 'to diverse', 'to diverse culture', 'to the', 'to the delhi', 'to the indus', 'took', 'took place', 'took place under', 'under', 'under the', 'under the maurya', 'under the vijayanagara', 'united', 'united under', 'united under the', 'valley', 'valley civilisation', 'valley civilisation of', 'vijayanagara', 'vijayanagara empire', 'was', 'was followed', 'was followed by', 'was home', 'was home to', 'was united', 'was united under', 'were', 'were composed', 'were composed social', 'zoroastrianism', 'zoroastrianism christianity', 'zoroastrianism christianity and']
Vocabulary content:
 {'the': 209, 'indian': 121, 'subcontinent': 203, 'was': 253, 'home': 101, 'to': 232, 'indus': 124, 'valley': 248, 'civilisation': 44, 'of': 163, 'bronze': 30, 'age': 7, 'the indian': 220, 'indian subcontinent': 122, 'subcontinent was': 204, 'was home': 256, 'home to': 102, 'to the': 235, 'the indus': 222, 'indus valley': 125, 'valley civilisation': 249, 'civilisation of': 45, 'of the': 168, 'the bronze': 210, 'bronze age': 31, 'the indian subcontinent': 221, 'indian subcontinent was': 123, 'subcontinent was home': 205, 'was home to': 257, 'home to the': 103, 'to the indus': 237, 'the indus valley': 223, 'indus valley civilisation': 126, 'valley civilisation of': 250, 'civilisation of the': 46, 'of the bronze': 169, 'the bronze age': 211, 'in': 104, 'india': 110, 'iron': 130, 'oldest': 170, 'scriptures': 186, 'hinduism': 98, 'were': 260, 'composed': 49, 'social': 192, 'stratification': 200, 'based': 27, 'on': 173, 'caste': 38, 'emerged': 70, 'and': 10, 'buddhism': 32, 'jainism': 136, 'arose': 21, '1345': 1, 'in india': 105, 'india iron': 115, 'iron age': 131, 'age the': 8, 'the oldest': 226, 'oldest scriptures': 171, 'scriptures of': 187, 'of hinduism': 164, 'hinduism were': 99, 'were composed': 261, 'composed social': 50, 'social stratification': 193, 'stratification based': 201, 'based on': 28, 'on caste': 174, 'caste emerged': 39, 'emerged and': 73, 'and buddhism': 11, 'buddhism and': 33, 'and jainism': 17, 'jainism arose': 137, 'arose 1345': 22, 'in india iron': 106, 'india iron age': 116, 'iron age the': 132, 'age the oldest': 9, 'the oldest scriptures': 227, 'oldest scriptures of': 172, 'scriptures of hinduism': 188, 'of hinduism were': 165, 'hinduism were composed': 100, 'were composed social': 262, 'composed social stratification': 51, 'social stratification based': 194, 'stratification based on': 202, 'based on caste': 29, 'on caste emerged': 175, 'caste emerged and': 40, 'emerged and buddhism': 74, 'and buddhism and': 12, 'buddhism and jainism': 34, 'and jainism arose': 18, 'jainism arose 1345': 138, 'political': 182, 'consolidations': 52, 'took': 238, 'place': 179, 'under': 241, 'maurya': 145, 'gupta': 95, 'empires': 78, 'peninsular': 176, 'middle': 151, 'kingdoms': 142, 'influenced': 127, 'cultures': 56, 'southeast': 198, 'asia': 26, 'political consolidations': 183, 'consolidations took': 53, 'took place': 239, 'place under': 180, 'under the': 242, 'the maurya': 224, 'maurya and': 146, 'and gupta': 13, 'gupta empires': 96, 'empires the': 79, 'the peninsular': 228, 'peninsular middle': 177, 'middle kingdoms': 152, 'kingdoms influenced': 143, 'influenced the': 128, 'the cultures': 212, 'cultures of': 57, 'of southeast': 166, 'southeast asia': 199, 'political consolidations took': 184, 'consolidations took place': 54, 'took place under': 240, 'place under the': 181, 'under the maurya': 243, 'the maurya and': 225, 'maurya and gupta': 147, 'and gupta empires': 14, 'gupta empires the': 97, 'empires the peninsular': 80, 'the peninsular middle': 229, 'peninsular middle kingdoms': 178, 'middle kingdoms influenced': 153, 'kingdoms influenced the': 144, 'influenced the cultures': 129, 'the cultures of': 213, 'cultures of southeast': 58, 'of southeast asia': 167, 'medieval': 148, 'era': 81, 'judaism': 139, 'zoroastrianism': 263, 'christianity': 41, 'islam': 133, 'arrived': 23, 'sikhism': 189, 'adding': 4, 'diverse': 62, 'culture': 55, 'india medieval': 117, 'medieval era': 149, 'era judaism': 82, 'judaism zoroastrianism': 140, 'zoroastrianism christianity': 264, 'christianity and': 42, 'and islam': 15, 'islam arrived': 134, 'arrived and': 24, 'and sikhism': 19, 'sikhism emerged': 190, 'emerged adding': 71, 'adding to': 5, 'to diverse': 233, 'diverse culture': 63, 'in india medieval': 107, 'india medieval era': 118, 'medieval era judaism': 150, 'era judaism zoroastrianism': 83, 'judaism zoroastrianism christianity': 141, 'zoroastrianism christianity and': 265, 'christianity and islam': 43, 'and islam arrived': 16, 'islam arrived and': 135, 'arrived and sikhism': 25, 'and sikhism emerged': 20, 'sikhism emerged adding': 191, 'emerged adding to': 72, 'adding to diverse': 6, 'to diverse culture': 234, 'north': 160, 'fell': 89, 'delhi': 59, 'sultanate': 206, 'south': 195, 'united': 245, 'vijayanagara': 251, 'empire': 75, 'north india': 161, 'india fell': 113, 'fell to': 90, 'the delhi': 214, 'delhi sultanate': 60, 'sultanate south': 207, 'south india': 196, 'india was': 119, 'was united': 258, 'united under': 246, 'the vijayanagara': 230, 'vijayanagara empire': 252, 'north india fell': 162, 'india fell to': 114, 'fell to the': 91, 'to the delhi': 236, 'the delhi sultanate': 215, 'delhi sultanate south': 61, 'sultanate south india': 208, 'south india was': 197, 'india was united': 120, 'was united under': 259, 'united under the': 247, 'under the vijayanagara': 244, 'the vijayanagara empire': 231, 'early': 64, 'modern': 154, 'expansive': 86, 'mughal': 157, 'followed': 92, 'by': 35, 'east': 67, 'company': 47, 'rule': 185, 'in the': 108, 'the early': 216, 'early modern': 65, 'modern era': 155, 'era the': 84, 'the expansive': 218, 'expansive mughal': 87, 'mughal empire': 158, 'empire was': 76, 'was followed': 254, 'followed by': 93, 'by east': 36, 'east india': 68, 'india company': 111, 'company rule': 48, 'in the early': 109, 'the early modern': 217, 'early modern era': 66, 'modern era the': 156, 'era the expansive': 85, 'the expansive mughal': 219, 'expansive mughal empire': 88, 'mughal empire was': 159, 'empire was followed': 77, 'was followed by': 255, 'followed by east': 94, 'by east india': 37, 'east india company': 69, 'india company rule': 112, '372': 2, '12': 0, '372 12': 3}

In [26]:
# prepare dtm
X_train_cv_dtm = vect_cv.transform(texts)

In [27]:
# create a dataframe
pd.DataFrame(X_train_cv_dtm.toarray(), columns=feature_names)

,12,1345,372,372 12,adding,adding to,adding to diverse,age,age the,age the oldest,...,was home,was home to,was united,was united under,were,were composed,were composed social,zoroastrianism,zoroastrianism christianity,zoroastrianism christianity and
0,0,0,0,0,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,1,1,...,0,0,0,0,1,1,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---

### Min_df

In [28]:
# Min_df

# Min_df ignores terms that have a document frequency (presence in % of documents) strictly lower 
# than the given threshold. 
# For example, Min_df=0.66 requires that a term appear in 66% of the docuemnts for it to be considered 
# part of the vocabulary.

In [29]:
# Sometimes min_df is used to limit the vocabulary size, so it learns only those terms that appear 
# in at least 10%, 20%, etc. of the documents.

In [30]:
# instantiate the count vectorizer
vect_cv = CountVectorizer(ngram_range=(1, 1), max_df=1.0, min_df=0.2, max_features=None)

---

### Max_df

In [31]:
# Max_df: When building the vocabulary, it ignores terms that have a document 
# frequency strictly higher than the given threshold. 

# This could be used to exclude terms that are too frequent and are 
# unlikely to help predict the label.

In [32]:
# instantiate the count vectorizer
vect_cv = CountVectorizer(ngram_range=(1, 1), max_df=0.5, min_df=0.2, max_features=None)

In [33]:
# Max_features

# Limit the amount of features (vocabulary) that the vectorizer will learn

In [34]:
# instantiate the count vectorizer
vect_cv = CountVectorizer(ngram_range=(1, 1), max_df=0.5, min_df=0.2, max_features=6)

In [35]:
# train (Bow) 
vect_cv.fit(texts)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=0.5, max_features=6, min_df=0.2,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [36]:
# get all the feature/token names
print("Vocabulary size: {}".format(len(vect_cv.vocabulary_)))

feature_names = vect_cv.get_feature_names()
print(feature_names)

print("Vocabulary content:\n {}".format(vect_cv.vocabulary_))

Vocabulary size: 6
['age', 'and', 'in', 'of', 'to', 'was']
Vocabulary content:
 {'was': 5, 'to': 4, 'of': 3, 'age': 0, 'in': 2, 'and': 1}

---

### Stopwords

In [37]:
# stopwords

# instantiate the count vectorizer
vect_cv = CountVectorizer(ngram_range=(1, 1), stop_words='english', max_features=None)

In [38]:
# train (Bow) 
vect_cv.fit(texts)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [39]:
# get all the feature/token names
print("Vocabulary size: {}".format(len(vect_cv.vocabulary_)))

feature_names = vect_cv.get_feature_names()
print(feature_names)

print("Vocabulary content:\n {}".format(vect_cv.vocabulary_))
#notice all the stopwords like the / and have been removed

Vocabulary size: 66
['12', '1345', '372', 'adding', 'age', 'arose', 'arrived', 'asia', 'based', 'bronze', 'buddhism', 'caste', 'christianity', 'civilisation', 'company', 'composed', 'consolidations', 'culture', 'cultures', 'delhi', 'diverse', 'early', 'east', 'emerged', 'empire', 'empires', 'era', 'expansive', 'fell', 'followed', 'gupta', 'hinduism', 'home', 'india', 'indian', 'indus', 'influenced', 'iron', 'islam', 'jainism', 'judaism', 'kingdoms', 'maurya', 'medieval', 'middle', 'modern', 'mughal', 'north', 'oldest', 'peninsular', 'place', 'political', 'rule', 'scriptures', 'sikhism', 'social', 'south', 'southeast', 'stratification', 'subcontinent', 'sultanate', 'took', 'united', 'valley', 'vijayanagara', 'zoroastrianism']
Vocabulary content:
 {'indian': 34, 'subcontinent': 59, 'home': 32, 'indus': 35, 'valley': 63, 'civilisation': 13, 'bronze': 9, 'age': 4, 'india': 33, 'iron': 37, 'oldest': 48, 'scriptures': 53, 'hinduism': 31, 'composed': 15, 'social': 55, 'stratification': 58, 'based': 8, 'caste': 11, 'emerged': 23, 'buddhism': 10, 'jainism': 39, 'arose': 5, '1345': 1, 'political': 51, 'consolidations': 16, 'took': 61, 'place': 50, 'maurya': 42, 'gupta': 30, 'empires': 25, 'peninsular': 49, 'middle': 44, 'kingdoms': 41, 'influenced': 36, 'cultures': 18, 'southeast': 57, 'asia': 7, 'medieval': 43, 'era': 26, 'judaism': 40, 'zoroastrianism': 65, 'christianity': 12, 'islam': 38, 'arrived': 6, 'sikhism': 54, 'adding': 3, 'diverse': 20, 'culture': 17, 'north': 47, 'fell': 28, 'delhi': 19, 'sultanate': 60, 'south': 56, 'united': 62, 'vijayanagara': 64, 'empire': 24, 'early': 21, 'modern': 45, 'expansive': 27, 'mughal': 46, 'followed': 29, 'east': 22, 'company': 14, 'rule': 52, '372': 2, '12': 0}

---

### Countvectorizer class can't do stemming
For this we need to modify the tokenizer parameter

In [40]:
# notice the lack of stemming .. fish and fishes, meowed	meowing

# CountVectorizer can 
# - lowercase letters, 
# - disregard punctuation and 
# - stopwords, 

# but it can't LEMMATIZE or STEM

In [31]:
# create the stemmer object
from nltk import PorterStemmer
porter_stemmer = PorterStemmer()
print(porter_stemmer.stem("fish"))
print(porter_stemmer.stem("fishes"))
print(porter_stemmer.stem("meowed"))
print(porter_stemmer.stem("meowing"))

fish
fish
meow
meow

In [28]:
import re
# Use NLTK's PorterStemmer
def stemming_tokenizer(str_input):
    ##note . removed and replaced by space - anything other than A-Za-z0-9\- by " "
    words = re.sub(r"[^A-Za-z0-9\-]", " ", str_input).lower().split()
    #to take off the numbers also: words = re.sub(r"[^A-Za-z\-]", " ", str_input).lower().split()
    words = [porter_stemmer.stem(word) for word in words]
    return words

In [29]:
texts[1]

"In India's iron age, the oldest scriptures of Hinduism were composed, social stratification based on caste emerged, and Buddhism and Jainism arose.1345**"

In [32]:
stemming_tokenizer(texts[1])

#then converted to lower case
#then split was made and then each word in the list stemmed.

['in',
 'india',
 's',
 'iron',
 'age',
 'the',
 'oldest',
 'scriptur',
 'of',
 'hinduism',
 'were',
 'compos',
 'social',
 'stratif',
 'base',
 'on',
 'cast',
 'emerg',
 'and',
 'buddhism',
 'and',
 'jainism',
 'aros',
 '1345']

In [45]:
# instantiate the count vectorizer
vect_cv = CountVectorizer(ngram_range=(1, 1), stop_words='english', tokenizer=stemming_tokenizer, max_features=None)

In [46]:
# train (Bow) 
vect_cv.fit(texts)

C:\Users\Vaibhav\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'formerli', 'forti', 'ha', 'henc', 'hereaft', 'herebi', 'hi', 'howev', 'hundr', 'inde', 'latterli', 'mani', 'meanwhil', 'moreov', 'mostli', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'seriou', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'thi', 'thu', 'togeth', 'twelv', 'twenti', 'veri', 'wa', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=<function stemming_tokenizer at 0x0000029D58732AE8>,
                vocabulary=None)

In [47]:
# get all the feature/token names
print("Vocabulary size: {}".format(len(vect_cv.vocabulary_)))

feature_names = vect_cv.get_feature_names()
print(feature_names)

Vocabulary size: 65
['1345', '372-12', 'ad', 'age', 'aros', 'arriv', 'asia', 'base', 'bronz', 'buddhism', 'cast', 'christian', 'civilis', 'compani', 'compos', 'consolid', 'cultur', 'delhi', 'divers', 'earli', 'east', 'emerg', 'empir', 'era', 'expans', 'fell', 'follow', 'gupta', 'hinduism', 'home', 'india', 'indian', 'indu', 'influenc', 'iron', 'islam', 'jainism', 'judaism', 'kingdom', 'maurya', 'mediev', 'middl', 'modern', 'mughal', 'north', 'oldest', 'peninsular', 'place', 'polit', 'rule', 's', 'scriptur', 'sikhism', 'social', 'south', 'southeast', 'stratif', 'subcontin', 'sultan', 'took', 'unit', 'valley', 'vijayanagara', 'wa', 'zoroastrian']

In [48]:
# prepare dtm
X_train_cv_dtm = vect_cv.transform(texts)

In [49]:
# create a dataframe
pd.DataFrame(X_train_cv_dtm.toarray(), columns=feature_names)

,1345,372-12,ad,age,aros,arriv,asia,base,bronz,buddhism,...,southeast,stratif,subcontin,sultan,took,unit,valley,vijayanagara,wa,zoroastrian
0,0,0,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
1,1,0,0,1,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,1,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

----

### To take off the numbers

In [50]:
#i can chage the regular expression used for tokenization

In [33]:
vect_cv = CountVectorizer(token_pattern="\\b[A-Za-z][A-Za-z]+\\b")

In [34]:
texts[1:2]

["In India's iron age, the oldest scriptures of Hinduism were composed, social stratification based on caste emerged, and Buddhism and Jainism arose.1345**"]

In [35]:
vect_cv.fit(texts)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='\\b[A-Za-z][A-Za-z]+\\b',
                tokenizer=None, vocabulary=None)

In [36]:
print(vect_cv.get_feature_names())

['adding', 'age', 'and', 'arose', 'arrived', 'asia', 'based', 'bronze', 'buddhism', 'by', 'caste', 'christianity', 'civilisation', 'company', 'composed', 'consolidations', 'culture', 'cultures', 'delhi', 'diverse', 'early', 'east', 'emerged', 'empire', 'empires', 'era', 'expansive', 'fell', 'followed', 'gupta', 'hinduism', 'home', 'in', 'india', 'indian', 'indus', 'influenced', 'iron', 'islam', 'jainism', 'judaism', 'kingdoms', 'maurya', 'medieval', 'middle', 'modern', 'mughal', 'north', 'of', 'oldest', 'on', 'peninsular', 'place', 'political', 'rule', 'scriptures', 'sikhism', 'social', 'south', 'southeast', 'stratification', 'subcontinent', 'sultanate', 'the', 'to', 'took', 'under', 'united', 'valley', 'vijayanagara', 'was', 'were', 'zoroastrianism']

In [55]:
# prepare dtm
X_train_cv_dtm = vect_cv.transform(texts)

In [56]:
# create a dataframe
d = pd.DataFrame(X_train_cv_dtm.toarray(), columns=vect_cv.get_feature_names())
d

,adding,age,and,arose,arrived,asia,based,bronze,buddhism,by,...,the,to,took,under,united,valley,vijayanagara,was,were,zoroastrianism
0,0,1,0,0,0,0,0,1,0,0,...,3,1,0,0,0,1,0,1,0,0
1,0,1,2,1,0,0,1,0,1,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0,...,3,0,1,1,0,0,0,0,0,0
3,1,0,2,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,2,1,0,1,1,0,1,1,0,0
5,0,0,0,0,0,0,0,0,0,1,...,2,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0