# CLASS 2

## BASICS OF PYTHON

#### 3 Types of cells:
- code cell - to do the coding
- markdown cell
- raw cell

#### 2 modes:
- command mode - to command (any shortcut keys can be executed in command mode)(press ctrl+m to reach the command mode from the edit mode)
- edit mode - a cell can be edited when it is in the edit mode (press enter to reach the edit mode from the command mode)

#### Shortcut keys - can only be used in the command mode
- b - to create a cell below
- a - to create a cell above
- ctrl+m - to get into the markdown mode
- enter key - to get into the edit mode
- f - for find and replace
- ctrl + ] - indentation
- ctrl + left sq brace - dedentation
- ctrl + enter / shift + enter - to execute a cell
- up and down arrow keys to scroll up and down

#### About Python
- General Purpose Programming Language
- Python R SAS are statistical programming languages
- object oriented programming language (concept of classes - encapsulation, polymorphism, abstraction, inheritance)

print("markdown cell")

In [1]:
print("codecell")

codecell

print("raw cell")

### Concept of classes

In [6]:
class Person:
    def __init__(self, nm, age): #initialization method - initializes the attributes of the class
        self.name = nm #attributes of class person
        self.age = age
    def show_salary(self): #method of the class
        print("Salary is unknown")

In [7]:
Raj = Person("Raj", 24)

In [8]:
Raj.name

'Raj'

In [9]:
Raj.age

24

In [12]:
Raj.show_salary()

Salary is unknown

In [15]:
type("how are you")

str

In [9]:
"how "

'how '

In [14]:
type(67)

int

In [10]:
a = 5

In [11]:
type(a) #a is an instance / object of class integer

int

In [20]:
type(Raj) #__main__ means that this class has been created in this python notebook file

__main__.Person

In [ ]:
#Raj variable is an instance of class Person

In [ ]:
#a. press tab to check the attributes and methods of corresponding to integer class

In [21]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [22]:
dir(56)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [23]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

----

### How to access help / docstring of a function

In [25]:
?type

Init signature: type(self, /, *args, **kwargs)
Docstring:
type(object_or_name, bases, dict)
type(object) -> the object's type
type(name, bases, dict) -> a new type
Type:           type
Subclasses:     ABCMeta, EnumMeta, _TemplateMetaclass, MetaHasDescriptors, LexerMeta, _ProtocolMeta, NamedTupleMeta, StyleMeta, _NormalizerMeta, PyCStructType, ...

In [75]:
b = "Samridhi" #b is an object of string class

In [76]:
b.capitalize() #press shift + tab inside the paranthesis to get the docstring of the function

'Samridhi'

In [29]:
?b.capitalize

Signature: b.capitalize()
Docstring:
Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower
case.
Type:      builtin_function_or_method

In [ ]:
#ARITHMETIC OPERATORS: + - / * %(remainder) //(quotient)

In [30]:
a = 5

In [31]:
b = 2

In [32]:
a/b

2.5

In [33]:
a % b

1

In [34]:
a // b

2

In [ ]:
# logical operators <, >, ==,<=, >=, !=

In [35]:
a == b # to compare a and b whereas single equal to is for assignment

False

In [ ]:
# & |

In [36]:
a>b & b>5 #if both the conditions are true, then we get the true else if either is false, we get a false

False

In [37]:
a>b and b>5

False

In [38]:
a>b | b>5 # or operator: either of the conditions is true then we get a true; if both are false, we get a false

False

In [39]:
(a>b) or (b>5) | (c<9)

True

#### concept of Polymorphism - for different datastructures + performs different operations
- for numerical it does a simple addition
- for strings - it does concatenation
- for lists - it does concatenation
- for arrays and matrices, it does element wise addition

In [41]:
5 + 6 #simple addition

11

In [42]:
"ab" + "cd" #concatenation

'abcd'

In [43]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

#### *

In [44]:
4*5

20

In [45]:
"ab"*3

'ababab'

In [46]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

#### Explicit type-casting or Datatype conversion using the keywords - int / float / string / lists / tuples

In [13]:
a = 5

In [14]:
type(a)

int

In [49]:
a = float(a)

In [50]:
a

5.0

In [51]:
type(a)

float

In [56]:
x = "I have saved $" + 50

TypeError: can only concatenate str (not "int") to str

In [54]:
x = "I have saved $" + str(50)
x

'I have saved $50'

In [15]:
x = input("Please enter a number: ")

Please enter a number: 46

In [16]:
x

'46'

In [18]:
print("I have saved $" + x + " and now I am preparing to save more")

I have saved $46 and now I am preparing to save more

In [22]:
print("I have saved $", x, " and now I am preparing to save more", sep = "")

I have saved $46 and now I am preparing to save more

In [25]:
a = 100, b = 50, c = 66

SyntaxError: can't assign to literal (<ipython-input-25-f59452d682cf>, line 1)

In [64]:
a,b,c = 100,50,66

In [66]:
a = 100; b = 50; c = 66

In [26]:
a = 100;
b=50;
c="Samridhi";

In [78]:
print("Age of Anu  {}, Age of Raj {}, Age of Meera {}".format(a,b,c)) #curly braces for the place-holders of the values

Age of Anu  100, Age of Raj 50, Age of Meera Samridhi

In [73]:
print("Age of Anu {}, Age of Raj {}, Age of Meera {}".format(b,a,c))

Age of Anu 50, Age of Raj 100, Age of Meera 66

In [74]:
print("Age of Anu {}, Age of Raj {}, Age of Meera {}".format(100,34,90))

Age of Anu 100, Age of Raj 34, Age of Meera 90

In [71]:
print("Age of Anu {1}, Age of Raj {0}, Age of Meera {2}".format(a,b,c))

Age of Anu 50, Age of Raj 100, Age of Meera 66

In [27]:
a,b,c

(100, 50, 'Samridhi')

In [28]:
p = 'a = {2} b= {0} c= {1}'.format(c,a, b)

In [29]:
p

'a = 50 b= Samridhi c= 100'

In [38]:
"{:.5g}".format(10.358963) #to get the 4 significant digits

'10.359'

In [32]:
"{:.3f}".format(10.678904) #this will give a precision of 3 in the float value

'10.679'

In [36]:
R2 = 34.9086
print("Rsq: %.3f"%R2)

Rsq: 34.909

In [39]:
print("My name is %s"%'Samridhi')

My name is Samridhi

In [40]:
print("a: %d"%a)

a: 100

In [41]:
print("Rsq: %.4g"%R2)

Rsq: 34.91

### LISTS
- int float string list tuple

In [42]:
x0 = [1,3,4, "Samridhi", True, ["a", "b","c"], (1,2,3)]

In [43]:
x0

[1, 3, 4, 'Samridhi', True, ['a', 'b', 'c'], (1, 2, 3)]

In [44]:
type(x0)

list

In [45]:
dir(x0)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [46]:
a = []

In [47]:
a.append(1)

In [48]:
a

[1]

In [49]:
a.append("Samridhi")

In [50]:
a

[1, 'Samridhi']

In [53]:
a.extend(["a", 10,10])

In [54]:
a

[1, 'Samridhi', 'a', 10, 100, 'a', 10, 10]

In [55]:
a[0], a[-8]

(1, 1)

In [56]:
a[1], a[-7]

('Samridhi', 'Samridhi')

In [57]:
a[2], a[-6]

('a', 'a')

In [64]:
a

[1, 'Samridhi', 'a', 10, 100, 'a', 10, 10]

In [59]:
a[0:4], a[-8:-4]

([1, 'Samridhi', 'a', 10], [1, 'Samridhi', 'a', 10])

In [60]:
a[:4], a[:-4]

([1, 'Samridhi', 'a', 10], [1, 'Samridhi', 'a', 10])

In [61]:
a[4:], a[-4:]

([100, 'a', 10, 10], [100, 'a', 10, 10])

In [62]:
a[4:7], a[-4:-1]

([100, 'a', 10], [100, 'a', 10])

In [ ]:
#sequencing in list slicing

In [63]:
a[2:7:1],

['a', 10, 100, 'a', 10]

In [ ]:
#start index + step size

In [65]:
a[2:7:2] #elements 2 + 4 + 6

['a', 100, 10]

In [66]:
b = [10,20,30,40,50]

In [68]:
b[-1:-5:-1]#starting -1, -1-1, -2-1,-3-1,-4-1

[50, 40, 30, 20]

In [69]:
b[:-5:-1]

[50, 40, 30, 20]

In [70]:
b[::-1]

[50, 40, 30, 20, 10]

In [71]:
b[1::2] #1, 1+2, 3+2

[20, 40]

In [72]:
b[-4:-2]

[20, 30]

In [73]:
b[-2:-4] #the default step size: +1

[]

In [74]:
b[-2:-4:-1]

[40, 30]

In [75]:
b[::-1]

[50, 40, 30, 20, 10]

In [76]:
b[::1]

[10, 20, 30, 40, 50]

In [77]:
#the way to retreive 0th and 2nd element
b[0,2]

NameError: name 'lst' is not defined

In [79]:
b[0], b[2]

(10, 30)

In [81]:
[b[0]]+[b[2]]

[10, 30]

In [82]:
b[0:3:2]

[10, 30]

In [83]:
del b[4]

In [84]:
b

[10, 20, 30, 40]

### Shallow copy and deep copy concept

In [87]:
b[2] = 100

In [88]:
b

[10, 20, 100, 40]

In [89]:
p = b #it creates a shallow copy

In [90]:
p

[10, 20, 100, 40]

In [92]:
b[1] = -100

In [93]:
b

[10, -100, 100, 40]

In [94]:
p

[10, -100, 100, 40]

In [102]:
q = b.copy() #2 ways to create a deep copy
r = list(b)

In [99]:
b[1]= -.1

In [100]:
b,p,q

([10, -0.1, 100, 40], [10, -0.1, 100, 40], [10, -10000, 100, 40])

In [103]:
id(b), id(p), id(q),id(r)

(1560215625544, 1560215625544, 1560216717640, 1560219809032)

---

### Tuples
- immutable
- read only lists
- tuples in () and lists in []

In [104]:
a = ()

In [105]:
a

()

In [106]:
a = (1,2,[4,5,6], (6, "Samridhi"))

In [107]:
a

(1, 2, [4, 5, 6], (6, 'Samridhi'))

In [108]:
a[-1]

(6, 'Samridhi')

In [110]:
a[-2].append("Samridhi")

In [111]:
a

(1, 2, [4, 5, 6, 'Samridhi'], (6, 'Samridhi'))

In [112]:
a.count(2)

1

In [113]:
a.index(1)

0

In [114]:
#to convert a tuple into a list
list(a)

[1, 2, [4, 5, 6, 'Samridhi'], (6, 'Samridhi')]

In [118]:
tuple(b)

(10, -0.1, 100, 40)

---

### Sets
- in the {}
- use sets to remove the duplicate values of a list
- supports set operations like union / intersection / difference
- sets don't have an order / index
- make use of sets when you have an unordered set of unique values

In [119]:
lst = [1,2,4,5,6,2,3,"Samridhi",5,"Samridhi"]

In [120]:
a = set(lst)

In [121]:
a

{1, 2, 3, 4, 5, 6, 'Samridhi'}

In [122]:
b = {5,6,10}

In [123]:
a.intersection(b)

{5, 6}

----

### Dictionaries
- key value pairs
- strings / int / float / tuples are the keys

In [125]:
coun_pop = [["Afghanistan", 30.55], ["Albania",2.77]]

In [134]:
countries=[coun_pop[0][0]]+[coun_pop[1][0]]
countries

['Afghanistan', 'Albania']

In [133]:
pop = [coun_pop[0][1]] + [coun_pop[1][1]]

In [135]:
pop[countries.index("Albania")]

2.77

In [136]:
cp = dict(coun_pop)

In [137]:
cp

{'Afghanistan': 30.55, 'Albania': 2.77}

In [139]:
cp["Albania"]

2.77

In [140]:
type(cp)

dict

In [141]:
cp.items()

dict_items([('Afghanistan', 30.55), ('Albania', 2.77)])

In [142]:
cp.keys()

dict_keys(['Afghanistan', 'Albania'])

In [143]:
cp.values()

dict_values([30.55, 2.77])

In [148]:
cp.get("India", 0)

0

In [146]:
cp["India"]

KeyError: 'India'

In [149]:
"India" in cp

False

In [150]:
"India" not in cp

True

In [151]:
cp.update({"Afghanistan": 100, "India": 50})

-----

### String functions

In [153]:
p = '"Hello", how are you'
print(p)

"Hello", how are you

In [ ]:
"doesn't"

In [154]:
p = "\"Hello\", how are you?" #special meaning of the "" has to be escaped
print(p)

"Hello", how are you?

In [ ]:
q = 'doesn\'t' #special meaning of the single quote has to be escaped, and the quote has to be copied as it is

In [157]:
print("C:\\Users\Vaibhav\Desktop\\newfolder")

C:\Users\Vaibhav\Desktop\newfolder

In [158]:
print(r"C:\Users\Vaibhav\Desktop\newfolder") #raw string without any special symbols

C:\Users\Vaibhav\Desktop\newfolder

In [162]:
print("Raju: How are you?
      Samridhi: Hey I am doing great") #\ is the line continuation character

SyntaxError: EOL while scanning string literal (<ipython-input-162-c4ea752f80f0>, line 1)

In [160]:
print("Raju: How are you? \n\
      Samridhi: Hey I am doing great") #\ is the line continuation character

Raju: How are you?
      Samridhi: Hey I am doing great

In [161]:
print("""Raju: How are you?
      Samridhi: Hey I am doing great""")

Raju: How are you?
      Samridhi: Hey I am doing great

In [163]:
"abc"+"def"

'abcdef'

In [164]:
"abc"*3

'abcabcabc'

In [165]:
#Slicing for strings is similar to lists
x = "Samridhi Dutta"

In [166]:
x[:3]

'Sam'

In [167]:
x[10:14]

'utta'

In [168]:
x[::-1]

'attuD ihdirmaS'

In [170]:
x[0] = "M"

TypeError: 'str' object does not support item assignment

In [172]:
x.replace("S", "M")

'Mamridhi Dutta'

In [173]:
x.find("rid")

3

In [181]:
x = "Samridhi"
x.rindex("i")

7