In [ ]:
#!pip install nltk

In [1]:
import nltk

In [2]:
#nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
sentence = "Wonderful! How are you doing?"

In [5]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [4]:
para = "India (official name: the Republic of India;[19] Hindi: Bhārat Gaṇarājya) is a country in South Asia. It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world. Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[d] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east. In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand and Indonesia. Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.[20] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.[21] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus valley civilisation of the third millennium BCE.[22] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest, unfolding as the language of the Vedas, and recording the dawning of Hinduism in India.[23] The Dravidian languages of India were supplanted in the northern regions.[24] By 400 BCE, stratification and exclusion by caste had emerged within Hinduism,[25] and Buddhism and Jainism had arisen, proclaiming social orders unlinked to heredity.[26] Early political consolidations gave rise to the loose-knit Maurya and Gupta empires based in the Ganges basin,[27] their collective era suffused with wide-ranging creativity,[28] but also marked by the declining status of women,[29] and the incorporation of untouchability into an organized system of belief.[e][30] In south India, the Middle kingdoms exported Dravidian-languages scripts and religious cultures to the kingdoms of southeast Asia."

In [6]:
sent_tokenize(para)

['India (official name: the Republic of India;[19] Hindi: Bhārat Gaṇarājya) is a country in South Asia.',
 'It is the seventh-largest country by area, the second-most populous country, and the most populous democracy in the world.',
 'Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west;[d] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east.',
 'In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand and Indonesia.',
 'Modern humans arrived on the Indian subcontinent from Africa no later than 55,000 years ago.',
 '[20] Their long occupation, initially in varying forms of isolation as hunter-gatherers, has made the region highly diverse, second only to Africa in human genetic diversity.',
 '[21] Settled life emerged on the subcontinent in the western margins of the Indus river basin 9,000 years ago, evolving gradually into the Indus valley civilisation of the third millennium BCE.',
 '[22] By 1200 BCE, an archaic form of Sanskrit, an Indo-European language, had diffused into India from the northwest, unfolding as the language of the Vedas, and recording the dawning of Hinduism in India.',
 '[23] The Dravidian languages of India were supplanted in the northern regions.',
 '[24] By 400 BCE, stratification and exclusion by caste had emerged within Hinduism,[25] and Buddhism and Jainism had arisen, proclaiming social orders unlinked to heredity.',
 '[26] Early political consolidations gave rise to the loose-knit Maurya and Gupta empires based in the Ganges basin,[27] their collective era suffused with wide-ranging creativity,[28] but also marked by the declining status of women,[29] and the incorporation of untouchability into an organized system of belief.',
 '[e][30] In south India, the Middle kingdoms exported Dravidian-languages scripts and religious cultures to the kingdoms of southeast Asia.']

In [7]:
word_tokenize(para)

['India',
 '(',
 'official',
 'name',
 ':',
 'the',
 'Republic',
 'of',
 'India',
 ';',
 '[',
 '19',
 ']',
 'Hindi',
 ':',
 'Bhārat',
 'Gaṇarājya',
 ')',
 'is',
 'a',
 'country',
 'in',
 'South',
 'Asia',
 '.',
 'It',
 'is',
 'the',
 'seventh-largest',
 'country',
 'by',
 'area',
 ',',
 'the',
 'second-most',
 'populous',
 'country',
 ',',
 'and',
 'the',
 'most',
 'populous',
 'democracy',
 'in',
 'the',
 'world',
 '.',
 'Bounded',
 'by',
 'the',
 'Indian',
 'Ocean',
 'on',
 'the',
 'south',
 ',',
 'the',
 'Arabian',
 'Sea',
 'on',
 'the',
 'southwest',
 ',',
 'and',
 'the',
 'Bay',
 'of',
 'Bengal',
 'on',
 'the',
 'southeast',
 ',',
 'it',
 'shares',
 'land',
 'borders',
 'with',
 'Pakistan',
 'to',
 'the',
 'west',
 ';',
 '[',
 'd',
 ']',
 'China',
 ',',
 'Nepal',
 ',',
 'and',
 'Bhutan',
 'to',
 'the',
 'north',
 ';',
 'and',
 'Bangladesh',
 'and',
 'Myanmar',
 'to',
 'the',
 'east',
 '.',
 'In',
 'the',
 'Indian',
 'Ocean',
 ',',
 'India',
 'is',
 'in',
 'the',
 'vicinity',
 'of',
 'Sri',
 'Lanka',
 'and',
 'the',
 'Maldives',
 ';',
 'its',
 'Andaman',
 'and',
 'Nicobar',
 'Islands',
 'share',
 'a',
 'maritime',
 'border',
 'with',
 'Thailand',
 'and',
 'Indonesia',
 '.',
 'Modern',
 'humans',
 'arrived',
 'on',
 'the',
 'Indian',
 'subcontinent',
 'from',
 'Africa',
 'no',
 'later',
 'than',
 '55,000',
 'years',
 'ago',
 '.',
 '[',
 '20',
 ']',
 'Their',
 'long',
 'occupation',
 ',',
 'initially',
 'in',
 'varying',
 'forms',
 'of',
 'isolation',
 'as',
 'hunter-gatherers',
 ',',
 'has',
 'made',
 'the',
 'region',
 'highly',
 'diverse',
 ',',
 'second',
 'only',
 'to',
 'Africa',
 'in',
 'human',
 'genetic',
 'diversity',
 '.',
 '[',
 '21',
 ']',
 'Settled',
 'life',
 'emerged',
 'on',
 'the',
 'subcontinent',
 'in',
 'the',
 'western',
 'margins',
 'of',
 'the',
 'Indus',
 'river',
 'basin',
 '9,000',
 'years',
 'ago',
 ',',
 'evolving',
 'gradually',
 'into',
 'the',
 'Indus',
 'valley',
 'civilisation',
 'of',
 'the',
 'third',
 'millennium',
 'BCE',
 '.',
 '[',
 '22',
 ']',
 'By',
 '1200',
 'BCE',
 ',',
 'an',
 'archaic',
 'form',
 'of',
 'Sanskrit',
 ',',
 'an',
 'Indo-European',
 'language',
 ',',
 'had',
 'diffused',
 'into',
 'India',
 'from',
 'the',
 'northwest',
 ',',
 'unfolding',
 'as',
 'the',
 'language',
 'of',
 'the',
 'Vedas',
 ',',
 'and',
 'recording',
 'the',
 'dawning',
 'of',
 'Hinduism',
 'in',
 'India',
 '.',
 '[',
 '23',
 ']',
 'The',
 'Dravidian',
 'languages',
 'of',
 'India',
 'were',
 'supplanted',
 'in',
 'the',
 'northern',
 'regions',
 '.',
 '[',
 '24',
 ']',
 'By',
 '400',
 'BCE',
 ',',
 'stratification',
 'and',
 'exclusion',
 'by',
 'caste',
 'had',
 'emerged',
 'within',
 'Hinduism',
 ',',
 '[',
 '25',
 ']',
 'and',
 'Buddhism',
 'and',
 'Jainism',
 'had',
 'arisen',
 ',',
 'proclaiming',
 'social',
 'orders',
 'unlinked',
 'to',
 'heredity',
 '.',
 '[',
 '26',
 ']',
 'Early',
 'political',
 'consolidations',
 'gave',
 'rise',
 'to',
 'the',
 'loose-knit',
 'Maurya',
 'and',
 'Gupta',
 'empires',
 'based',
 'in',
 'the',
 'Ganges',
 'basin',
 ',',
 '[',
 '27',
 ']',
 'their',
 'collective',
 'era',
 'suffused',
 'with',
 'wide-ranging',
 'creativity',
 ',',
 '[',
 '28',
 ']',
 'but',
 'also',
 'marked',
 'by',
 'the',
 'declining',
 'status',
 'of',
 'women',
 ',',
 '[',
 '29',
 ']',
 'and',
 'the',
 'incorporation',
 'of',
 'untouchability',
 'into',
 'an',
 'organized',
 'system',
 'of',
 'belief',
 '.',
 '[',
 'e',
 ']',
 '[',
 '30',
 ']',
 'In',
 'south',
 'India',
 ',',
 'the',
 'Middle',
 'kingdoms',
 'exported',
 'Dravidian-languages',
 'scripts',
 'and',
 'religious',
 'cultures',
 'to',
 'the',
 'kingdoms',
 'of',
 'southeast',
 'Asia',
 '.']

In [13]:
tokenized_sentence=word_tokenize(sentence) #punctuations are being seperated out - punctuations are consired as sep words with a meaning
tokenized_sentence

['Wonderful', '!', 'How', 'are', 'you', 'doing', '?']

In [9]:
sentence.split(" ")

['Wonderful!', 'How', 'are', 'you', 'doing?']

In [10]:
import string

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
tokens = [token for token in tokenized_sentence if token not in string.punctuation]
tokens

['Wonderful', 'How', 'are', 'you', 'doing']

---

In [16]:
import pandas as pd
import numpy as np

In [17]:
spamCollection = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\MessageSpamCollection_dataset\SpamCollection\SpamCollection", sep = "\t", names=["response", "message"])

In [18]:
spamCollection.head()

  response                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [19]:
spamCollection.response.value_counts()

ham     4825
spam     747
Name: response, dtype: int64

In [26]:
X = spamCollection[["message"]]
y = spamCollection.response

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .25, random_state = 10)

In [29]:
X_train.head()

                                                message
5293             I donno its in your genes or something
4479                                    I anything lor.
2768             Wow v v impressed. Have funs shopping!
1249  HI HUN! IM NOT COMIN 2NITE-TELL EVERY1 IM SORR...
1661         No just send to you. Bec you in temple na.

In [30]:
from nltk import word_tokenize

In [ ]:
#clean 1 sentence for demonstration

In [33]:
sentence = X_train.iloc[3, 0]
sentence

'HI HUN! IM NOT COMIN 2NITE-TELL EVERY1 IM SORRY 4 ME, HOPE U AVA GOODTIME!OLI RANG MELNITE IFINK IT MITE B SORTED,BUT IL EXPLAIN EVERYTHIN ON MON.L8RS.x'

In [35]:
tokens = word_tokenize(sentence)
tokens

['HI',
 'HUN',
 '!',
 'IM',
 'NOT',
 'COMIN',
 '2NITE-TELL',
 'EVERY1',
 'IM',
 'SORRY',
 '4',
 'ME',
 ',',
 'HOPE',
 'U',
 'AVA',
 'GOODTIME',
 '!',
 'OLI',
 'RANG',
 'MELNITE',
 'IFINK',
 'IT',
 'MITE',
 'B',
 'SORTED',
 ',',
 'BUT',
 'IL',
 'EXPLAIN',
 'EVERYTHIN',
 'ON',
 'MON.L8RS.x']

In [37]:
import string

In [38]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [39]:
[token for token in tokens if token not in string.punctuation]

['HI',
 'HUN',
 'IM',
 'NOT',
 'COMIN',
 '2NITE-TELL',
 'EVERY1',
 'IM',
 'SORRY',
 '4',
 'ME',
 'HOPE',
 'U',
 'AVA',
 'GOODTIME',
 'OLI',
 'RANG',
 'MELNITE',
 'IFINK',
 'IT',
 'MITE',
 'B',
 'SORTED',
 'BUT',
 'IL',
 'EXPLAIN',
 'EVERYTHIN',
 'ON',
 'MON.L8RS.x']

In [43]:
p = [char for char in sentence if char not in string.punctuation]
print(p)

['H', 'I', ' ', 'H', 'U', 'N', ' ', 'I', 'M', ' ', 'N', 'O', 'T', ' ', 'C', 'O', 'M', 'I', 'N', ' ', '2', 'N', 'I', 'T', 'E', 'T', 'E', 'L', 'L', ' ', 'E', 'V', 'E', 'R', 'Y', '1', ' ', 'I', 'M', ' ', 'S', 'O', 'R', 'R', 'Y', ' ', '4', ' ', 'M', 'E', ' ', 'H', 'O', 'P', 'E', ' ', 'U', ' ', 'A', 'V', 'A', ' ', 'G', 'O', 'O', 'D', 'T', 'I', 'M', 'E', 'O', 'L', 'I', ' ', 'R', 'A', 'N', 'G', ' ', 'M', 'E', 'L', 'N', 'I', 'T', 'E', ' ', 'I', 'F', 'I', 'N', 'K', ' ', 'I', 'T', ' ', 'M', 'I', 'T', 'E', ' ', 'B', ' ', 'S', 'O', 'R', 'T', 'E', 'D', 'B', 'U', 'T', ' ', 'I', 'L', ' ', 'E', 'X', 'P', 'L', 'A', 'I', 'N', ' ', 'E', 'V', 'E', 'R', 'Y', 'T', 'H', 'I', 'N', ' ', 'O', 'N', ' ', 'M', 'O', 'N', 'L', '8', 'R', 'S', 'x']

In [51]:
p = "".join(p)
p

'HI HUN IM NOT COMIN 2NITETELL EVERY1 IM SORRY 4 ME HOPE U AVA GOODTIMEOLI RANG MELNITE IFINK IT MITE B SORTEDBUT IL EXPLAIN EVERYTHIN ON MONL8RSx'

In [46]:
from nltk.corpus import stopwords

In [48]:
stopwords.fileids()

['arabic',
 'azerbaijani',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'greek',
 'hungarian',
 'indonesian',
 'italian',
 'kazakh',
 'nepali',
 'norwegian',
 'portuguese',
 'romanian',
 'russian',
 'spanish',
 'swedish',
 'turkish']

In [49]:
stopwords.words(fileids="english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [52]:
p

'HI HUN IM NOT COMIN 2NITETELL EVERY1 IM SORRY 4 ME HOPE U AVA GOODTIMEOLI RANG MELNITE IFINK IT MITE B SORTEDBUT IL EXPLAIN EVERYTHIN ON MONL8RSx'

In [54]:
lc=[word.lower() for word in p.split() if word.lower() not in stopwords.words("english")]

In [55]:
lc

['hi',
 'hun',
 'im',
 'comin',
 '2nitetell',
 'every1',
 'im',
 'sorry',
 '4',
 'hope',
 'u',
 'ava',
 'goodtimeoli',
 'rang',
 'melnite',
 'ifink',
 'mite',
 'b',
 'sortedbut',
 'il',
 'explain',
 'everythin',
 'monl8rsx']

----

In [ ]:
#create a fn which can be applied over each of the emails / row of my df

In [60]:
string.punctuation + '0123456789'

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~0123456789'

In [61]:
def cleanup_text(sentence):
    p = [char for char in sentence if char not in string.punctuation+'0123456789']
    p = "".join(p)
    clean_tokens=[word.lower() for word in p.split() if word.lower() not in stopwords.words("english")]
    return clean_tokens

In [62]:
sentence

'HI HUN! IM NOT COMIN 2NITE-TELL EVERY1 IM SORRY 4 ME, HOPE U AVA GOODTIME!OLI RANG MELNITE IFINK IT MITE B SORTED,BUT IL EXPLAIN EVERYTHIN ON MON.L8RS.x'

In [63]:
cleanup_text(sentence)

['hi',
 'hun',
 'im',
 'comin',
 'nitetell',
 'every',
 'im',
 'sorry',
 'hope',
 'u',
 'ava',
 'goodtimeoli',
 'rang',
 'melnite',
 'ifink',
 'mite',
 'b',
 'sortedbut',
 'il',
 'explain',
 'everythin',
 'monlrsx']

----

In [64]:
from sklearn.feature_extraction.text import CountVectorizer

In [65]:
bow = CountVectorizer(analyzer = cleanup_text)

In [66]:
bow.fit(X_train.message)

CountVectorizer(analyzer=<function cleanup_text at 0x000001989EF8B730>,
                binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [67]:
bow.vocabulary_

{'donno': 1655,
 'genes': 2361,
 'something': 5673,
 'anything': 250,
 'lor': 3536,
 'wow': 7031,
 'v': 6650,
 'impressed': 2931,
 'funs': 2301,
 'shopping': 5473,
 'hi': 2697,
 'hun': 2842,
 'im': 2912,
 'comin': 1151,
 'nitetell': 4138,
 'every': 1914,
 'sorry': 5702,
 'hope': 2772,
 'u': 6509,
 'ava': 394,
 'goodtimeoli': 2456,
 'rang': 4941,
 'melnite': 3763,
 'ifink': 2896,
 'mite': 3858,
 'b': 419,
 'sortedbut': 5708,
 'il': 2906,
 'explain': 1968,
 'everythin': 1922,
 'monlrsx': 3912,
 'send': 5373,
 'bec': 512,
 'temple': 6150,
 'na': 4024,
 'used': 6621,
 'agents': 116,
 'dont': 1656,
 'drop': 1716,
 'since': 5536,
 'ive': 3074,
 'booked': 659,
 'things': 6229,
 'year': 7149,
 'whole': 6905,
 'boston': 675,
 'nyc': 4229,
 'experiment': 1963,
 'talking': 6083,
 'mobile': 3880,
 'mths': 3975,
 'update': 6585,
 'latest': 3359,
 'orange': 4343,
 'cameravideo': 858,
 'phones': 4551,
 'free': 2231,
 'save': 5284,
 '£s': 7246,
 'textsweekend': 6181,
 'calls': 848,
 'text': 6171,
 'yes': 7160,
 'callback': 829,
 'orno': 4358,
 'opt': 4335,
 'thanks': 6188,
 'ringtone': 5157,
 'order': 4348,
 'ref': 5018,
 'number': 4215,
 'k': 3188,
 'charged': 972,
 '£': 7235,
 'tone': 6353,
 'arrive': 324,
 'please': 4613,
 'call': 828,
 'customer': 1355,
 'services': 5397,
 'ok': 4281,
 'wif': 6916,
 'cos': 1255,
 'like': 3442,
 'try': 6456,
 'new': 4102,
 'scared': 5299,
 'dun': 1738,
 'mah': 3638,
 'said': 5239,
 'loud': 3555,
 'email': 1821,
 'address': 67,
 'changed': 964,
 'looking': 3528,
 'really': 4978,
 'appreciate': 279,
 'freemsg': 2237,
 'baby': 426,
 'got': 2463,
 'cam': 854,
 'moby': 3887,
 'wanna': 6782,
 'c': 814,
 'hot': 2791,
 'pic': 4559,
 'fancy': 2022,
 'chatim': 984,
 'win': 6928,
 'utxt': 6639,
 'rply': 5199,
 'chat': 983,
 'hlp': 2723,
 'msgp': 3964,
 'rcv': 4956,
 'finished': 2112,
 'missing': 3848,
 'plenty': 4618,
 'outbid': 4373,
 'simonwatson': 5531,
 'shinco': 5449,
 'dvd': 1746,
 'plyr': 4628,
 'bid': 570,
 'visit': 6716,
 'sms': 5634,
 'acsmsrewards': 47,
 'end': 1836,
 'notifications': 4188,
 'reply': 5081,
 'natalie': 4046,
 'f': 1985,
 'inviting': 3018,
 'friend': 2256,
 'see': 5348,
 'wwwsmsacunataliek': 7096,
 'stop': 5877,
 'frnd': 2266,
 'r': 4917,
 'many': 3671,
 'modelsony': 3890,
 'ericson': 1873,
 'also': 181,
 'der': 1499,
 'ltgt': 3590,
 'luks': 3602,
 'good': 2442,
 'bt': 762,
 'forgot': 2196,
 'modl': 3891,
 'entry': 1866,
 'wkly': 6968,
 'comp': 1158,
 'fa': 1986,
 'cup': 1343,
 'final': 2098,
 'tkts': 6310,
 'st': 5804,
 'may': 3721,
 'receive': 4994,
 'questionstd': 4905,
 'txt': 6495,
 'ratetcs': 4946,
 'apply': 274,
 'overs': 4388,
 'av': 393,
 'wil': 6923,
 'use': 6620,
 'oneta': 4305,
 'oh': 4275,
 'outside': 4379,
 'players': 4606,
 'allowed': 169,
 'play': 4603,
 'know': 3284,
 'yagoing': 7137,
 'restaurant': 5116,
 'thank': 6187,
 'princess': 4784,
 'sexy': 5410,
 'yep': 7158,
 'dereks': 1501,
 'house': 2798,
 'sunday': 5986,
 'lt': 3585,
 'uncle': 6535,
 'abbey': 5,
 'happy': 2602,
 'abiola': 10,
 'yeah': 7147,
 'probably': 4802,
 'earlier': 1753,
 'costa': 1258,
 'del': 1470,
 'sol': 5660,
 'holiday': 2744,
 'await': 407,
 'collection': 1132,
 'toclaim': 6324,
 'sae': 5233,
 'tc': 6111,
 'pobox': 4641,
 'stockport': 5870,
 'skxh': 5577,
 'cost£pm': 1264,
 'maxmins': 3718,
 'die': 1545,
 'want': 6783,
 'stuffs': 5933,
 'haf': 2560,
 'eaten': 1769,
 'wat': 6802,
 'time': 6286,
 'wan': 6780,
 'come': 1144,
 'wlcome': 6972,
 'back': 431,
 'wonder': 6986,
 'lion': 3462,
 'nothing': 4185,
 'much': 3978,
 'dizzamn': 1609,
 'aight': 136,
 'ill': 2908,
 'ask': 339,
 'suitemates': 5978,
 'get': 2370,
 'matter': 3710,
 'mind': 3819,
 'saying': 5291,
 'pack': 4406,
 'buy': 799,
 'storelike': 5889,
 'cereals': 949,
 'must': 4006,
 'food': 2179,
 'gari': 2330,
 'ja': 3087,
 'miss': 3844,
 'records': 5007,
 'indicate': 2959,
 'maybe': 3723,
 'entitled': 1864,
 'pounds': 4710,
 'compensation': 1163,
 'accident': 29,
 'claim': 1065,
 'msg': 3962,
 'congratulations': 1206,
 'ur': 6604,
 'awarded': 411,
 'cd': 933,
 'vouchers': 6736,
 'gift': 2385,
 'guaranteed': 2529,
 'draw': 1693,
 'music': 4004,
 'g': 2307,
 'wants': 6787,
 'fuck': 2282,
 'persons': 4530,
 'story': 5891,
 'bank': 459,
 'say': 5288,
 'money': 3907,
 'someone': 5666,
 'conacted': 1184,
 'dating': 1408,
 'service': 5396,
 'entered': 1860,
 'phone': 4548,
 'youto': 7201,
 'find': 2102,
 'landline': 3332,
 'poboxntf': 4643,
 'make': 3649,
 'love': 3560,
 'times': 6290,
 'per': 4511,
 'night': 4121,
 'thats': 6195,
 'problem': 4803,
 'oops': 4321,
 'hey': 2691,
 'babe': 423,
 'didnt': 1540,
 'sooner': 5693,
 'gary': 2332,
 'fix': 2128,
 'cause': 927,
 'thinks': 6234,
 'knows': 3289,
 'doesnt': 1628,
 'go': 2414,
 'far': 2027,
 'ptbo': 4856,
 'says': 5292,
 'cost': 1257,
 'bucks': 770,
 'might': 3807,
 'cheaper': 989,
 'second': 5337,
 'hand': 2578,
 'machines': 3623,
 'right': 5149,
 'let': 3415,
 'vldo': 6724,
 'adsense': 85,
 'approved': 284,
 'nice': 4113,
 'juicy': 3171,
 'booty': 666,
 'way': 6817,
 'omg': 4297,
 'joanna': 3137,
 'freaking': 2228,
 'shes': 5443,
 'looked': 3526,
 'thru': 6263,
 'friends': 2257,
 'photos': 4554,
 'asking': 343,
 'stuff': 5928,
 'myspace': 4020,
 'havent': 2621,
 'even': 1907,
 'logged': 3503,
 'prize': 4795,
 'another': 230,
 'wwwtcbiz': 7098,
 'pmin': 4632,
 'polo': 4663,
 'ltd': 3586,
 'suite': 5977,
 'london': 3517,
 'wj': 6963,
 'hl': 2721,
 'busy': 795,
 'charge': 971,
 'camera': 857,
 'hellogorgeous': 2662,
 'hows': 2807,
 'fone': 2175,
 'lst': 3584,
 'nitw': 4140,
 'wen': 6865,
 'texd': 6170,
 'hopeu': 2779,
 'ad': 60,
 'wkend': 6965,
 'sure': 6010,
 'lookin': 3527,
 'ward': 6789,
 'cin': 1058,
 'mrw': 3960,
 'luv': 3607,
 'jaz': 3112,
 'still': 5865,
 'working': 7005,
 'tried': 6438,
 'adding': 66,
 'zeros': 7226,
 'savings': 5286,
 'checking': 997,
 'always': 187,
 'excuse': 1944,
 'city': 1062,
 'sent': 5382,
 'gam': 2318,
 'gone': 2438,
 'outstanding': 4382,
 'innings': 2981,
 'believe': 538,
 'e': 1750,
 'person': 4524,
 'whos': 6907,
 'survey': 6020,
 'pussy': 4882,
 'perfect': 4514,
 'hit': 2715,
 'move': 3947,
 'hear': 2639,
 'nope': 4169,
 'meanwhile': 3739,
 'talk': 6080,
 'greet': 2502,
 'thanx': 6190,
 'lot': 3545,
 'sun': 5985,
 'anti': 241,
 'sleep': 5585,
 'medicine': 3746,
 'rite': 5166,
 'well': 6861,
 'best': 555,
 'mate': 3701,
 'pete': 4534,
 'went': 6867,
 'week': 6843,
 'geva': 2380,
 'longer': 3521,
 'sen': 5372,
 'kind': 3252,
 'advice': 90,
 'thk': 6237,
 'hint': 2710,
 'forum': 2208,
 'already': 175,
 'told': 6339,
 'ron': 5183,
 'n': 4023,
 'darren': 1400,
 'going': 2430,
 'tell': 6142,
 'shuhui': 5505,
 'yup': 7217,
 'lunch': 3604,
 'buffet': 776,
 'eat': 1768,
 'chatting': 987,
 'guys': 2549,
 'movies': 3951,
 'side': 5514,
 'buzy': 804,
 'feel': 2056,
 'belly': 543,
 'warm': 6790,
 'wish': 6949,
 'shall': 5425,
 'meet': 3748,
 'dreams': 1699,
 'ahmad': 129,
 'adoring': 80,
 'kiss': 3258,
 'wake': 6762,
 'gt': 2525,
 'either': 1805,
 'ideas': 2889,
 'anyplaces': 247,
 'yo': 7178,
 'work': 7002,
 'doinghow': 1640,
 'fb': 2048,
 'couple': 1275,
 'minutes': 3836,
 'ü': 7250,
 'attending': 369,
 'da': 1370,
 'talks': 6084,
 'help': 2666,
 'propose': 4839,
 'tomorrow': 6350,
 'depends': 1493,
 'quality': 4897,
 'type': 6506,
 'boye': 694,
 'faded': 1995,
 'glory': 2408,
 'ralphs': 4935,
 'bill': 576,
 'letters': 3418,
 'i’m': 3085,
 'expecting': 1959,
 'one': 4302,
 'isn’t': 3044,
 'home': 2750,
 'sale': 5244,
 'except': 1940,
 'theres': 6216,
 'chick': 1018,
 'huge': 2836,
 'boobs': 657,
 'ha': 2555,
 'jus': 3181,
 'ate': 357,
 'honey': 2761,
 'ar': 292,
 'sweet': 6032,
 'shld': 5465,
 'ya': 7136,
 'wana': 6781,
 'lessons': 3414,
 'haha': 2561,
 'stretch': 5902,
 'chance': 961,
 'cash': 911,
 'wk': 6964,
 'action': 52,
 'tscs': 6462,
 'wwwmovietriviatv': 7085,
 'custcare': 1353,
 'xpwk': 7117,
 'urgent': 6606,
 'bonus': 655,
 'caller': 834,
 'nd': 4060,
 'attempt': 366,
 'contact': 1218,
 'boxqu': 691,
 'national': 4048,
 'rate': 4944,
 'join': 3146,
 'sts': 5916,
 'later': 3358,
 'meeting': 3751,
 'five': 2127,
 'class': 1072,
 'messagesome': 3793,
 'sendername': 5375,
 'sentdate': 5383,
 'everything': 1923,
 'via': 6687,
 'fullonsmscom': 2293,
 'shag': 5419,
 'dointerested': 1643,
 'sextextukcom': 5409,
 'xxuk': 7122,
 'suzy': 6022,
 'txts': 6502,
 'tncs': 6319,
 'website': 6832,
 'x': 7108,
 'dear': 1436,
 'heroi': 2681,
 'leaving': 3390,
 'qatar': 4893,
 'tonite': 6363,
 'apt': 290,
 'opportunitypls': 4332,
 'keep': 3220,
 'touch': 6392,
 'ltemailgt': 3589,
 'kerala': 3227,
 'sipix': 5546,
 'digital': 1559,
 'fromm': 2274,
 'delivery': 1478,
 'within': 6957,
 'days': 1421,
 'hes': 2686,
 'skateboarding': 5567,
 'despite': 1511,
 'fact': 1993,
 'gets': 2374,
 'thrown': 6261,
 'winds': 6933,
 'bandages': 457,
 'shit': 5457,
 'arms': 314,
 'neft': 4079,
 'transaction': 6414,
 'reference': 5019,
 'rs': 5201,
 'ltdecimalgt': 3587,
 'credited': 1306,
 'beneficiary': 550,
 'account': 35,
 'lttimegt': 3592,
 'birthday': 592,
 'true': 6447,
 'blankets': 609,
 'sufficient': 5969,
 'thx': 6272,
 'think': 6230,
 'away': 412,
 'trek': 6436,
 'long': 3520,
 'family': 2016,
 'town': 6398,
 'photoshop': 4555,
 'makes': 3650,
 'computer': 1179,
 'shut': 5507,
 'finishing': 2114,
 'soon': 5691,
 'familymay': 2017,
 'bring': 731,
 'happiness': 2601,
 'stability': 5805,
 'tranquility': 6413,
 'vibrant': 6688,
 'colourful': 1138,
 'life': 3431,
 'gonna': 2441,
 'ring': 5154,
 'weekend': 6844,
 'wot': 7024,
 'land': 3330,
 'line': 3455,
 'valid': 6655,
 'hrs': 2815,
 'sister': 5553,
 'cleared': 1080,
 'two': 6493,
 'round': 5191,
 'birla': 588,
 'soft': 5656,
 'yesterday': 7168,
 'nokia': 4157,
 'auction': 377,
 'take': 6073,
 'part': 4450,
 'hgsuitelands': 2694,
 'rowwjhl': 5197,
 'reward': 5138,
 'hours': 2797,
 'subscribegbpmnth': 5950,
 'inc': 2937,
 'stoptxtstop': 5886,
 'onwards': 4315,
 'eve': 1904,
 'xy': 7133,
 'car': 883,
 'picking': 4562,
 'bothering': 678,
 'trust': 6452,
 'answers': 237,
 'pls': 4621,
 'leave': 3388,
 'lar': 3343,
 'carry': 906,
 'meh': 3755,
 'heavy': 2650,
 'num': 4214,
 'familiar': 2015,
 'noi': 4150,
 'rumour': 5217,
 'apartment': 259,
 'chennai': 1007,
 'theyre': 6224,
 'female': 2067,
 'howre': 2806,
 'throwing': 6260,
 'deciding': 1448,
 'okay': 4282,
 'screaming': 5321,
 'means': 3737,
 'shouting': 5486,
 'thing': 6228,
 'getting': 2378,
 'connection': 1208,
 'bw': 807,
 'nt': 4207,
 'joking': 3154,
 'seriously': 5394,
 'beautiful': 509,
 'truth': 6454,
 'gravity': 2490,
 'read': 4965,
 'carefully': 893,
 'heart': 2643,
 'feels': 2061,
 'light': 3438,
 'leaves': 3389,
 'goodmorning': 2448,
 'enjoy': 1852,
 'watching': 6807,
 'playing': 4610,
 'football': 2184,
 'basketball': 478,
 'outdoors': 4374,
 'cashbincouk': 913,
 'lots': 3548,
 'wwwcashbincouk': 7071,
 'welcome': 6859,
 'biggest': 574,
 'ever': 1913,
 'give': 2397,
 'heard': 2640,
 'bit': 594,
 'crowd': 1320,
 'great': 2494,
 'cardiff': 885,
 'popping': 4683,
 'ibuprofens': 2878,
 'italian': 3048,
 'would': 7028,
 'else': 1817,
 'instead': 2993,
 'todaysundaysunday': 6330,
 'holidayso': 2745,
 'holla': 2746,
 'done': 1653,
 'next': 4109,
 'space': 5726,
 'gives': 2399,
 'remember': 5052,
 'furniture': 2302,
 'around': 318,
 'lock': 3499,
 'locks': 3500,
 'key': 3231,
 'jenne': 3121,
 'check': 993,
 'choose': 1046,
 'videos': 6696,
 'smsshsexnetun': 5636,
 'fgkslpopw': 2075,
 'fgkslpo': 2074,
 'tirupur': 6301,
 'day': 1416,
 'blastin': 610,
 'tsunamis': 6465,
 'occur': 4247,
 'rajnikant': 4932,
 'stopped': 5879,
 'swimming': 6039,
 'indian': 2957,
 'oceand': 4249,
 'cant': 873,
 'anyone': 245,
 'spare': 5732,
 'room': 5185,
 'top': 6374,
 'head': 2627,
 'today': 6325,
 'excuses': 1946,
 'mr': 3956,
 'sheffield': 5439,
 'game': 2319,
 'youre': 7196,
 'boss': 674,
 'nanny': 4039,
 'raise': 4927,
 'dave': 1413,
 'notice': 4187,
 'collect': 1129,
 'tenerife': 6154,
 'award': 410,
 'tcs': 6114,
 'box': 687,
 'cwwx': 1366,
 'ppm': 4720,
 'guy': 2548,
 'bitching': 596,
 'acted': 49,
 'id': 2885,
 'interested': 3001,
 'buying': 802,
 'gave': 2337,
 'us': 6618,
 'mistake': 3854,
 'goto': 2467,
 'doctor': 1622,
 'late': 3353,
 'tellmiss': 6144,
 'oooh': 4318,
 'bed': 518,
 'ridden': 5147,
 'ey': 1979,
 'thinking': 6233,
 'changes': 965,
 'appendix': 269,
 'age': 114,
 'range': 4942,
 'however': 2805,
 'impossible': 2928,
 'chill': 1034,
 'scores': 5310,
 'sophas': 5698,
 'secondary': 5338,
 'application': 273,
 'schools': 5305,
 'applying': 276,
 'research': 5094,
 'joke': 3151,
 'ogunrinde': 4274,
 'school': 5304,
 'less': 3411,
 'expensive': 1960,
 'ones': 4304,
 'backa': 432,
 'necklace': 4071,
 'token': 6337,
 'youthats': 7200,
 'wife': 6917,
 'likingbe': 3446,
 'seeno': 5356,
 'thatdont': 6193,
 'mei': 3756,
 'wait': 6755,
 'till': 6284,
 'themobhit': 6207,
 'link': 3460,
 'premium': 4752,
 'pink': 4579,
 'panther': 4429,
 'sugababes': 5970,
 'crazy': 1297,
 'zebra': 7224,
 'animation': 218,
 'badass': 436,
 'hoody': 2768,
 'wallpaperall': 6775,
 'height': 2654,
 'recycling': 5012,
 'twice': 6487,
 'people': 4509,
 'spend': 5754,
 'earning': 1758,
 'spent': 5756,
 'spending': 5755,
 'morning': 3927,
 'smiling': 5626,
 'mystery': 4021,
 'solved': 5663,
 'opened': 4323,
 'batch': 480,
 'isnt': 3041,
 'sweetie': 6035,
 'evening': 1908,
 'banks': 460,
 'fees': 2062,
 'fixed': 2130,
 'better': 561,
 'ready': 4968,
 'thursday': 6270,
 'representative': 5087,
 'freephone': 2241,
 'ampm': 203,
 'forced': 2188,
 'slice': 5594,
 'hungry': 2846,
 'tho': 6244,
 'sucks': 5962,
 'mark': 3680,
 'worried': 7015,
 'sick': 5513,
 'turn': 6479,
 'pizza': 4587,
 'lol': 3513,
 'bout': 683,
 'early': 1756,
 'almost': 171,
 'noon': 4166,
 'promise': 4827,
 'youll': 7191,
 'made': 3628,
 'nothis': 4186,
 'kallis': 3198,
 'groundamla': 2514,
 'durban': 1741,
 'sindu': 5538,
 'job': 3138,
 'blackberry': 602,
 'bold': 649,
 'torch': 6382,
 'plus': 4627,
 'wifi': 6921,
 'ipad': 3023,
 'never': 4098,
 'reasons': 4984,
 'god': 2419,
 'nicenicehow': 4114,
 'joys': 3164,
 'father': 2035,
 'john': 3144,
 'ans': 231,
 'ths': 6265,
 'hav': 2617,
 'iq': 3027,
 'tis': 6302,
 'ias': 2872,
 'question': 4902,
 'answer': 233,
 'apps': 286,
 'varaya': 6663,
 'elaya': 1809,
 'explicitly': 1969,
 'nora': 4170,
 'bother': 677,
 'twenty': 6486,
 'past': 4471,
 'train': 6408,
 'durham': 1742,
 'coz': 1284,
 'reserved': 5099,
 'seat': 5335,
 'adult': 86,
 'content': 1221,
 'video': 6692,
 'shortly': 5479,
 'alright': 177,
 'set': 5400,
 'man': 3659,
 'glad': 2402,
 'claire': 1068,
 'goes': 2425,
 'petey': 4537,
 'boy': 693,
 'whereare': 6897,
 'friendsare': 2258,
 'thekingshead': 6203,
 'canlove': 870,
 'nic': 4112,
 'cool': 1238,
 'pool': 4676,
 'jacuzzi': 3091,
 'gokila': 2431,
 'aha': 126,
 'trying': 6458,
 'todays': 6329,
 'shows': 5497,
 'congrats': 1205,
 'special': 5739,
 'cinema': 1060,
 'pass': 4461,
 'suprman': 6008,
 'matrix': 3709,
 'starwars': 5833,
 'etc': 1895,
 'bxipwe': 809,
 'pm': 4630,
 'prob': 4801,
 'grinder': 2505,
 'ajith': 146,
 'film': 2095,
 'ah': 125,
 'brah': 701,
 'last': 3350,
 'exams': 1938,
 'messagethanks': 3794,
 'using': 6627,
 'subscription': 5953,
 'pmsgrcvd': 4635,
 'skip': 5575,
 'unsubscribe': 6579,
 'customercare': 1356,
 'unintentionally': 6558,
 'bad': 435,
 'timing': 6293,
 'fingers': 2109,
 'trains': 6411,
 'along': 173,
 'fifteen': 2080,
 'min': 3817,
 'warning': 6793,
 'de': 1428,
 'start': 5826,
 'prepare': 4754,
 'need': 4073,
 'dunno': 1739,
 'lei': 3400,
 'dinner': 1569,
 'pick': 4560,
 'message': 3786,
 'awesome': 413,
 'mapquest': 3673,
 'look': 3524,
 'usf': 6625,
 'dogwood': 1637,
 'drive': 1710,
 'tiny': 6295,
 'street': 5898,
 'parking': 4449,
 'whats': 6887,
 'name': 4033,
 'brison': 735,
 'book': 658,
 'language': 3338,
 'words': 6999,
 'impressively': 2933,
 'sensible': 5380,
 'fine': 2104,
 'boring': 670,
 'whens': 6895,
 'mmmmmm': 3871,
 'youso': 7199,
 'begin': 533,
 'takes': 6076,
 'closer': 1095,
 'eh': 1799,
 'leh': 3399,
 'din': 1564,
 'sad': 5232,
 'tv': 6482,
 'office': 4262,
 'disturb': 1602,
 'liao': 3421,
 'flaked': 2134,
 'shits': 5461,
 'goin': 2428,
 'roommate': 5186,
 'tonight': 6361,
 'knew': 3281,
 'saw': 5287,
 'dollar': 1646,
 'store': 5888,
 'search': 5332,
 'online': 4308,
 'stupid': 5935,
 'wont': 6990,
 'dad': 1374,
 'called': 833,
 'brother': 747,
 'spoken': 5774,
 'easier': 1762,
 'holding': 2742,
 'knowyetunde': 3292,
 'hasnt': 2613,
 ...}

In [68]:
msg_bows = bow.transform(X_train.message)

In [69]:
msg_bows

<4179x7257 sparse matrix of type '<class 'numpy.int64'>'
	with 35714 stored elements in Compressed Sparse Row format>

In [70]:
msg_bows.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [71]:
[msg_bows[3,i] for i in range(msg_bows.shape[1]) if msg_bows[3,i]!=0]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1]

In [72]:
from sklearn.feature_extraction.text import TfidfTransformer

In [73]:
tfidf = TfidfTransformer()

In [74]:
tfidf.fit(msg_bows)

TfidfTransformer(norm='l2', smooth_idf=True, sublinear_tf=False, use_idf=True)

In [75]:
tfidf_score=tfidf.transform(msg_bows)

In [76]:
tfidf_score

<4179x7257 sparse matrix of type '<class 'numpy.float64'>'
	with 35714 stored elements in Compressed Sparse Row format>

In [77]:
[tfidf_score[3,i] for i in range(tfidf_score.shape[1]) if tfidf_score[3,i]!=0]

[0.25483491204066877,
 0.15557377351426901,
 0.21396973013651718,
 0.15713934481948516,
 0.25483491204066877,
 0.24288261254113003,
 0.25483491204066877,
 0.14295149068312585,
 0.14500892998867904,
 0.24288261254113003,
 0.25483491204066877,
 0.21790596821304492,
 0.21045790059464758,
 0.25483491204066877,
 0.22245002158905425,
 0.25483491204066877,
 0.25483491204066877,
 0.24288261254113003,
 0.13697596119632638,
 0.25483491204066877,
 0.08563731012668462]

#### Term frequency
Frequency of some word in this email / total frequency of all the terms in this email
A word 'cat' has a frequency of 3 in the email 1 and the total number of words in this email = 100. So the term frequency = 3/100. The importance of the word in the email is high if it has  a high term frequency.

#### Inverse Document frequency
Let's say there 10 mn documents in our corpus and the word cat appears in 1000 of these documents. IDF = log(10,000000/1000) = 4. A word that is occuring in all the documents is less important because perhaps the entire corpus is discussing about cats. A word that is having high term frequency in 1 email is a very important word for email 1 

TFidf score = Tf * idf for that particular word

Feature importance for a particular email is directly proportional to Term frequency in that email and indirectly proportional to document frequency (i.e number of documents that are having the words).

In [78]:
from sklearn.naive_bayes import MultinomialNB

In [79]:
nb = MultinomialNB()

In [80]:
nb.fit(tfidf_score, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [81]:
nb.score(tfidf_score, y_train)

0.9796602057908591

----

In [82]:
#transform the text data also to get the tfidf score so that we can make the predictions

In [83]:
X_test.head()

                                                message
4635        These won't do. Have to move on to morphine
2279  Hmm...Bad news...Hype park plaza $700 studio t...
4545                when you and derek done with class?
5084                              Hey happy birthday...
5298               I.ll hand her my phone to chat wit u

In [86]:
X_test_bows = bow.transform(X_test.message)

In [87]:
X_test_bows

<1393x7257 sparse matrix of type '<class 'numpy.int64'>'
	with 10517 stored elements in Compressed Sparse Row format>

In [88]:
X_test_tfidf=tfidf.transform(X_test_bows)

In [89]:
X_test_tfidf

<1393x7257 sparse matrix of type '<class 'numpy.float64'>'
	with 10517 stored elements in Compressed Sparse Row format>

In [91]:
ypred = nb.predict(X_test_tfidf)

In [92]:
nb.score(X_test_tfidf, y_test)

0.9569274946159368