### Lists - A unidimensional heterogenous data structure

In [1]:
lst = []

In [2]:
type(lst)

list

In [3]:
lst.append(1)

In [4]:
lst

[1]

In [5]:
lst.extend(["a", True, 4])
lst

[1, 'a', True, 4]

In [6]:
len(lst)

4

In [7]:
p = ["Samridhi", "Dutta"]
p

['Samridhi', 'Dutta']

In [8]:
lst.append(p)

In [9]:
lst

[1, 'a', True, 4, ['Samridhi', 'Dutta']]

In [10]:
lst.extend(p)

In [11]:
lst

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta']

#### List subsetting

In [12]:
lst

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta']

In [16]:
lst[0], lst[-7]

(1, 1)

In [17]:
lst[1], lst[-6]

('a', 'a')

In [18]:
lst[4], lst[-3]

(['Samridhi', 'Dutta'], ['Samridhi', 'Dutta'])

In [20]:
lst[-3][0], lst[4][0]

('Samridhi', 'Samridhi')

In [21]:
lst

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta']

In [26]:
lst[0:4], lst[-7:-3] #0,1,2,3 - 4th comp will not be retrieved

([1, 'a', True, 4], [1, 'a', True, 4])

In [23]:
len(lst)

7

In [31]:
lst[0:7], lst[0:], lst[-7:] #0 - 6 components will be retrieved

([1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta'],
 [1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta'],
 [1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta'])

In [33]:
lst[6:7], lst[6:], lst[-1:]

(['Dutta'], ['Dutta'], ['Dutta'])

In [51]:
lst[0:4], lst[:4], lst[:-3]

([1, 'a', True, 4], [1, 'a', True, 4], [1, 'a', True, 4])

In [52]:
lst

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta']

In [53]:
lst[0:7:2], lst[0::2], lst[::2], lst[:7:2] #0, 0+2, 2+2, 4+2, 6+2

([1, True, ['Samridhi', 'Dutta'], 'Dutta'],
 [1, True, ['Samridhi', 'Dutta'], 'Dutta'],
 [1, True, ['Samridhi', 'Dutta'], 'Dutta'],
 [1, True, ['Samridhi', 'Dutta'], 'Dutta'])

In [55]:
lst[-1:-8:-1], lst[::-1], lst[-1::-1], lst[:-8:-1], lst[6::-1]  #-1, -1-1, -2-1, -3-1

(['Dutta', 'Samridhi', ['Samridhi', 'Dutta'], 4, True, 'a', 1],
 ['Dutta', 'Samridhi', ['Samridhi', 'Dutta'], 4, True, 'a', 1],
 ['Dutta', 'Samridhi', ['Samridhi', 'Dutta'], 4, True, 'a', 1],
 ['Dutta', 'Samridhi', ['Samridhi', 'Dutta'], 4, True, 'a', 1],
 ['Dutta', 'Samridhi', ['Samridhi', 'Dutta'], 4, True, 'a', 1])

#### Shallow copy and deep copy

In [57]:
a = lst  #deep copy
print(a, "\n", lst)

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta']
 [1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta']

In [58]:
lst.append([1,2,"How"])

In [59]:
lst

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How']]

In [60]:
lst.extend([1,2,"How"])

In [62]:
print(lst)

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2, 'How']

In [63]:
print(a) #a has also got appended and extended by the same values, but I wanted to keep the original copy of the list in a

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2, 'How']

In [64]:
id(a), id(lst) #both a and lst are pointing to the same memory locns. Any changes made to lst will also be reflected in a. 
#Any changes made to a will also be reflected in lst.

(140719710832520, 140719710832520)

In [65]:
b = lst.copy() #this will create a shallow copy of the list, with different memory locations

In [66]:
id(b), id(lst)

(140719706221448, 140719710832520)

In [68]:
x=lst.pop()

In [69]:
lst

[1,
 'a',
 True,
 4,
 ['Samridhi', 'Dutta'],
 'Samridhi',
 'Dutta',
 [1, 2, 'How'],
 1,
 2]

In [70]:
x

'How'

In [71]:
print(lst, "\n", b) #shallow copy: any modifications made to lst are not reflected in b, any modifications made to b will reflected in lst

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2]
 [1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2, 'How']

In [72]:
b.remove(1) #remove is removing the first occurrence of 1

In [74]:
print(b, "\n", lst)

['a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2, 'How']
 [1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2]

In [75]:
c = list(lst)

In [76]:
print(c, "\n", lst)

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2]
 [1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2]

In [77]:
id(c), id(lst)

(140719706127112, 140719710832520)

In [78]:
lst.reverse()

In [80]:
print(lst)

[2, 1, [1, 2, 'How'], 'Dutta', 'Samridhi', ['Samridhi', 'Dutta'], 4, True, 'a', 1]

In [81]:
print(c)

[1, 'a', True, 4, ['Samridhi', 'Dutta'], 'Samridhi', 'Dutta', [1, 2, 'How'], 1, 2]

In [ ]:
#cloning a list means creating a shallow copy of the list

#### Modification of lists

In [86]:
lst[0] = 10
print(lst)

[10, 1, [1, 2, 'How'], 'Dutta', 'Samridhi', ['Samridhi', 'Dutta'], 4, True, 'a', 1]

In [88]:
lst[:5:2] = ["a", "b", 'c']

In [89]:
lst

['a', 1, 'b', 'Dutta', 'c', ['Samridhi', 'Dutta'], 4, True, 'a', 1]

In [90]:
del lst[4]

In [91]:
lst

['a', 1, 'b', 'Dutta', ['Samridhi', 'Dutta'], 4, True, 'a', 1]

In [92]:
del lst

In [93]:
lst

NameError: name 'lst' is not defined

In [112]:
p = ["Samridhi", "Dutta"]
p
q = [2,34,6]

In [113]:
p + q

['Samridhi', 'Dutta', 2, 34, 6]

In [119]:
#"+" operator will have different definitions for different data structures - polymorphism
#This is called as operator overloading
print(1+2)
print(1.3 + 2.4)
print([1] + [2])
print("Samridhi" + "Dutta")

3
3.7
[1, 2]
SamridhiDutta

---

### Tuples
- immutable
- read only lists
- we use () instead of []
- Tuples occupy very small memory space, and where-ever modification is not required, we prefer tuples over lists

In [94]:
a = ()

In [97]:
b = (1,3,"Samridhi", "Dutta", 7, "Samridhi")

In [98]:
b[0] = 100 #tuple are immutable, the values can't be changed

TypeError: 'tuple' object does not support item assignment

In [99]:
b.index("Samridhi")

2

In [101]:
b.index("Samridhi", 3)

5

In [102]:
b.count("Samridhi")

2

In [103]:
c = (1,2,4, [1,2,10, "Samridhi"])

In [105]:
c[3].append("Dutta")

In [107]:
c[3][2] = "abjc"

In [108]:
c

(1, 2, 4, [1, 2, 'abjc', 'Samridhi', 'Dutta'])

In [120]:
for i in (1,2,4, 10,30):
    print(i)

1
2
4
10
30

In [121]:
"""
extended
"""

'\nextended\n'

----

#### Sets
- in the {}
- use sets to remove the duplicate values of a list
- supports set functions like union / intersection / difference
- sets don't have any order
- make use of sets when you have an unordered set of unique values

In [122]:
lst = [1,2,3,4,1,2,1,4,"Samridhi", "Dutta", "Dutta", "Dutta"]

In [125]:
t = tuple(lst)
t

(1, 2, 3, 4, 1, 2, 1, 4, 'Samridhi', 'Dutta', 'Dutta', 'Dutta')

In [126]:
list(t)

[1, 2, 3, 4, 1, 2, 1, 4, 'Samridhi', 'Dutta', 'Dutta', 'Dutta']

In [129]:
s = set(lst)
s

{1, 2, 3, 4, 'Dutta', 'Samridhi'}

In [130]:
s

{1, 2, 3, 4, 'Dutta', 'Samridhi'}

In [131]:
s[0] #an unordered data structure - the order s[0], s[1]

TypeError: 'set' object is not subscriptable

In [132]:
s

{1, 2, 3, 4, 'Dutta', 'Samridhi'}

In [133]:
p = {"Samridhi", "Dutta"}

In [134]:
s.difference(p)

{1, 2, 3, 4}

In [135]:
s.isdisjoint(p)

False

---

#### Dictionaries
- dictionaries are key value pairs
- dictionaries are enclosed in {}

In [137]:
coun_pop = [["Afghanistan", 30.5], ["Albania", 3.77]]

In [ ]:
#to retrieve the population of Albania using coding

In [143]:
countries = [coun_pop[0][0]] + [coun_pop[1][0]]
countries

['Afghanistan', 'Albania']

In [149]:
populations=[coun_pop[0][1]]+[coun_pop[1][1]]
populations

[30.5, 3.77]

In [151]:
populations[countries.index("Albania")]

3.77

In [152]:
cp = dict(coun_pop)

In [153]:
cp

{'Afghanistan': 30.5, 'Albania': 3.77}

In [154]:
cp["Albania"]

3.77

In [155]:
cp["Afghanistan"]

30.5

d[key] - will retrieve me the value of the key

In [156]:
cp.items()

dict_items([('Afghanistan', 30.5), ('Albania', 3.77)])

In [157]:
cp.keys()

dict_keys(['Afghanistan', 'Albania'])

In [158]:
cp.values()

dict_values([30.5, 3.77])

In [159]:
cp[1] = 100

In [160]:
cp

{'Afghanistan': 30.5, 'Albania': 3.77, 1: 100}

In [161]:
cp[(1,3,4)] = 1000

In [162]:
cp

{'Afghanistan': 30.5, 'Albania': 3.77, 1: 100, (1, 3, 4): 1000}

In [163]:
cp[[1,3]] = 90 #list can't be a key - any immutable data structure can be a key like tuples or any data type like integers / characters / float
#values can be any data structure

TypeError: unhashable type: 'list'

In [165]:
d = {}
type(d)

dict

In [166]:
d[1] = 100

In [167]:
d

{1: 100}

In [170]:
cp.get(10) #if the key is not present in the dictionary, it will return a None by default

In [171]:
cp.get(10, 0)

0

In [172]:
cp

{'Afghanistan': 30.5, 'Albania': 3.77, 1: 100, (1, 3, 4): 1000}

In [174]:
cp.update({"Afghanistan": 100, "India": 15})

In [175]:
cp

{'Afghanistan': 100, 'Albania': 3.77, 1: 100, (1, 3, 4): 1000, 'India': 15}

In [176]:
"India" in cp

True

In [178]:
"USA"not in cp

True

In [179]:
"""
multi-line 
comments
"""

'\nmulti-line \ncomments\n'

In [180]:
'''
multi-line 
comments
'''

'\nmulti-line \ncomments\n'

In [182]:
"Samridhi" in lst

True

In [183]:
"Dutta" not in lst

False

In [184]:
"Samridhi" in cp.values()

False

#### String functions

In [185]:
var = ""Hello", How are you"

SyntaxError: invalid syntax (<ipython-input-185-f3d949f9059f>, line 1)

In [187]:
var = '"Hello", How are you'
var

'"Hello", How are you'

In [188]:
print(var)

"Hello", How are you

In [191]:
var = "\"Hello\", How are you" #escape character before " indicates that escape the special meaning of the following character, and copy it as it is.

In [190]:
print(var)

"Hello", How are you

In [193]:
folder = "C:\\Users\Vaibhav\Desktop\BA\Datasets" 
#where-ever special characters are there, they'll have some special meaning. And if we want to copy the special character as it is, without the special meaning,we'll escape it using the escape character

In [194]:
print(folder)

C:\Users\Vaibhav\Desktop\BA\Datasets

In [195]:
folder = "C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets" 
#where-ever special characters are there, they'll have some special meaning. And if we want to copy the special character as it is, without the special meaning,we'll escape it using the escape character

In [196]:
print(folder)

C:\Users\Vaibhav\Desktop\BA\Datasets

In [197]:
folder = r"C:\Users\Vaibhav\Desktop\BA\Datasets" 
#indicates it's a raw string - special characters should not assume a special meaning

In [198]:
print(folder)

C:\Users\Vaibhav\Desktop\BA\Datasets

In [199]:
x = "Samridhi Dutta"

In [200]:
x[0]

'S'

In [201]:
x[0:5] #0 to 4 characters

'Samri'

In [202]:
x[:5:2]

'Smi'

In [203]:
x[::-1]

'attuD ihdirmaS'

In [204]:
x[0] = "M"

TypeError: 'str' object does not support item assignment

In [206]:
"samridhi".capitalize()

'Samridhi'

In [207]:
x.replace("S", "Mo")

'Moamridhi Dutta'

In [210]:
x

'Samridhi Dutta'

In [209]:
x.rindex("i")

7