In [3]:
import pandas as pd
import numpy as np
from sklearn import datasets
import warnings
warnings.filterwarnings(action = "ignore")

In [5]:
ir = datasets.load_iris()

In [7]:
ir.data.shape

(150, 4)

In [20]:
len(ir.feature_names)

4

In [10]:
ir.target.shape

(150,)

In [12]:
iris = np.c_[ir.target, ir.data]

In [14]:
ir.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [15]:
column_names = ["target"] + list(ir.feature_names)

In [16]:
column_names

['target',
 'sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [17]:
iris_df = pd.DataFrame(iris, columns = column_names)

In [18]:
iris_df[:3]

,target,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0.0,5.1,3.5,1.4,0.2
1,0.0,4.9,3.0,1.4,0.2
2,0.0,4.7,3.2,1.3,0.2