### Lambda Map and Reduce

In [5]:
#lambda are one line function

In [6]:
def addtwo(x,y):
    return x+y

In [7]:
fn = lambda x,y: x+y

In [8]:
f = lambda x: x**2
f(5)

25

In [9]:
fn(3,4)

7

In [10]:
addtwo(3,4)

7

In [11]:
#lambda arguments: return exp

In [12]:
fn(2,3)

5

In [13]:
#map maps a function to the entire list

In [14]:
lst = [1,2,3,4,5]

In [15]:
def square(x):
    return x**2

In [16]:
sq = lambda x: x**2

In [17]:
square(lst)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [18]:
for each in lst:
    print(each**2)

1
4
9
16
25

In [19]:
list(map(square, lst)) #map function square on each component of the lst

[1, 4, 9, 16, 25]

In [20]:
list(map(sq, lst)) #map sq on each component of lst

[1, 4, 9, 16, 25]

In [21]:
list(map(lambda x: x**2, lst)) #map the lambda fn on each com of lst

[1, 4, 9, 16, 25]

In [22]:
from functools import reduce

In [24]:
lst

[1, 2, 3, 4, 5]

In [23]:
reduce(lambda x,y: x+y, lst) #reduce will apply the function cumulatively on the list to reduce the list to a single value

15

In [ ]:
#Exercise : A store maintains a list of all customers with the customer number and the price of each item 
#purchased by the customer. Find the total amount for each customer.

In [26]:
orders = [[1,(199,500,450)],[2, (200, 300, 150)], [ 3, (400, 300, 650)]]

In [27]:
#output: [[1, 1149], [2, 650], [3, 1350]

In [33]:
orders[0][0], orders[1][0], orders[2][0]

(1, 2, 3)

In [36]:
reduce(lambda x,y: x+y, orders[0][1])

1149

In [37]:
[orders[0][0]]+[reduce(lambda x,y: x+y, orders[0][1])]

[1, 1149]

In [74]:
[orders[1][0]]+[reduce(lambda x,y: x-y, orders[1][1])]

[2, -250]

In [39]:
[orders[2][0]]+[reduce(lambda x,y: x+y, orders[2][1])]

[3, 1350]

In [46]:
orders

[[1, (199, 500, 450)], [2, (200, 300, 150)], [3, (400, 300, 650)]]

In [47]:
list(map(lambda a: a[1], orders))

[(199, 500, 450), (200, 300, 150), (400, 300, 650)]

In [49]:
f = lambda a: [a[0]]+[reduce(lambda x,y: x+y, a[1])]
f([1, (199, 500, 450)])

[1, 1149]

In [51]:
list(map(f, orders))

[[1, 1149], [2, 650], [3, 1350]]

In [44]:
list(map(lambda a: [a[0]]+[reduce(lambda x,y: x+y, a[1])] , orders)) #a will take the value orders[0], orders[1] and orders[2]

[[1, 1149], [2, 650], [3, 1350]]

In [53]:
f = lambda x,y,z: x+y+z
f(1,3,4)

8

In [55]:
orders

[[1, (199, 500, 450)], [2, (200, 300, 150)], [3, (400, 300, 650)]]

----

### List Comprehensions
- new_list = [return_value for i in lst]
- new_list = [return_value for i in lst if cond]
- new_list = [return_value if cond else return_value for i in lst]

In [63]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
#return only the even values
[x for x in range(10) if x%2==0]

[0, 2, 4, 6, 8]

In [65]:
#if the number is even then return even, if the number is odd then return odd
l=["even" if x%2==0 else "odd" for x in range(10)] #if the remainder is 0 - modulo operator
l

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [68]:
#use list comprehensions to invert a boolean list
l = [True, False, False, True, False]

In [66]:
not True

False

In [67]:
not False

True

In [69]:
[not x for x in l]

[False, True, True, False, True]

----

#### zip function

In [71]:
cost = [.3,.5 ,4,.4,.5]

In [75]:
cases = [3,6, 10, 20, 30]

In [ ]:
#i want the weighted average of the cost

In [76]:
cost*cases

TypeError: can't multiply sequence by non-int of type 'list'

In [78]:
list(zip(cost, cases))

[(0.3, 3), (0.5, 6), (4, 10), (0.4, 20), (0.5, 30)]

In [80]:
sum(cases)

69

In [79]:
for x,y in zip(cost,cases):
    print(x*y/sum(cases))

0.013043478260869565
0.043478260869565216
0.5797101449275363
0.11594202898550725
0.21739130434782608

In [81]:
a = [1,3,4]; b=[10,20,30]; c = [100,200,300]

In [83]:
list(zip(a,b,c))

[(1, 10, 100), (3, 20, 200), (4, 30, 300)]

-----

In [84]:
lst = ["Samridhi", "Dutta", "how", "are", "you"]

In [85]:
for i in lst:
    print(i)

Samridhi
Dutta
how
are
you

In [87]:
for i in range(len(lst)):
    print(lst[i])

Samridhi
Dutta
how
are
you

In [91]:
d = {"a": 1, "b": 2, "c": 3}

In [89]:
d[0]

KeyError: 0

In [92]:
list(enumerate(d))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [93]:
for idx, k in enumerate(d): #to enumerate any data structure
    print(idx, k, d[k])

0 a 1
1 b 2
2 c 3

-----

#### Scoping of the variables - Local / Global

In [103]:
def f():
    s = "Samridhi" #scope local to the function
    print(s)
    return 10000

In [95]:
s

NameError: name 's' is not defined

In [97]:
p = 1000 #scoping of p variable? p is global variable

In [98]:
p

1000

In [100]:
s = 100 #global scoping

In [101]:
f()

Samridhi

In [104]:
s # since the global variable s had value 100

100

In [105]:
s = f() #here the value of s will get updated

Samridhi

In [106]:
s

10000

In [ ]:
#global variable does not get affected by the local var and vice-versa

In [107]:
def f():
    global s #s is a global variable. Whatever changes I make to s should be reflected globally
    s = "Dutta"
    print(s)

In [108]:
s

10000

In [109]:
f()

Dutta

In [110]:
s

'Dutta'

In [118]:
#globals() #a dictionary of all the global variables created in my file

In [121]:
stock_list = ["MSFT", "INFY", "TCS", "MARUTI"]

In [122]:
i = 0
for symb in stock_list:
    i+=1
    globals()[symb] = i

In [127]:
MSFT, TCS, MARUTI,INFY

(1, 3, 4, 2)

In [128]:
d

{'a': 1, 'b': 2, 'c': 3}

In [130]:
d[2] = "Samridhi"

In [134]:
d['a']

1

In [138]:
#both below are doing the same thing, defining the variable 'var' having a value = 10
var = 10 
globals()['var'] = 10

In [139]:
globals()['var']

10