In [16]:
#!pip install datetime

In [1]:
import pandas as pd
import numpy as np
import datetime

In [5]:
dt = datetime.datetime.today()

In [6]:
print(dt)

2019-10-21 00:41:08.752699

In [7]:
dt.day

21

In [8]:
dt.month

10

In [9]:
dt.year

2019

In [10]:
dt.hour

0

In [12]:
dt.minute

41

In [13]:
dt.second

8

In [14]:
d = datetime.date(1999, 9, 10)

In [15]:
print(d)

1999-09-10

In [17]:
t = datetime.time(13, 10, 45, 10)

In [18]:
t

datetime.time(13, 10, 45, 10)

In [19]:
print(t)

13:10:45.000010

In [20]:
t.hour, t.microsecond, t.minute, t.second

(13, 10, 10, 45)

In [22]:
dttime = datetime.datetime.combine(d,t)

In [23]:
print(dttime)

1999-09-10 13:10:45.000010

In [24]:
x = datetime.datetime(2019, 10, 21, 10, 29, 45, 15)

In [25]:
print(x)

2019-10-21 10:29:45.000015

In [26]:
td=x-dttime

In [28]:
print(td)

7345 days, 21:19:00.000005

In [29]:
td.days

7345

In [31]:
td.microseconds

5

In [33]:
td.total_seconds()

634684740.000005

In [34]:
ap = pd.read_csv("AirPassengers.csv")

In [37]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
Month          144 non-null object
#Passengers    144 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [40]:
print(list(ap.Month))

['1949-01', '1949-02', '1949-03', '1949-04', '1949-05', '1949-06', '1949-07', '1949-08', '1949-09', '1949-10', '1949-11', '1949-12', '1950-01', '1950-02', '1950-03', '1950-04', '1950-05', '1950-06', '1950-07', '1950-08', '1950-09', '1950-10', '1950-11', '1950-12', '1951-01', '1951-02', '1951-03', '1951-04', '1951-05', '1951-06', '1951-07', '1951-08', '1951-09', '1951-10', '1951-11', '1951-12', '1952-01', '1952-02', '1952-03', '1952-04', '1952-05', '1952-06', '1952-07', '1952-08', '1952-09', '1952-10', '1952-11', '1952-12', '1953-01', '1953-02', '1953-03', '1953-04', '1953-05', '1953-06', '1953-07', '1953-08', '1953-09', '1953-10', '1953-11', '1953-12', '1954-01', '1954-02', '1954-03', '1954-04', '1954-05', '1954-06', '1954-07', '1954-08', '1954-09', '1954-10', '1954-11', '1954-12', '1955-01', '1955-02', '1955-03', '1955-04', '1955-05', '1955-06', '1955-07', '1955-08', '1955-09', '1955-10', '1955-11', '1955-12', '1956-01', '1956-02', '1956-03', '1956-04', '1956-05', '1956-06', '1956-07', '1956-08', '1956-09', '1956-10', '1956-11', '1956-12', '1957-01', '1957-02', '1957-03', '1957-04', '1957-05', '1957-06', '1957-07', '1957-08', '1957-09', '1957-10', '1957-11', '1957-12', '1958-01', '1958-02', '1958-03', '1958-04', '1958-05', '1958-06', '1958-07', '1958-08', '1958-09', '1958-10', '1958-11', '1958-12', '1959-01', '1959-02', '1959-03', '1959-04', '1959-05', '1959-06', '1959-07', '1959-08', '1959-09', '1959-10', '1959-11', '1959-12', '1960-01', '1960-02', '1960-03', '1960-04', '1960-05', '1960-06', '1960-07', '1960-08', '1960-09', '1960-10', '1960-11', '1960-12']

In [42]:
ap.Month = pd.to_datetime(ap.Month, format = "%Y-%m")

### Datetime formatting

%a	Weekday as locale’s abbreviated name.	Sun, Mon, …, Sat (en_US);

		So, Mo, …, Sa (de_DE)
        
%A	Weekday as locale’s full name.	Sunday, Monday, …, Saturday (en_US);

		Sonntag, Montag, …, Samstag (de_DE)
        
%w	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.	0, 1, …, 6

%d	Day of the month as a zero-padded decimal number.	01, 02, …, 31

%b	Month as locale’s abbreviated name.	Jan, Feb, …, Dec (en_US);

%B	Month as locale’s full name.	January, February, …, December (en_US);

%m	Month as a zero-padded decimal number.	01, 02, …, 12

%y	Year without century as a zero-padded decimal number.	00, 01, …, 99

%Y	Year with century as a decimal number.	0001, 0002, …, 2013, 2014, …, 9998, 9999

%H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, …, 23

%I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, …, 12

%p	Locale’s equivalent of either AM or PM.	AM, PM (en_US);

%M	Minute as a zero-padded decimal number.	00, 01, …, 59

%S	Second as a zero-padded decimal number.	00, 01, …, 59

%f	Microsecond as a decimal number, zero-padded on the left.	000000, 000001, …, 999999

%z	UTC offset in the form +HHMM or -HHMM (empty string if the object is naive).	(empty), +0000, -0400, +1030

%Z	Time zone name (empty string if the object is naive).	(empty), UTC, EST, CST

%j	Day of the year as a zero-padded decimal number.	001, 002, …, 366

%U	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. 
All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, …, 53

%W	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, …, 53

In [43]:
ap.head()

       Month  #Passengers
0 1949-01-01          112
1 1949-02-01          118
2 1949-03-01          132
3 1949-04-01          129
4 1949-05-01          121

In [44]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
Month          144 non-null datetime64[ns]
#Passengers    144 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 2.3 KB

In [46]:
import warnings
warnings.filterwarnings(action="ignore")

In [47]:
nyc = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

In [48]:
nyc.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01/01/2016 07:43:13 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01/01/2016 03:24:42 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [49]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235181 entries, 0 to 235180
Data columns (total 53 columns):
Unique Key                        235181 non-null int64
Created Date                      235181 non-null object
Closed Date                       233534 non-null object
Agency                            235181 non-null object
Agency Name                       235181 non-null object
Complaint Type                    235181 non-null object
Descriptor                        230349 non-null object
Location Type                     235053 non-null object
Incident Zip                      233202 non-null float64
Incident Address                  201126 non-null object
Street Name                       201126 non-null object
Cross Street 1                    197272 non-null object
Cross Street 2                    196919 non-null object
Intersection Street 1             33627 non-null object
Intersection Street 2             33264 non-null object
Address Type                      233051 non-null object
City                              233203 non-null object
Landmark                          266 non-null object
Facility Type                     233533 non-null object
Status                            235181 non-null object
Due Date                          235178 non-null object
Resolution Description            235181 non-null object
Resolution Action Updated Date    233511 non-null object
Community Board                   235180 non-null object
Borough                           235180 non-null object
X Coordinate (State Plane)        232494 non-null float64
Y Coordinate (State Plane)        232494 non-null float64
Park Facility Name                235180 non-null object
Park Borough                      235180 non-null object
School Name                       235180 non-null object
School Number                     235180 non-null object
School Region                     235180 non-null object
School Code                       235180 non-null object
School Phone Number               235180 non-null object
School Address                    235180 non-null object
School City                       235180 non-null object
School State                      235180 non-null object
School Zip                        235180 non-null object
School Not Found                  235180 non-null object
School or Citywide Complaint      0 non-null float64
Vehicle Type                      0 non-null float64
Taxi Company Borough              0 non-null float64
Taxi Pick Up Location             0 non-null float64
Bridge Highway Name               191 non-null object
Bridge Highway Direction          191 non-null object
Road Ramp                         171 non-null object
Bridge Highway Segment            171 non-null object
Garage Lot Name                   0 non-null float64
Ferry Direction                   1 non-null object
Ferry Terminal Name               2 non-null object
Latitude                          232494 non-null float64
Longitude                         232494 non-null float64
Location                          232494 non-null object
dtypes: float64(10), int64(1), object(42)
memory usage: 95.1+ MB

In [57]:
nyc["Created Date"] = pd.to_datetime(nyc["Created Date"], format = "%m/%d/%Y %I:%M:%S %p")

In [55]:
nyc["Closed Date"] = pd.to_datetime(nyc["Closed Date"], format = "%m/%d/%Y %I:%M:%S %p")

In [58]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235181 entries, 0 to 235180
Data columns (total 53 columns):
Unique Key                        235181 non-null int64
Created Date                      235181 non-null datetime64[ns]
Closed Date                       233534 non-null datetime64[ns]
Agency                            235181 non-null object
Agency Name                       235181 non-null object
Complaint Type                    235181 non-null object
Descriptor                        230349 non-null object
Location Type                     235053 non-null object
Incident Zip                      233202 non-null float64
Incident Address                  201126 non-null object
Street Name                       201126 non-null object
Cross Street 1                    197272 non-null object
Cross Street 2                    196919 non-null object
Intersection Street 1             33627 non-null object
Intersection Street 2             33264 non-null object
Address Type                      233051 non-null object
City                              233203 non-null object
Landmark                          266 non-null object
Facility Type                     233533 non-null object
Status                            235181 non-null object
Due Date                          235178 non-null object
Resolution Description            235181 non-null object
Resolution Action Updated Date    233511 non-null object
Community Board                   235180 non-null object
Borough                           235180 non-null object
X Coordinate (State Plane)        232494 non-null float64
Y Coordinate (State Plane)        232494 non-null float64
Park Facility Name                235180 non-null object
Park Borough                      235180 non-null object
School Name                       235180 non-null object
School Number                     235180 non-null object
School Region                     235180 non-null object
School Code                       235180 non-null object
School Phone Number               235180 non-null object
School Address                    235180 non-null object
School City                       235180 non-null object
School State                      235180 non-null object
School Zip                        235180 non-null object
School Not Found                  235180 non-null object
School or Citywide Complaint      0 non-null float64
Vehicle Type                      0 non-null float64
Taxi Company Borough              0 non-null float64
Taxi Pick Up Location             0 non-null float64
Bridge Highway Name               191 non-null object
Bridge Highway Direction          191 non-null object
Road Ramp                         171 non-null object
Bridge Highway Segment            171 non-null object
Garage Lot Name                   0 non-null float64
Ferry Direction                   1 non-null object
Ferry Terminal Name               2 non-null object
Latitude                          232494 non-null float64
Longitude                         232494 non-null float64
Location                          232494 non-null object
dtypes: datetime64[ns](2), float64(10), int64(1), object(40)
memory usage: 95.1+ MB

In [59]:
#number of seconds in which the complaint was closed

In [62]:
nyc["time_to_close_complaints"] = nyc["Closed Date"] - nyc["Created Date"]
#this will create a time delta column. Each value of this series will be an instance of timedelta class

In [65]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235181 entries, 0 to 235180
Data columns (total 54 columns):
Unique Key                        235181 non-null int64
Created Date                      235181 non-null datetime64[ns]
Closed Date                       233534 non-null datetime64[ns]
Agency                            235181 non-null object
Agency Name                       235181 non-null object
Complaint Type                    235181 non-null object
Descriptor                        230349 non-null object
Location Type                     235053 non-null object
Incident Zip                      233202 non-null float64
Incident Address                  201126 non-null object
Street Name                       201126 non-null object
Cross Street 1                    197272 non-null object
Cross Street 2                    196919 non-null object
Intersection Street 1             33627 non-null object
Intersection Street 2             33264 non-null object
Address Type                      233051 non-null object
City                              233203 non-null object
Landmark                          266 non-null object
Facility Type                     233533 non-null object
Status                            235181 non-null object
Due Date                          235178 non-null object
Resolution Description            235181 non-null object
Resolution Action Updated Date    233511 non-null object
Community Board                   235180 non-null object
Borough                           235180 non-null object
X Coordinate (State Plane)        232494 non-null float64
Y Coordinate (State Plane)        232494 non-null float64
Park Facility Name                235180 non-null object
Park Borough                      235180 non-null object
School Name                       235180 non-null object
School Number                     235180 non-null object
School Region                     235180 non-null object
School Code                       235180 non-null object
School Phone Number               235180 non-null object
School Address                    235180 non-null object
School City                       235180 non-null object
School State                      235180 non-null object
School Zip                        235180 non-null object
School Not Found                  235180 non-null object
School or Citywide Complaint      0 non-null float64
Vehicle Type                      0 non-null float64
Taxi Company Borough              0 non-null float64
Taxi Pick Up Location             0 non-null float64
Bridge Highway Name               191 non-null object
Bridge Highway Direction          191 non-null object
Road Ramp                         171 non-null object
Bridge Highway Segment            171 non-null object
Garage Lot Name                   0 non-null float64
Ferry Direction                   1 non-null object
Ferry Terminal Name               2 non-null object
Latitude                          232494 non-null float64
Longitude                         232494 non-null float64
Location                          232494 non-null object
time_to_close_complaints          233534 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(10), int64(1), object(40), timedelta64[ns](1)
memory usage: 96.9+ MB

In [66]:
p = nyc.time_to_close_complaints[0]

In [67]:
type(p)

pandas._libs.tslibs.timedeltas.Timedelta

In [69]:
p.total_seconds()

3330.0

In [70]:
lst = []
for val in nyc.time_to_close_complaints:
    lst.append(val.total_seconds())

In [72]:
nyc["seconds_to_resolve_complaints"]=lst

In [73]:
nyc.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location,time_to_close_complaints,seconds_to_resolve_complaints
0,32310363,2015-12-31 23:59:45,2016-01-01 00:55:15,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)",00:55:30,3330.0
1,32309934,2015-12-31 23:59:44,2016-01-01 01:26:57,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)",01:27:13,5233.0
2,32309159,2015-12-31 23:59:29,2016-01-01 04:51:03,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)",04:51:34,17494.0
3,32305098,2015-12-31 23:57:46,2016-01-01 07:43:13,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)",07:45:27,27927.0
4,32306529,2015-12-31 23:56:58,2016-01-01 03:24:42,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)",03:27:44,12464.0