# Lists
Lists are a heterogenous data structure

In [1]:
x0 = [1,2,3,4,5, "Samridhi", True, 56.3, [5,7,9],(1,2,4)]
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [7]:
list(x0)

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [8]:
type(x0)

list

In [9]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
a = []
type(a)

list

In [11]:
dir([])
#or dir(a)
#or dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
#[]. gives the public methods

In [216]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [2]:
x0[0]

1

In [3]:
x0[1], x0[5], x0[9]

(2, 'Samridhi', (1, 2, 4))

In [15]:
len(x0)

10

In [4]:
x0[-1]#the last element

(1, 2, 4)

In [220]:
x0[-2], x0[-7], x0[-5] #will retrieve 2nd last element, 7th last and 5th last

([5, 7, 9], 4, 'Samridhi')

In [18]:
x0[5]

'Samridhi'

In [19]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [7]:
x0[2:5]#the last element of the sequence i.e 5th element will not be retrieved
#starting from 2 to 4

[3, 4, 5]

In [21]:
x0[3:8]#starting from 3 to 7

[4, 5, 'Samridhi', True, 56.3]

In [22]:
x0[9]

(1, 2, 4)

In [23]:
x0[-1]

(1, 2, 4)

In [24]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [25]:
x0[5:]#indicates 5th element to all

['Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [26]:
x0[:5] #notice that index 5 is not retrieved

[1, 2, 3, 4, 5]

In [221]:
x0[2:4] #2nd and 3rd

[3, 4]

In [27]:
x0[0:8:2] #0, 0+2, 2+2, 4+2, 6+2 #8th element will not be retrieved
#index + step

[1, 3, 5, True]

In [28]:
x0[-1:-9:-1] #excludes 9th last element

[(1, 2, 4), [5, 7, 9], 56.3, True, 'Samridhi', 5, 4, 3]

In [29]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [12]:
len(x0)

10

In [14]:
x0[:10:1]
#or 
x0[::1] #last element should be included

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [9]:
x0[::2]

[1, 3, 5, True, [5, 7, 9]]

In [10]:
x0[::-1] # starting from last to the first with a step of -1

[(1, 2, 4), [5, 7, 9], 56.3, True, 'Samridhi', 5, 4, 3, 2, 1]

In [223]:
x0[::2]

[1, 3, 5, True, [5, 7, 9]]

In [15]:
x0[3::2] #starts with 3 ends till the last, with a step size of 2
#3rd, 5,7,9

[4, 'Samridhi', 56.3, (1, 2, 4)]

In [32]:
#[::1] #starting from 0 till the end; step size can change: 1,2,3,
#[::-1] starting from end till the start with a step of -1; step size can change: -1,-2,-3,
#[3::2] #3 to end with a step of 2
#[:6:3] #starting from beginning till 6 (excluding 6th index)
#[:-5:-2] #starting from last element to the 5th last element(excluding this) with step = -2

In [33]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [17]:
x0[-2][2]

9

In [226]:
x0[-1][1]

2

In [228]:
x0[2:5] = ['A','B',"C"] #whatever sequences discussed above can be applied

In [229]:
x0

[1, 2, 'A', 'B', 'C', 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [38]:
x0[-2] = ('A','B')
x0

[1, 2, 'A', 'B', 'C', 'Samridhi', True, 56.3, ('A', 'B'), (1, 2, 4)]

In [19]:
lst = ['a',12, 56, 90, 'b',[2,3,4]]

In [26]:
#put to change the first and second element
lst[1:3] = 100,200
#or
lst[1:3] = [100,200]

In [27]:
lst

['a', 100, 200, 90, 'b', [2, 3, 4]]

In [31]:
lst[0,2] #throws error

TypeError: list indices must be integers or slices, not tuple

In [32]:
lst[0] = 67
lst[2]=77

In [37]:
lst

[67, 34, 56, 200, 200, 90, 'b', [2, 3, 4]]

In [38]:
len(lst)

8

In [39]:
lst[1:3]=['a','b', 'c']
lst

[67, 'a', 'b', 'c', 200, 200, 90, 'b', [2, 3, 4]]

In [40]:
len(lst)

9

In [42]:
[lst[3]]

['c']

In [44]:
[lst[0]]

[67]

In [45]:
#1st and 4th values
[lst[0]]+[lst[3]]

[67, 'c']

In [47]:
#to change the 0th element and 3rd element
lst[:4:3] = 56,89
lst

[56, 'a', 'b', 89, 200, 200, 90, 'b', [2, 3, 4]]

In [42]:
lst[0] = 56
lst[3] = 'p'

In [236]:
lst[0::3] = ['a','b']

### Delete lst components

In [53]:
lst

[56, 'a', 200, 90, 'b', [2, 3, 4]]

In [58]:
#to delete every alternate element from 2nd to 8th
lst[2:5]=[] #step size has to be 1

In [51]:
lst

[56, 'a', 200, 90, 'b', [2, 3, 4]]

In [261]:
lst[::-2]

[[2, 3, 4], 90, 12]

In [247]:
lst

['a', 'b', [2, 3, 4]]

In [60]:
lst = []

In [61]:
lst

[]

In [62]:
id(lst) #memory loc

1783934978696

In [63]:
#in order to free the memory location
del lst

In [51]:
lst

NameError: name 'lst' is not defined

In [68]:
lst = ['a',12, 56, 90, 'b',[2,3,4]]

In [69]:
del lst[5]
lst

['a', 12, 56, 90, 'b']

In [70]:
del lst[::-2]

In [73]:
lst = [1,2,3,4,5]

In [74]:
x = lst.pop() #this will returned the last element of the list
print(lst)

[1, 2, 3, 4]

In [75]:
x

5

In [76]:
x = lst.pop(2) #then it will return the value at that index
print(x, "\n", lst)

3
 [1, 2, 4]

In [77]:
lst = [1,3,4,5,7,1,3,4]

In [79]:
#remove method - to remove the first occurrence of the component that i want to remove
lst.remove(1)
print(lst)

[3, 4, 5, 7, 1, 3, 4]

In [ ]:
del lst[1:] #slices can be put

In [264]:
del(lst[::-2])

In [265]:
lst

[12]

In [81]:
#whether lst is an instance / object of list class or not
isinstance(lst, list)

True

In [271]:
lst

[12]

In [80]:
isinstance(lst, str)

False

In [277]:
isinstance(lst[0], tuple)

False

In [ ]:
print()

In [ ]:
#to add a few elements to the list

In [278]:
lst

[12]

In [279]:
lst  = lst + [6]

In [280]:
lst

[12, 6]

In [281]:
lst = lst + [5,6,8]

In [282]:
lst

[12, 6, 5, 6, 8]

In [283]:
#append method can be used to append only 1 component at a time in the last of the list
lst.append('p')

In [284]:
lst

[12, 6, 5, 6, 8, 'p']

In [285]:
lst.append([5,1]) #to append 1 element to the end of the list

In [286]:
lst

[12, 6, 5, 6, 8, 'p', [5, 1]]

In [287]:
#to add multiple components to a list
lst.extend(['how','are','you'])

In [288]:
lst

[12, 6, 5, 6, 8, 'p', [5, 1], 'how', 'are', 'you']

In [83]:
#to insert at some position
lst.insert(2, (90,67))
lst

[3, 4, (90, 67), 5, 7, 1, 3, 4]

In [82]:
#to count number of elements of a list
len(lst)

7

In [84]:
lst.count(3)

2

In [89]:
lst.index(3) #by default it gives the index of the first 7

0

In [97]:
lst

[3, 4, (90, 67), 5, 7, 1, 3, 4]

In [90]:
lst

[3, 4, (90, 67), 5, 7, 1, 3, 4]

In [95]:
lst.index(3, 4, ) #start index  = 2, stop index = 8

6

In [96]:
lst.index(3, lst.index(3)+1) #starting from the first index of  till the end

6

In [98]:
lst.index(4) #index of first 4

1

In [99]:
lst.index(4, 2, )

7

In [ ]:
lst.pop()

----

### Shallow copy and Deep copy concept

In [296]:
x = [1,3, 5,6,9.4]

In [297]:
y = x #a shallow copy is being created;; y is only pointing towards the memory location of x

In [298]:
id(x), id(y)

(2830574512136, 2830574512136)

In [299]:
y[3] = "Samridhi"

In [300]:
y

[1, 3, 5, 'Samridhi', 9.4]

In [301]:
x

[1, 3, 5, 'Samridhi', 9.4]

In [302]:
id(x), id(y)

(2830574512136, 2830574512136)

In [303]:
x= [1,3]
y = x.copy(); 
print(id(x), id(y))

#creating a deep copy which means y is now pointing to a sep mem locn and having the same values

2830575770184 2830575768776

In [304]:
x[0]="S"
print(x, "\n",y) #the changes made to x are not reflected in y

['S', 3]
 [1, 3]

In [305]:
# or 
z = list(x); 
print(z)
print(id(x), id(z))
#this also creates a deep copy

['S', 3]
2830575770184 2830574512712

In [306]:
y[1] = "Samridhi"
print(y)
print(x)

[1, 'Samridhi']
['S', 3]

In [309]:
#sort method works for same data type
lst = [5,6,90,1]
lst.sort(reverse = True)

In [310]:
lst

[90, 6, 5, 1]

In [ ]:
lst = ['a', 'p', 'w', 'b']

In [ ]:
lst.sort(reverse = True)

In [ ]:
lst

In [311]:
sorted(lst, reverse=True) #list tuple numpy array pandas series

[90, 6, 5, 1]

---

### Tuples
- immutable 
- read-only list
- tuples in (), lists in []
- tuples are immutable unlike lists i.e read-only lists - they can't be modified, though a - - - list inside the tuple can b modified
- because of the immutable property of tuples, they occupy far less memory space than lists and hence programmers love them

In [313]:
tup = (1,3,5,1)

In [314]:
tup[2]

5

In [ ]:
tup.

In [315]:
tup[:2]

(1, 3)

In [316]:
#count the number of 1s in the tuple
tup.count(1)

2

In [317]:
#to find the index of 3 
tup.index(3)

1

In [319]:
tup = (1,4,5,['a','b'])

In [321]:
tup[3].extend([1,3])

In [322]:
tup

(1, 4, 5, ['a', 'b', 1, 3])

In [67]:
#for the list insided the tuples all the list methods will apply

In [68]:
#replace the elements of the list in the tuple by [1,2,3,4]

In [324]:
tup[-1][0:]=[1,2,3,4]
tup

(1, 4, 5, [1, 2, 3, 4])

In [325]:
new = tup[-1]

In [71]:
#new = ['a','b','c','d'] 
#this creates a new list, we are required the modifications in the existing list

In [326]:
id(tup[-1]), id(new) #any changes made to the list in new will be reflected in the tuple

(2830576690248, 2830576690248)

In [73]:
tup

(1, 4, 5, [1, 2, 3, 4])

In [74]:
id(tup)

2830572237752

In [75]:
new = tup[-1]

In [76]:
id(new)

2830572209864

In [77]:
id(tup[-1])

2830572209864

In [78]:
new

[1, 2, 3, 4]

In [79]:
new[:] = ['a','b']

In [80]:
id(new)

2830572209864

In [81]:
tup

(1, 4, 5, ['a', 'b'])

In [82]:
new.sort(reverse =True)

In [83]:
tup

(1, 4, 5, ['b', 'a'])

In [84]:
#to convert a tuple into a list
lst = list(tup)
lst

[1, 4, 5, ['b', 'a']]

In [85]:
list(tup)

[1, 4, 5, ['b', 'a']]

In [327]:
tuple(lst)

(90, 6, 5, 1)

---

In [87]:
#Sets
#use sets to remove the duplicate values from the list
#supports set operations like union intersection
#there is no order in sets
#You should make use of sets when you have an unordered set of unique values

In [328]:
lst = [1,3,4,1,3,4,5,100]

In [329]:
a=set(lst)

In [90]:
lst

[1, 3, 4, 1, 3, 4, 5, 100]

In [333]:
a

{1, 3, 4, 5, 100}

In [92]:
lst=list(a)
lst

[1, 3, 100, 4, 5]

In [334]:
b = {7,9, 's', 'd', 3,100}

In [335]:
a.intersection(b)

{3, 100}

In [95]:
#lst ->tuple
tuple(lst)

(1, 3, 100, 4, 5)

---

### Dictionaries

In [96]:
coun_pop = [["Afghanistan", 30.55], ["Albania", 2.77]]

In [97]:
#to retrieve the value of Afghanistan

In [98]:
pop=[coun_pop[0][1]] + [coun_pop[1][1]]
pop

[30.55, 2.77]

In [99]:
countries=[coun_pop[0][0]] + [coun_pop[1][0]]
countries

['Afghanistan', 'Albania']

In [100]:
ind=countries.index("Afghanistan")

In [101]:
pop[ind]

30.55

In [336]:
#each item is a key value-pair
world = {"Afghanistan": 30.55, "Albania": 2.77, "Algeria": 39.21}

In [103]:
type(world), type(lst), type(tup), type(a) #to get the class of the variable

(dict, list, tuple, set)

In [104]:
len(world)

3

In [343]:
world['Afghanistan'], world['Algeria']

(30.55, 39.21)

In [ ]:
world['Afghanistan','Algeria'] #throws error

In [341]:
#to define an empty dictionary
a = {}
print(type(a))
print(a)

b = dict()
print(b)

<class 'dict'>
{}
{}

In [105]:
pop = [world['Afghanistan'], world["Albania"], world["Algeria"]]
pop

[30.55, 2.77, 39.21]

In [106]:
countries = list(world)
countries

['Afghanistan', 'Albania', 'Algeria']

In [107]:
#A dictionary key can be any python data-type: int, str, float, bool
#but usually we use either numbers or strings as the keys. Immutable tuples can also come in 
#the key.
#Values - can be any arbitrary python object, and there is no restriction - numpy array, pandas dataframe, list, tuple, set

In [345]:
#to modify values given the key
world["Afghanistan"] = 50

In [346]:
world

{'Afghanistan': 50, 'Albania': 2.77, 'Algeria': 39.21}

In [347]:
world["India"]

KeyError: 'India'

In [348]:
world.get("India",0) #returns 0 if India not there in the dictionary

0

In [349]:
world.get("Afghanistan",0)

50

In [352]:
?sorted

In [353]:
?world.get

In [350]:
world.get("USA",0)

Object `world.get("USA",0)` not found.

In [355]:
world.items()

dict_items([('Afghanistan', 50), ('Albania', 2.77), ('Algeria', 39.21)])

In [357]:
world.keys()

dict_keys(['Afghanistan', 'Albania', 'Algeria'])

In [358]:
world.values()

dict_values([50, 2.77, 39.21])

In [113]:
#how to convert dictionary into a list
list(world.items())

[('Afghanistan', 50), ('Albania', 2.77), ('Algeria', 39.21)]

In [114]:
list(world.values())

[50, 2.77, 39.21]

In [359]:
list(world.keys())

['Afghanistan', 'Albania', 'Algeria']

In [362]:
world['Afghanistan'] = 23
world

{'Afghanistan': 23, 'Albania': 2.77, 'Algeria': 39.21}

In [116]:
#to check if some key is there in the dictionary or not
"India" in world

False

In [117]:
"India" not in world

True

In [118]:
lst

[1, 3, 100, 4, 5]

In [119]:
'India' in a #lists tuples sets dictionaries

False

In [120]:
#to update the value of afghanistan

In [121]:
world["Afghanistan"] = 34

In [363]:
world.update({"Afghanistan": 12, "Albania": 34, "India": 23}) #if the key is not existent in the dictionary, then it will be added

In [364]:
world

{'Afghanistan': 12, 'Albania': 34, 'Algeria': 39.21, 'India': 23}

In [366]:
world['Algeria']

39.21

---

In [124]:
### String functions

In [125]:
'spam eggs'

'spam eggs'

In [126]:
"samridhi"

'samridhi'

In [367]:
'doesn't'

SyntaxError: invalid syntax (<ipython-input-367-f70cf6904edb>, line 1)

In [368]:
'doesn\'t'

"doesn't"

In [369]:
"doesn't"

"doesn't"

In [370]:
'"Yes", he said'

'"Yes", he said'

In [373]:
"\"Yes\", he said"

'"Yes", he said'

In [128]:
print("\"Yes\", He said")

"Yes", He said

In [129]:
print('Yes", He said')

Yes", He said

In [130]:
'how \n are \n you'

'how \n are \n you'

In [378]:
print('how \n are \n you')

how
 are
 you

In [375]:
print("C:\some\name")

C:\some\name

In [133]:
print("C:\some\\name")

C:\some\name

In [376]:
print(r"C:\some\name") 
# r indicates that we are not going to escape the special characters with an escape

C:\some\name

In [379]:
print(r'how \n are \n you') #the special meaning of \n will go away

how \n are \n you

In [135]:
#special characters: . \ | ( ) [ { ^ $ * + ?

In [136]:
print("C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem")

C:\Vaibhav\Documents\DataScienceatch	heclassificationProblem

In [137]:
print(r"C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem") #don't assume the special meaning for the special characters

C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem

In [138]:
print("C:\\Vaibhav\\Documents\\DataScience\\batch\\theclassificationProblem")

C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem

In [139]:
print("C:\Vaibhav\Documents\DataScience\batch\\theclassificationProblem")

C:\Vaibhav\Documents\DataSciencatch\theclassificationProblem

In [140]:
print("Raju: How are you?
      Samridhi: Hey I am doing great")

SyntaxError: EOL while scanning string literal (<ipython-input-140-b77d1a30050c>, line 1)

In [141]:
print("Raju: How are you?\
      Samridhi: Hey I am doing great") #line continuation does not mean \n

Raju: How are you?      Samridhi: Hey I am doing great

In [142]:
print("""Raju: How are you?
      Samridhi: Hey I am doing great"""
     )

Raju: How are you?
      Samridhi: Hey I am doing great

In [143]:
print(r'''Raju: How are you?
      Samridhi: Hey I am doing great'''
     )

Raju: How are you?
      Samridhi: Hey I am doing great

In [144]:
#concatenation of strings
'abc'+'def'

'abcdef'

In [145]:
'abc' 'def' #this doesn't work when it's assigned to the vars

'abcdef'

In [146]:
x = "abc"
y = "def"

In [147]:
x+y

'abcdef'

In [148]:
x y

SyntaxError: invalid syntax (<ipython-input-148-469c70ac347d>, line 1)

In [149]:
"Py" "thon"

'Python'

In [382]:
a = "Py"

In [384]:
a "thon"

SyntaxError: invalid syntax (<ipython-input-384-a49f1d2e5ac1>, line 1)

In [380]:
print(r'Raju: How are you? \n'
      'Samridhi: Hey I am doing great'
     )  #because of r - not going to the next line

Raju: How are you? \nSamridhi: Hey I am doing great

In [152]:
3* "un" + "Sam"

'unununSam'

In [386]:
x = "Samridhi"

In [154]:
x[0]

'S'

In [155]:
x[3]

'r'

In [156]:
x[-1]

'i'

In [387]:
x

'Samridhi'

In [157]:
#slicing similar to lists
x[:5:2]

'Smi'

In [158]:
x[::-1]

'ihdirmaS'

In [159]:
x[1] = "M"

TypeError: 'str' object does not support item assignment

In [390]:
x = "Deepali"

In [391]:
#to replace all the es with f
x.replace('e', 'f')

'Dffpali'

In [392]:
x.replace("ep", "pattern")

'Depatternali'

In [394]:
x[:4] + x[5:]

'Deepli'

In [395]:
x[-2:]

'li'

In [396]:
x

'Deepali'

In [397]:
x[2:5]

'epa'

In [398]:
x[-6:-3]

'eep'

In [399]:
x

'Deepali'

In [402]:
x[-6:-3:-1] #doesn't give the output

''

In [163]:
x

'Samridhi'

In [164]:
"""Replace Sam with Lo
"Loridhi"
"""

'Replace Sam with Lo\n"Loridhi"\n'

In [165]:
"Lo" + x[3:]

'Loridhi'

In [166]:
x.replace("Sam","Lo")

'Loridhi'

In [167]:
s = " How    "

In [168]:
s.strip()

'How'

In [169]:
s.lstrip()

'How    '

In [170]:
s.rstrip()

' How'

In [171]:
t = "You are awesome"

In [172]:
t.find("are", 0, len(t))

4

In [173]:
t.count('a')

2

In [174]:
t.lower()

'you are awesome'

In [175]:
t = t.upper()

In [176]:
t

'YOU ARE AWESOME'

In [177]:
t.title()

'You Are Awesome'

In [178]:
t.capitalize() #only first alphabet capital

'You are awesome'

In [179]:
t.rindex('E') #index of the right most E

14

# REGULAR EXPRESSIONS

## Special Characters 
Special characters are escaped using \: . \ | ( ) [ { ^ $ * + ?, 

The special characters are:

- '.'

    (Dot.) In the default mode, this matches any character except a newline. If the DOTALL flag has been specified, this matches any character including a newline.
- '^'

    (Caret.) Matches the start of the string, and in MULTILINE mode also matches immediately after each newline.
- '$'

    Matches the end of the string or just before the newline at the end of the string, and in MULTILINE mode also matches before a newline. foo matches both foo and foobar, while the regular expression foo$ matches only foo. More interestingly, searching for foo.$ in 'foo1\nfoo2\n' matches foo2 normally, but foo1 in MULTILINE mode; searching for a single $ in 'foo\n' will find two (empty) matches: one just before the newline, and one at the end of the string.
- '*'

    Causes the resulting RE to match 0 or more repetitions of the preceding RE, as many repetitions as are possible. ab* will match a, ab, or a followed by any number of bs.
- '+'

    Causes the resulting RE to match 1 or more repetitions of the preceding RE. ab+ will match a followed by any non-zero number of bs; it will not match just a.
- '?'

    Causes the resulting RE to match 0 or 1 repetitions of the preceding RE. ab? will match either a or ab.
- *?, +?, ??

    The '*', '+', and '?' qualifiers are all greedy; they match as much text as possible. Sometimes this behaviour isnt desired; if the RE <.*> is matched against <a> b <c>, it will match the entire string, and not just <a>. Adding ? after the qualifier makes it perform the match in non-greedy or minimal fashion; as few characters as possible will be matched. Using the RE <.*?> will match only <a>.

- {m}

    Specifies that exactly m copies of the previous RE should be matched; fewer matches cause the entire RE not to match. For example, a{6} will match exactly six 'a' characters, but not five.
- {m,n}

    Causes the resulting RE to match from m to n repetitions of the preceding RE, attempting to match as many repetitions as possible. For example, a{3,5} will match from 3 to 5 'a' characters. Omitting m specifies a lower bound of zero, and omitting n specifies an infinite upper bound. As an example, a{4,}b will match aaaab or a thousand 'a' characters followed by a b, but not aaab. The comma may not be omitted or the modifier would be confused with the previously described form.
- {m,n}?

    Causes the resulting RE to match from m to n repetitions of the preceding RE, attempting to match as few repetitions as possible. This is the non-greedy version of the previous qualifier. For example, on the 6-character string 'aaaaaa', a{3,5} will match 5 'a' characters, while a{3,5}? will only match 3 characters.
- '\\'

    Either escapes special characters (permitting you to match characters like '*', '?', and so forth), or signals a special sequence; special sequences: \d, \D, \w,\W

### []

    Used to indicate a set of characters. In a set:

        - Characters can be listed individually, e.g. [amk] will match 'a', 'm', or 'k'.

        - Ranges of characters can be indicated by giving two characters and separating them by a '-', for example [a-z] will match any lowercase ASCII letter, [0-5][0-9] will match all the two-digits numbers from 00 to 59, and [0-9A-Fa-f] will match any hexadecimal digit. If - is escaped (e.g. [a\-z]) or if its placed as the first or last character (e.g. [a-]), it will match a literal '-'.

        - Special characters lose their special meaning inside sets. For example, [(+*)] will match any of the literal characters '(', '+', '*', or ')'.
        -Characters that are not within a range can be matched by complementing the set. If the first character of the set is '^', all the characters that are not in the set will be matched. For example, [^5] will match any character except '5', and [^^] will match any character except '^'. ^ has no special meaning if its not the first character in the set.

        - To match a literal ']' inside a set, precede it with a backslash, or place it at the beginning of the set. For example, both [()[\]{}] and []()[{}] will both match a parenthesis.



A character class is a list of characters enclosed between [ and ] which matches 
   any single character in that list; unless the first character of the list is    the caret ^, 
   when it matches any   character not in the list. For example, the regular 
   expression [0123456789] matches any single digit, and [^abc] matches anything except 
   the characters a, b or c. A range of characters may be specified by giving the first
   and last characters, separated by a hyphen. (Because their interpretation is locale- and 
   implementation-dependent, character ranges are best avoided.) 
[...] matches any character [a-z,A-Z]
[^...] matches all the characters except these [^1-6]- matches all characters except 1 to 6
'|'

-    A|B, where A and B can be arbitrary REs, creates a regular expression that will match either A or B. An arbitrary number of REs can be separated by the '|' in this way. This can be used inside groups (see below) as well. As the target string is scanned, REs separated by '|' are tried from left to right. When one pattern completely matches, that branch is accepted. This means that once A matches, B will not be tested further, even if it would produce a longer overall match. In other words, the '|' operator is never greedy. To match a literal '|', use \|, or enclose it inside a character class, as in [|].
(...)

-    Matches whatever regular expression is inside the parentheses, and indicates the start and end of a group; the contents of a group can be retrieved after a match has been performed, and can be matched later in the string with the \number special sequence, described below. To match the literals '(' or ')', use \( or \), or enclose them inside a character class: [(] [)].

- '|'

    A|B, where A and B can be arbitrary REs, creates a regular expression that will match either A or B. An arbitrary number of REs can be separated by the '|' in this way. This can be used inside groups (see below) as well. As the target string is scanned, REs separated by '|' are tried from left to right. When one pattern completely matches, that branch is accepted. This means that once A matches, B will not be tested further, even if it would produce a longer overall match. In other words, the '|' operator is never greedy. To match a literal '|', use \|, or enclose it inside a character class, as in [|].
(...)

    Matches whatever regular expression is inside the parentheses, and indicates the start and end of a group; the contents of a group can be retrieved after a match has been performed, and can be matched later in the string with the \number special sequence, described below. To match the literals '(' or ')', use \( or \), or enclose them inside a character class: [(] [)].


The special sequences consist of '\' and a character from the list below. If the ordinary character is not on the list, then the resulting RE will match the second character. For example, \$ matches the character '$'. Make sure you don't set the unicode and locale flags to match an ascii character. 

- \number

    Matches the contents of the group of the same number. Groups are numbered starting from 1. For example, (.+) \1 matches 'the the' or '55 55', but not 'thethe' (note the space after the group). This special sequence can only be used to match one of the first 99 groups. If the first digit of number is 0, or number is 3 digits long, it will not be interpreted as a group match, but as the character with the value number. Inside the '[' and ']' of a character class, all numeric escapes are treated as characters.
- \A

    Matches only at the start of the string.
- \b - matches word boundary

    Matches the empty string, but only at the beginning or end of a word. A word is defined as a sequence of alphanumeric or underscore characters, so the end of a word is indicated by whitespace or a non-alphanumeric, non-underscore character. Note that formally, \b is defined as the boundary between a \w and a \W character (or vice versa), or between \w and the beginning/end of the string. For example, r'\bfoo\b' matches 'foo', 'foo.', '(foo)', 'bar foo baz', 'foo!' but not 'foobar' or 'foo3'. Inside a character range, \b represents the backspace character, for compatibility with Pythons string literals.
- \B - matches non boundary

    Matches the empty string, but only when it is not at the beginning or end of a word. This means that r'py\B' matches 'python', 'py3', 'py2', but not 'py', 'py.', or 'py!'. \B is just the opposite of \b, 
- \d - digit
- \D - nondigit
- \s - will match any string character except for space characters like  '[ \t\n]'
   
- \S matches any non-whitespace character; this is equivalent to the set [^ \t\n] 
    
- \w alpha-numeric charactersequivalent to the set [a-zA-Z0-9_]. 
- \W non-alpha-numeric [^a-zA-Z0-9_]

-\Z    Matches only at the end of the string.

In [403]:
import re

In [181]:
"""
12345678901              \d*
$12345678901             \$\d*
$12345678901.424          \$\d*\.\d*
$12345678901.42          \$\d*\.\d{2}
123-456-7890             \d{3}-\d{3}-\d{4}
Australia                [A-Z]\w*
"""

'\n12345678901              \\d*\n$12345678901             \\$\\d*\n$12345678901.42          \\$\\d*\\.\\d*\n$12345678901.42          \\$\\d*\\.\\d{2}\n123-456-7890             \\d{3}-\\d{3}-\\d{4}\nAustralia                [A-Z]\\w*\n'

In [182]:
"""The regular expression module in python is re. When performing pattern matching on data,\
since the pattern will be used for a match across multiple rows,\
it's better to compile the pattern first using re.compile(), and then use the compiled \
pattern to match values. After compilation the methods can be applied: 

split,
findall  - returns all matches,
match  - checks only the beginning of the string,
search  - returns the first occurrence
sub  - returns a new string with occurrences of the pattern replaced with the supplied string
"""

"The regular expression module in python is re. When performing pattern matching on data,since the pattern will be used for a match across multiple rows,it's better to compile the pattern first using re.compile(), and then use the compiled pattern to match values. After compilation the methods can be applied: \n\nsplit,\nfindall  - returns all matches,\nmatch  - checks only the beginning of the string,\nsearch  - returns the first occurrence\nsub  - returns a new string with occurrences of the pattern replaced with the supplied string\n"

In [183]:
import re
patternob = re.compile('\d{3}-\d{3}-[0-9]{4}')
patternob

re.compile(r'\d{3}-\d{3}-[0-9]{4}', re.UNICODE)

In [184]:
patternob.findall(string = "123-456-8903, 123-345-5678, 9024-232, 456-890-9345")

['123-456-8903', '123-345-5678', '456-890-9345']

In [409]:
string = "90, 123-456-8903, 123-345-5678, 9024-232"
patternob.search(string) #returns the first occurrence with span -4th index to 15th index

In [410]:
patternob.match(string) #looks for the pattern at the beginning of the string

In [187]:
patternob.sub("Found it", string,) #substitute all the occurrences

'90, Found it, Found it, 9024-232'

In [407]:
#extract info in paranthesis (laugh), (groans), (cries)
a = "What are we doing tomorrow? (laugh)Play soccer (groans) (cries)"
pattern = "\(.*?\)" #? makes sure non-greedy version
b = re.compile(pattern)

In [408]:
b.findall(a)

['(laugh)', '(groans)', '(cries)']

In [190]:
#split according to () and space
pattern = "[ ()]"
b = re.compile(pattern)

In [191]:
a

'What are we doing tomorrow? (laugh)Play soccer (groans) (cries)'

In [192]:
b.split(string = a)

['What',
 'are',
 'we',
 'doing',
 'tomorrow?',
 '',
 'laugh',
 'Play',
 'soccer',
 '',
 'groans',
 '',
 '',
 'cries',
 '']

In [193]:
number  = "101000000000100"
pattern1 = "1.*1"
pattern2 = "1.?1" 
a = re.compile(pattern1)
b = re.compile(pattern2)

In [194]:
a.findall(number)#

['1010000000001']

In [195]:
b.findall(number)

['101']

In [411]:
#to find email ids from a string
pattern = "[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.com"
a = re.compile(pattern)
a

re.compile(r'[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.com', re.UNICODE)

In [412]:
lst = ["My email address is abc@boeing.com","my email address is def@jobs.com","aescher koeif","paul@renne.com"]

In [413]:
a.findall(lst[0])

['abc@boeing.com']

In [414]:
a.findall(lst[1])

['def@jobs.com']

In [416]:
a.findall(lst[2])

[]

In [419]:
list(range(len(lst)))

[0, 1, 2, 3]

In [199]:
for i in range(len(lst)):
    print(a.findall(lst[i]))

['abc@boeing.com']
['def@jobs.com']
[]
['paul@renne.com']

In [200]:
x = [a.findall(lst[i]) for i in range(len(lst))]
x
#unlist them

[['abc@boeing.com'], ['def@jobs.com'], [], ['paul@renne.com']]

In [201]:
sum(x, [])

['abc@boeing.com', 'def@jobs.com', 'paul@renne.com']

In [202]:
y=[]
for i in range(len(x)):
    y = y + x[i]
print(y)

['abc@boeing.com', 'def@jobs.com', 'paul@renne.com']

In [203]:
#print all the email ids 
for i in range(len(lst)):
    x = a.findall(lst[i])
    if len(x)==0:
        continue
    else:
        [print(x[i], end = ",") for i in range(len(x))]

abc@boeing.com,def@jobs.com,paul@renne.com,

In [204]:
#without compiling the regular expression
m = re.match(r"(\d+).(\d+)", "24.1632")
print(m)
#note r indicates that we are not escaping the special symbols
n = re.match(r"(\d+)\.(\d+)", "24.1632")
print(n)

<_sre.SRE_Match object; span=(0, 7), match='24.1632'>
<_sre.SRE_Match object; span=(0, 7), match='24.1632'>

In [205]:
import re
str = "Take one up 1-3-2019 on 23 idea.One idea 45 at a Time 12-11-2020"
#find the first sub-strings that starts with o and followed by any 2 characters
result = re.search(r'o\w\w', str) #\w means any 2 alpha-numeric characters
#note:r indicates we are not escaping the special symbols in the string
print(result)
print(result.group()) 

#o and 1 alpha numeric character
result1 = re.search(r'O\w', str) #one alpha numeric character after O
#this returns a search object. on that search object we have to invoke a group method
print(result1.group())

<_sre.SRE_Match object; span=(5, 8), match='one'>
one
On

In [206]:
result = re.findall(r'o\w', str)
print(result)

result = re.findall(r'O\w', str)
print(result)

result = re.findall(r'O\w\w\w', str)
print(result) #returns an empty list

['on', 'on']
['On']
[]

In [207]:
str

'Take one up 1-3-2019 on 23 idea.One idea 45 at a Time 12-11-2020'

In [208]:
result = re.match(r'T\w\w', str) #match method matches at the beginning of the string, words lik tak tal
print(result.group())

result = re.match(r't\w\w', str)
print(result) #by asking to print result.group - getting error. 
#Result has none since there is no t\w\w at the beginning of the string.

Tak
None

In [209]:
#splits the string into multiple strings where-ever there is the specified delimiter
print(str)
result=re.split(r'\d+',str)  #here we are using 1 or more digit as the delimiter
print(result)

Take one up 1-3-2019 on 23 idea.One idea 45 at a Time 12-11-2020
['Take one up ', '-', '-', ' on ', ' idea.One idea ', ' at a Time ', '-', '-', '']

In [210]:
#sub function will substitute x pattern with y pattern in the given string
result = re.sub(r'One', 'Two', str)
print(result)

Take one up 1-3-2019 on 23 idea.Two idea 45 at a Time 12-11-2020

### Regular Expression: Multiple character matching using Quantifiers
So far, we have studied single character matching. We use quantifiers for multiple characters matching. 
+ 1 or more occurrence of preceding regular exp eg. O\d+ starts with O & 1 or more preceding reg expr(digits)
* 0 or more occurrence of preceding regular expr eg. \d* means 0 or more digits
* ? 0 or 1 representation of preceding regex eg. re.findall(r'O\w?').str gives O followed by 0 or 1 alnum char
* {} in this you can specify the exact no. of occurrences of preceding regex eg. re.findall(r'O\w{1}')-O+1alnum
* {min, max} re.findall(r'O\w{1,2}') means begins with O followed by min 1 alnum char and max 2 alnum chars

In [211]:
#Regular expr to find all the matching dates within a given string 22-11-2012
re.findall(r'\d{1,2}-\d{1,2}-\d{4}',str)

['1-3-2019', '12-11-2020']

In [212]:
result = re.findall(r'\d{1,2}-\d{1,2}-\d{4}', str)
print(result)

['1-3-2019', '12-11-2020']

In [213]:
result = re.search(r'^T\w*', str)#begins with T and followed by 0 or more alnum char
print(result.group())

Take