In [27]:
fhand = open(r'C:\Users\Vaibhav\Desktop\BA\Datasets\romeo.txt', 'r')

In [28]:
type(fhand)

_io.TextIOWrapper

In [29]:
a = fhand.read()

In [30]:
splittedText = a.split()

In [31]:
counts = {}
counts = dict()

In [32]:
splittedText

['But',
 'soft',
 'what',
 'light',
 'through',
 'yonder',
 'window',
 'breaks',
 'It',
 'is',
 'the',
 'east',
 'and',
 'Juliet',
 'is',
 'the',
 'sun',
 'Arise',
 'fair',
 'sun',
 'and',
 'kill',
 'the',
 'envious',
 'moon',
 'Who',
 'is',
 'already',
 'sick',
 'and',
 'pale',
 'with',
 'grief']

In [33]:
for txt in splittedText:
    counts[txt] = counts.get(txt, 0)+1
print(counts)

{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [ ]:
#another way

In [35]:
fhand = open(r'C:\Users\Vaibhav\Desktop\BA\Datasets\romeo.txt', 'r')

In [37]:
count = {}
for line in fhand:
    words = line.split()
    for word in words:
        count[word] = count.get(word, 0)+1
print(count)

{'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [ ]:
#how to iterate over the dictionaries

In [38]:
count

{'It': 1,
 'is': 3,
 'the': 3,
 'east': 1,
 'and': 3,
 'Juliet': 1,
 'sun': 2,
 'Arise': 1,
 'fair': 1,
 'kill': 1,
 'envious': 1,
 'moon': 1,
 'Who': 1,
 'already': 1,
 'sick': 1,
 'pale': 1,
 'with': 1,
 'grief': 1}

In [40]:
for k in count: #by default k will take the keys
    print(k, count[k])

It 1
is 3
the 3
east 1
and 3
Juliet 1
sun 2
Arise 1
fair 1
kill 1
envious 1
moon 1
Who 1
already 1
sick 1
pale 1
with 1
grief 1

In [41]:
count.items()

dict_items([('It', 1), ('is', 3), ('the', 3), ('east', 1), ('and', 3), ('Juliet', 1), ('sun', 2), ('Arise', 1), ('fair', 1), ('kill', 1), ('envious', 1), ('moon', 1), ('Who', 1), ('already', 1), ('sick', 1), ('pale', 1), ('with', 1), ('grief', 1)])

In [42]:
for k,v in count.items():
    print(k,v)

It 1
is 3
the 3
east 1
and 3
Juliet 1
sun 2
Arise 1
fair 1
kill 1
envious 1
moon 1
Who 1
already 1
sick 1
pale 1
with 1
grief 1

In [43]:
count.values()

dict_values([1, 3, 3, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [45]:
for i in count.values():
    print(i, end = ",")

1,3,3,1,3,1,2,1,1,1,1,1,1,1,1,1,1,1,

In [46]:
for index, value in enumerate(count.values()):
    print(index, value)

0 1
1 3
2 3
3 1
4 3
5 1
6 2
7 1
8 1
9 1
10 1
11 1
12 1
13 1
14 1
15 1
16 1
17 1

In [50]:
list(enumerate([1,3,4,7]))

[(0, 1), (1, 3), (2, 4), (3, 7)]

In [51]:
for ind, com in enumerate([1,3,4,7]):
    print(ind, com)

0 1
1 3
2 4
3 7

In [52]:
for index, com in enumerate(count.items()):
    print(index, com)

0 ('It', 1)
1 ('is', 3)
2 ('the', 3)
3 ('east', 1)
4 ('and', 3)
5 ('Juliet', 1)
6 ('sun', 2)
7 ('Arise', 1)
8 ('fair', 1)
9 ('kill', 1)
10 ('envious', 1)
11 ('moon', 1)
12 ('Who', 1)
13 ('already', 1)
14 ('sick', 1)
15 ('pale', 1)
16 ('with', 1)
17 ('grief', 1)

In [53]:
for ind, key in enumerate(count):
    print(ind, key, count[key])

0 It 1
1 is 3
2 the 3
3 east 1
4 and 3
5 Juliet 1
6 sun 2
7 Arise 1
8 fair 1
9 kill 1
10 envious 1
11 moon 1
12 Who 1
13 already 1
14 sick 1
15 pale 1
16 with 1
17 grief 1

In [54]:
count.keys()

dict_keys(['It', 'is', 'the', 'east', 'and', 'Juliet', 'sun', 'Arise', 'fair', 'kill', 'envious', 'moon', 'Who', 'already', 'sick', 'pale', 'with', 'grief'])

In [57]:
count.get(0, 0 )

0

In [60]:
list(count.items())

[('It', 1),
 ('is', 3),
 ('the', 3),
 ('east', 1),
 ('and', 3),
 ('Juliet', 1),
 ('sun', 2),
 ('Arise', 1),
 ('fair', 1),
 ('kill', 1),
 ('envious', 1),
 ('moon', 1),
 ('Who', 1),
 ('already', 1),
 ('sick', 1),
 ('pale', 1),
 ('with', 1),
 ('grief', 1)]

In [61]:
fruit_to_colour = {'watermelon': 'green', 'pomegranate': 'red',
'peach': 'orange', 'cherry': 'red', 'pear': 'green',
'banana': 'yellow', 'plum': 'purple', 'orange': 'orange'}
fruit_to_colour

{'watermelon': 'green',
 'pomegranate': 'red',
 'peach': 'orange',
 'cherry': 'red',
 'pear': 'green',
 'banana': 'yellow',
 'plum': 'purple',
 'orange': 'orange'}

In [63]:
color_to_fruit = {}
for fruit in fruit_to_colour:
    color = fruit_to_colour[fruit]
    color_to_fruit[color] = fruit
color_to_fruit

{'green': 'pear',
 'red': 'cherry',
 'orange': 'orange',
 'yellow': 'banana',
 'purple': 'plum'}

In [65]:
color_to_fruit = {}
for fruit in fruit_to_colour:
    fruit_color = fruit_to_colour[fruit]
    if fruit_color not in color_to_fruit:
        color_to_fruit[fruit_color] = [fruit]
    else:
        color_to_fruit[fruit_color].append(fruit)
color_to_fruit

{'green': ['watermelon', 'pear'],
 'red': ['pomegranate', 'cherry'],
 'orange': ['peach', 'orange'],
 'yellow': ['banana'],
 'purple': ['plum']}

In [ ]:
#If I want to again invert the dictionary to fruits to colors - Try as assignment

In [ ]:
### Lambda - fn without a name

In [66]:
def addtwo(x, y):
    return(x+y)

In [67]:
f = lambda x, y: x+y #lambda arguments : return value

In [68]:
f(1,2)

3

In [ ]:
#map fn: r  = map(func, seq)

In [69]:
lst = [1,2,3,4,5]

In [70]:
def sq_num(x):
    return(x**2)

In [72]:
list(map(sq_num, lst))

[1, 4, 9, 16, 25]

In [74]:
for i in map(sq_num, lst):
    print(i, end = ",")

1,4,9,16,25,

In [75]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### reduce
The function reduce(func, seq) continually applies the function func() to the sequence seq. It returns a single value. 

If seq = [ s1, s2, s3, ... , sn ], calling `reduce(func, seq)` works like this:  
+ At first the first two elements of seq will be applied to func, i.e. func(s1,s2).The list on which reduce() works looks now like this: [ func(s1, s2), s3, ... , sn ]
+ In the next step func will be applied on the previous result and the third element of the list, i.e. func(func(s1, s2),s3)
The list looks like this now: [ func(func(s1, s2),s3), ... , sn ]  
+ Continue like this until just one element is left and return this element as the result of `reduce()`

In [77]:
from functools import reduce
reduce(lambda x,y: x+y, [12, 23, 56, 89])

180

In [78]:
reduce(lambda x,y: x*y, [12, 23, 56, 89])

1375584

Exercise : A store maintains a list of all customers with the customer number and the price of each item purchased by the customer. Find the total amount for each customer.

In [79]:
orders = [[1,(100,500.50,450)],[2,(200,300.75,450.50)],[3,(400,300.50,650.50)]]
print(orders)

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]

In [82]:
orders[0][0]

1

In [84]:
list(map(lambda x: [x[0]], orders))

[[1], [2], [3]]

In [88]:
[reduce(lambda a,b: a+b, orders[0][1])]

[1050.5]

In [90]:
orders

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]

In [92]:
list(map(lambda x: [x[0]]+[reduce(lambda a,b: a+b, x[1])], orders))

[[1, 1050.5], [2, 951.25], [3, 1351.0]]

In [98]:
l1 = (1,2,3)
l2 = ['a', 'b', 'c']
l3 = [1.1, 1.2,1.3]

In [99]:
list(zip(l1, l2, l3))

[(1, 'a', 1.1), (2, 'b', 1.2)]

In [101]:
list(map(lambda x: x,orders))

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]