In [1]:
ls = ['one', 'two', 'three']

In [2]:
''.join(ls)

'onetwothree'

In [3]:
' '.join(ls)

'one two three'

In [4]:
'-'.join(ls)

'one-two-three'

In [5]:
ls = [1,2,3]

In [6]:
' '.join(ls)

TypeError: sequence item 0: expected str instance, int found

In [8]:
str(ls)

'[1, 2, 3]'

In [9]:
lst = []
lst = list()
for num in ls:
    lst.append(str(num))
print(lst)

['1', '2', '3']

In [11]:
','.join(lst)

'1,2,3'

In [14]:
ls

[1, 2, 3]

In [15]:
p = []
[p.append(str(num)) for num in ls]
print(p)

['1', '2', '3']

#### List Comprehensions
To represent the single line for loops
- new_list = [expression (or return value) for i in lst]
- new_list = [expression or returned value for i in lst if cond]
- new_list = [expression (or return value) if cond else expression for i in list]

In [17]:
lst  = [4,5,6,8,2]

In [18]:
[x**2 for x in lst]

[16, 25, 36, 64, 4]

In [21]:
[x**2 for x in range(10) if x < 5]

[0, 1, 4, 9, 16]

In [22]:
range(50)

range(0, 50)

In [24]:
print([i for i in range(50)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [26]:
lst = ['how', 'are', 'you']
fc = [x[0] for x in lst]
print(fc)

['h', 'a', 'y']

In [ ]:
#in range 50, I want to square only those values which are even

In [28]:
even_lst = [x**2 for x in range(50)if x%2==0]
print(even_lst)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

In [ ]:
#for each of the numbers in range 50, return either even or odd

In [30]:
print(['even' if(x%2==0) else 'odd' for x in range(50)])

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [31]:
cost = [.424, .4221, .4184, .413]
cases = [10,20,40, 30]
#How do you compute the weighted average?

In [32]:
cost*cases #element-wise arithmetic is not supported by lists

TypeError: can't multiply sequence by non-int of type 'list'

In [34]:
list(zip(cost, cases))

[(0.424, 10), (0.4221, 20), (0.4184, 40), (0.413, 30)]

In [36]:
sum(cases)

100

In [38]:
for x,y in zip(cost, cases):
    print(x*y/sum(cases))

0.0424
0.08442
0.16736
0.12389999999999998

In [39]:
lst = [x*y/sum(cases) for x,y in zip(cost,cases)]
print(lst)

[0.0424, 0.08442, 0.16736, 0.12389999999999998]

#### how to iterate over tuples
- same way as the list

#### iterate over dictionaries

In [ ]:
#LHS for dictionaries can also accept tuples - any of immutable data types it can accept
#tuples or int str float complex bool

In [40]:
d = {[1,2]: 2}

TypeError: unhashable type: 'list'

In [41]:
d = {(1,2): 4, ('p','q'): 6}

In [42]:
d

{(1, 2): 4, ('p', 'q'): 6}