# Class3

In [1]:
lst = ['a',12, 56, 90, 'b',[2,3,4]]

In [4]:
#put 'b' and 'c' instead of 12 and 56
lst[1:3]=['b', 'c']

['b', 'c']

In [10]:
#1st and 4th values
[lst[0]]+ [lst[3]]

['a', 90]

In [11]:
lst[0] = 56
lst[3] = 'p'

In [13]:
lst[0::3] = ['a','b']

### Delete lst components

In [14]:
lst

['a', 'b', 'c', 'b', 'b', [2, 3, 4]]

In [16]:
lst[2:5] = []

In [17]:
lst

['a', 'b', [2, 3, 4]]

In [18]:
lst = []

In [19]:
lst

[]

In [20]:
id(lst)

2820589677512

In [21]:
#in order to free the memory location
del lst

In [22]:
lst

NameError: name 'lst' is not defined

In [23]:
lst = ['a',12, 56, 90, 'b',[2,3,4]]

In [25]:
print(lst.pop()) #this will returned the last element of the list
print(lst)

b
['a', 12, 56, 90]

In [26]:
x = lst.pop(2)
print(x, "\n", lst)

56
 ['a', 12, 90]

In [27]:
#remove method - to remove the first occurrence of the component that i want to remove
lst.remove(12)
print(lst)

['a', 90]

In [28]:
del lst[1:] #slices can be put

In [29]:
lst

['a']

In [32]:
#whether lst is an instance / object of list class or not
isinstance(lst, list)

True

In [33]:
lst

['a']

In [34]:
isinstance(lst, str)

False

In [35]:
isinstance(lst[0], str)

True

In [ ]:
print()

In [ ]:
#to add a few elements to the list

In [36]:
lst

['a']

In [38]:
lst  = lst + [6]

In [39]:
lst

['a', 6]

In [40]:
lst = lst + [5,6,8]

In [41]:
lst

['a', 6, 5, 6, 8]

In [44]:
#append method can be used to append only 1 component at a time in the last of the list
lst.append('p')

In [45]:
lst

['a', 6, 5, 6, 8, 'a', 'p']

In [46]:
lst.append([5,1])

In [47]:
lst

['a', 6, 5, 6, 8, 'a', 'p', [5, 1]]

In [48]:
#to add multiple components to a list
lst.extend(['how','are','you'])

In [49]:
lst

['a', 6, 5, 6, 8, 'a', 'p', [5, 1], 'how', 'are', 'you']

In [50]:
#to insert at some position
lst.insert(2, (90,67))
lst

['a', 6, (90, 67), 5, 6, 8, 'a', 'p', [5, 1], 'how', 'are', 'you']

In [51]:
#to count number of elements of a list
len(lst)

12

In [52]:
lst.count('a')

2

In [53]:
lst.index('a')

0

In [58]:
lst

['a', 6, (90, 67), 5, 6, 8, 'a', 'p', [5, 1], 'how', 'are', 'you']

In [74]:
lst.index(6, 2, 8) #start index  = 2, stop index = 8

4

In [87]:
lst.index(6, lst.index(6)) #starting from the first index of  till the end

1

### Shallow copy and Deep copy concept

In [88]:
x = [1,3, 5,6,9.4]

In [89]:
y = x #a shallow copy is being created;; y is only pointing towards the memory location of x

In [90]:
y[3] = "Samridhi"

In [91]:
y

[1, 3, 5, 'Samridhi', 9.4]

In [92]:
x

[1, 3, 5, 'Samridhi', 9.4]

In [93]:
id(x), id(y)

(2820595082888, 2820595082888)

In [94]:
y = x.copy(); id(x), id(y) #creating a deep copy which means y is now pointing to a sep mem locn and having the same values

(2820595082888, 2820595129544)

In [95]:
y[1] = "Samridhi"
print(y)
print(x)

[1, 'Samridhi', 5, 'Samridhi', 9.4]
[1, 3, 5, 'Samridhi', 9.4]

In [96]:
#sort method works for same data type
lst = [5,6,90,1]
lst.sort()

In [97]:
lst

[1, 5, 6, 90]

In [100]:
lst = ['a', 'p', 'w', 'b']

In [103]:
lst.sort(reverse = True)

In [104]:
lst

['w', 'p', 'b', 'a']

---

### Tuples
immutable 
read-only list
tuples in (), lists in []
tuples are immutable unlike lists i.e read-only lists - they can't be modified, though a list inside the tuple can b modified
because of the immutable property of tuples, they occupy far less memory space than lists and hence programmers love them

In [122]:
tup = (1,3,5,1)

In [110]:
tup[2]

5

In [108]:
tup[:2]

(1, 3)

In [123]:
#count the number of 1s in the tuple
tup.count(1)

2

In [125]:
#to find the index of 3 
tup.index(3)

1

In [127]:
tup = (1,4,5,['a','b'])

In [128]:
tup[3].extend([1,3])

In [129]:
tup

(1, 4, 5, ['a', 'b', 1, 3])

In [ ]:
#for the list insided the tuples all the list methods will apply

In [ ]:
#replace the elements of the list in the tuple by [1,2,3,4]

In [134]:
tup[-1][0:]=[1,2,3,4]
tup

(1, 4, 5, [1, 2, 3, 4])

In [140]:
new = tup[-1]

In [141]:
#new = ['a','b','c','d'] 
#this creates a new list, we are required the modifications in the existing list

In [142]:
id(tup[-1]), id(new)

(2820595698376, 2820595699336)

In [143]:
tup

(1, 4, 5, [1, 2, 3, 4])

In [144]:
id(tup)

2820592160024

In [145]:
new = tup[-1]

In [146]:
id(new)

2820595698376

In [147]:
id(tup[-1])

2820595698376

In [148]:
new

[1, 2, 3, 4]

In [150]:
new[:] = ['a','b']

In [151]:
id(new)

2820595698376

In [152]:
tup

(1, 4, 5, ['a', 'b'])

In [153]:
new.sort(reverse =True)

In [155]:
tup

(1, 4, 5, ['b', 'a'])

In [157]:
#to convert a tuple into a list
lst = list(tup)
lst

[1, 4, 5, ['b', 'a']]

In [158]:
list(tup)

[1, 4, 5, ['b', 'a']]

In [159]:
tup

(1, 4, 5, ['b', 'a'])

---

In [ ]:
#Sets
#use sets to remove the duplicate values from the list
#supports set operations like union intersection

In [161]:
lst = [1,3,4,1,3,4,5,100]

In [164]:
a=set(lst)

In [163]:
lst

[1, 3, 4, 1, 3, 4, 5, 100]

In [170]:
a

{1, 3, 4, 5, 100}

In [171]:
lst=list(a)
lst

[1, 3, 100, 4, 5]

In [167]:
b = {7,9, 's', 'd', 3,100}

In [172]:
a.intersection(b)

{3, 100}

In [173]:
#lst ->tuple
tuple(lst)

(1, 3, 100, 4, 5)

---

### Dictionaries

In [174]:
coun_pop = [["Afghanistan", 30.55], ["Albania", 2.77]]

In [ ]:
#to retrieve the value of Afghanistan

In [180]:
pop=[coun_pop[0][1]] + [coun_pop[1][1]]
pop

[30.55, 2.77]

In [184]:
countries=[coun_pop[0][0]] + [coun_pop[1][0]]
countries

['Afghanistan', 'Albania']

In [186]:
ind=countries.index("Afghanistan")

In [187]:
pop[ind]

30.55

In [196]:
#each item is a key value-pair
world = {"Afghanistan": 30.55, "Albania": 2.77, "Algeria": 39.21}

In [192]:
type(world), type(lst), type(tup), type(a) #to get the class of the variable

(dict, list, tuple, set)

In [193]:
len(world)

3

In [201]:
[world['Afghanistan'], world["Albania"], world["Algeria"]]

[30.55, 2.77, 39.21]

In [202]:
list(world)

['Afghanistan', 'Albania', 'Algeria']

In [ ]:
#A dictionary key can be any python data-type: int, str, float, bool
#but usually we use either numbers or strings as the keys
#Values - can be any arbitrary python object, and there is no restriction - numpy array, pandas dataframe, list, tuple, set

In [204]:
#to modify values given the key
world["Afghanistan"] = 50

In [205]:
world

{'Afghanistan': 50, 'Albania': 2.77, 'Algeria': 39.21}

In [206]:
world["India"]

KeyError: 'India'

In [208]:
world.get("India")

In [209]:
world.get("Afghanistan")

50

In [215]:
#how to convert dictionary into a list
list(world.items())

[('Afghanistan', 50), ('Albania', 2.77), ('Algeria', 39.21)]

In [213]:
list(world.values())

[50, 2.77, 39.21]

In [216]:
world.keys()

dict_keys(['Afghanistan', 'Albania', 'Algeria'])

In [217]:
#to check if some key is there in the dictionary or not
"India" in world

False

In [218]:
"India" not in world

True

In [219]:
lst

[1, 3, 100, 4, 5]

In [222]:
'India' in a #lists tuples sets dictionaries

False

In [ ]:
#to update the value of afghanistan

In [224]:
world["Afghanistan"] = 34

In [225]:
world.update({"Afghanistan": 12, "Albania": 34, "India": 23})

In [226]:
world

{'Afghanistan': 12, 'Albania': 34, 'Algeria': 39.21, 'India': 23}

---

In [ ]:
### String functions

In [227]:
'spam eggs'

'spam eggs'

In [228]:
"samridhi"

'samridhi'

In [229]:
'doesn't'

SyntaxError: invalid syntax (<ipython-input-229-f70cf6904edb>, line 1)

In [230]:
'doesn\'t'

"doesn't"

In [231]:
"doesn't"

"doesn't"

In [238]:
print("\"Yes\", He said")

"Yes", He said

In [239]:
print('Yes", He said')

Yes", He said

In [240]:
'how \n are \n you'

'how \n are \n you'

In [241]:
print('how \n are \n you')

how
 are
 you

In [245]:
print("C:\some\name")

C:\some
ame

In [248]:
print("C:\some\\name")

C:\some\name

In [247]:
print(r"C:\some\name") 
# r indicates that we are not going to escape the special characters with an escape

C:\some\name

In [ ]:
#special characters: . \ | ( ) [ { ^ $ * + ?

In [249]:
print("C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem")

C:\Vaibhav\Documents\DataScienceatch	heclassificationProblem

In [250]:
print(r"C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem") #don't assume the special meaning for the special characters

C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem

In [251]:
print("C:\\Vaibhav\\Documents\\DataScience\\batch\\theclassificationProblem")

C:\Vaibhav\Documents\DataScience\batch\theclassificationProblem

In [252]:
print("C:\Vaibhav\Documents\DataScience\batch\\theclassificationProblem")

C:\Vaibhav\Documents\DataScienceatch\theclassificationProblem

In [253]:
print("Raju: How are you?
      Samridhi: Hey I am doing great")

SyntaxError: EOL while scanning string literal (<ipython-input-253-b77d1a30050c>, line 1)

In [254]:
print("Raju: How are you?\
      Samridhi: Hey I am doing great") #line continuation does not mean \n

Raju: How are you?      Samridhi: Hey I am doing great

In [255]:
print("""Raju: How are you?
      Samridhi: Hey I am doing great"""
     )

Raju: How are you?
      Samridhi: Hey I am doing great

In [257]:
print(r'''Raju: How are you?
      Samridhi: Hey I am doing great'''
     )

Raju: How are you?
      Samridhi: Hey I am doing great

In [258]:
#concatenation of strings
'abc'+'def'

'abcdef'

In [259]:
'abc' 'def' #this doesn't work when it's assigned to the vars

'abcdef'

In [260]:
x = "abc"
y = "def"

In [261]:
x+y

'abcdef'

In [262]:
x y

SyntaxError: invalid syntax (<ipython-input-262-469c70ac347d>, line 1)

In [263]:
"Py" "thon"

'Python'

In [264]:
a = "Py"

In [265]:
a "thon"

SyntaxError: invalid syntax (<ipython-input-265-a49f1d2e5ac1>, line 1)

In [270]:
print(r'Raju: How are you? \n'
      'Samridhi: Hey I am doing great'
     )  #because of r - not going to the next line

Raju: How are you? \nSamridhi: Hey I am doing great

In [266]:
3* "un" + "Sam"

'unununSam'

In [271]:
x = "Samridhi"

In [272]:
x[0]

'S'

In [273]:
x[3]

'r'

In [274]:
x[-1]

'i'

In [276]:
#slicing similar to lists
x[:5:2]

'Smi'

In [277]:
x[::-1]

'ihdirmaS'

In [278]:
x[1] = "M"

TypeError: 'str' object does not support item assignment

In [280]:
x[:4] + x[4:]

'Samridhi'

In [281]:
x[-2:]

'hi'

In [282]:
x

'Samridhi'

In [283]:
x[2:5]

'mri'

In [284]:
x[-6:-3]

'mri'

In [285]:
x[-6:-3:-1] #doesn't give the output

''

In [286]:
x

'Samridhi'

In [287]:
"""Replace Sam with Lo
"Loridhi"
"""

'Replace Sam with Lo\n"Loridhi"\n'

In [288]:
"Lo" + x[3:]

'Loridhi'

In [289]:
x.replace("Sam","Lo")

'Loridhi'

In [290]:
s = " How    "

In [291]:
s.strip()

'How'

In [292]:
s.lstrip()

'How    '

In [293]:
s.rstrip()

' How'

In [294]:
t = "You are awesome"

In [296]:
t.find("are", 0, len(t))

4

In [298]:
t.count('a')

2

In [299]:
t.lower()

'you are awesome'

In [302]:
t = t.upper()

In [303]:
t

'YOU ARE AWESOME'

In [304]:
t.title()

'You Are Awesome'

In [305]:
t.capitalize() #only first alphabet capital

'You are awesome'

In [308]:
t.rindex('E') #index of the right most E

14