In [1]:
#!pip install pdsql
#!conda install pdsql

Collecting pdsql
  Downloading https://files.pythonhosted.org/packages/cb/36/1668f4dec1d0f9d698e6b29b0ada2b7807e01d0723c6a8c6dc2d2f4bd7b7/pdsql-1.2.8.tar.gz
Requirement already satisfied: pandas in c:\users\vaibhav\anaconda3\lib\site-packages (from pdsql) (0.24.1)
Requirement already satisfied: sqlalchemy in c:\users\vaibhav\anaconda3\lib\site-packages (from pdsql) (1.2.18)
Requirement already satisfied: pyodbc in c:\users\vaibhav\anaconda3\lib\site-packages (from pdsql) (4.0.26)
Requirement already satisfied: pytz>=2011k in c:\users\vaibhav\anaconda3\lib\site-packages (from pandas->pdsql) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\vaibhav\anaconda3\lib\site-packages (from pandas->pdsql) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\vaibhav\anaconda3\lib\site-packages (from pandas->pdsql) (1.14.3)
Requirement already satisfied: six>=1.5 in c:\users\vaibhav\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->pdsql) (1.12.0)
Building wheels for collected packages: pdsql
  Building wheel for pdsql (setup.py): started
  Building wheel for pdsql (setup.py): finished with status 'done'
  Stored in directory: C:\Users\Vaibhav\AppData\Local\pip\Cache\wheels\fd\eb\19\c35cfaa35d33641ec52a4920655a1e7662125159d6a436acf3
Successfully built pdsql
Installing collected packages: pdsql
Successfully installed pdsql-1.2.8

In [ ]:
#!pip uninstall pdsql

In [ ]:
#multiple ways of importing the package

In [3]:
import math

In [5]:
#dir(math)

In [6]:
import math as ma

In [14]:
#dir(ma)
ma. #press tab after the period

2.0

In [11]:
from math import sqrt

In [12]:
sqrt(16)

4.0

In [13]:
from math import *
#from math import all the functions

In [15]:
sqrt(4)

2.0

In [16]:
sin(2)

0.9092974268256817

---

### Print

In [17]:
x = input('Please enter a number: ')

Please enter a number: 56

In [18]:
x

'56'

In [20]:
x = float(x)
x

56.0

In [21]:
print("I have saved $", x, "and now I am preparing to save more")
#the default seperator is " "

I have saved $ 56.0 and now I am preparing to save more

In [24]:
print("I have saved $", x, " and now I am preparing to save more",sep = '' )
#inside the paranthesis of a function press shift+tab to access the docstring
#try doing shift+tab 2 times

I have saved $56.0 and now I am preparing to save more

In [25]:
print("I have saved ${0} and now I am preparing to save {0} more".format(x))

I have saved $56.0 and now I am preparing to save 56.0 more

In [29]:
a = 100; b = 4; c=10

In [35]:
p,r,q = 100,4,10

In [36]:
'a = {} b = {} c = {}'.format(p,r,q) #by default it gets the value in the order 0,1,2

'a = 100 b = 4 c = 10'

In [37]:
'a = {2} b = {0} c = {1}'.format(p,r,q) #now a will have the value of 2nd locn, b of 0th loc and c 1st location

'a = 10 b = 100 c = 4'

In [38]:
print('a = {2} b = {0} c = {1}'.format(p,r,q))

a = 10 b = 100 c = 4

In [41]:
a, b = 0,1
while b<1000:
    print(b, end =",")
    a, b = b, a+b

1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [44]:
R2 = 34.9086
print('Rsq: %f' %R2)

Rsq: 34.908600

In [48]:
print('Rsq: %.2f'%R2)
print('Rsq: %.1f'%R2) #%f for float
print('Rsq: %d'%45) #%d for integers
print("My name is %s"%'Samridhi') #%s for strings

Rsq: 34.91
Rsq: 34.9
Rsq: 45
My name is Samridhi

---

### Lists
Lists are a heterogenous data structure

In [55]:
x0 = [1,2,3,4,5, "Samridhi", True, 56.3, [5,7,9],(1,2,4)]
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [61]:
list(x0)

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [56]:
type(x0)

list

In [58]:
#dir(list)

In [59]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#[]. gives the public methods

In [62]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [63]:
x0[0]

1

In [64]:
len(x0)

10

In [65]:
x0[-1]#the last element

(1, 2, 4)

In [66]:
x0[-2]

[5, 7, 9]

In [67]:
x0[5]

'Samridhi'

In [68]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [69]:
x0[2:5]#the last element of the sequence i.e 5th element will not be retrieved
#starting from 2 to 4

[3, 4, 5]

In [70]:
x0[3:8]#starting from 3 to 7

[4, 5, 'Samridhi', True, 56.3]

In [71]:
x0[9]

(1, 2, 4)

In [72]:
x0[-1]

(1, 2, 4)

In [73]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [74]:
x0[5:]#indicates 5th element to all

['Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [75]:
x0[:5] #notice that index 5 is not retrieved

[1, 2, 3, 4, 5]

In [77]:
x0[0:8:2] #0, 0+2, 2+2, 4+2, 6+2 #8th element will not be retrieved
#index + step

[1, 3, 5, True]

In [78]:
x0[-1:-9:-1] #excludes 9th last element

[(1, 2, 4), [5, 7, 9], 56.3, True, 'Samridhi', 5, 4, 3]

In [80]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [79]:
x0[::-1] # starting from last to the first with a step of -1

[(1, 2, 4), [5, 7, 9], 56.3, True, 'Samridhi', 5, 4, 3, 2, 1]

In [81]:
x0[3::2] #starts with 3 ends till the last, with a step size of 2
#3rd, 5,7,9

[4, 'Samridhi', 56.3, (1, 2, 4)]

In [ ]:
#[::1] #starting from 0 till the end; step size can change: 1,2,3,
#[::-1] starting from end till the start with a step of -1; step size can change: -1,-2,-3,
#[3::2] #3 to end with a step of 2
#[:6:3] #starting from beginning till 6 (excluding 6th index)
#[:-5:-2] #starting from last element to the 5th last element(excluding this) with step = -2

In [82]:
x0

[1, 2, 3, 4, 5, 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [84]:
x0[-2][1]

7

In [86]:
x0[-1][1]

2

In [89]:
x0[2:5] = ['A','B',"C"] #whatever sequences discussed above can be applied

In [90]:
x0

[1, 2, 'A', 'B', 'C', 'Samridhi', True, 56.3, [5, 7, 9], (1, 2, 4)]

In [92]:
x0[-2] = ('A','B')
x0

[1, 2, 'A', 'B', 'C', 'Samridhi', True, 56.3, ('A', 'B'), (1, 2, 4)]