# What is Python?

Python is a powerful modern computer general purpose programming language. 

Python allows you to use variables without declaring them (i.e., it determines types implicitly), and it relies on indentation as a control structure.

Python is a cross-platform programming language, meaning, it runs on multiple platforms like Windows, Mac OS X, Linux, Unix and has even been ported to the Java and .NET virtual machines. It is free and open source.

Statement and Comment:

Instructions that a Python interpreter can execute are called statements.

Multi-line statement:

In Python, end of a statement is marked by a newline character. 
But we can make a statement extend over multiple lines with the line continuation character (\). For example:

In [1]:
pwd() #gives the current working directory

'C:\\Users\\Vaibhav\\Desktop\\03June\\DataSciencePy\\PythonBasics'

In [ ]:
#Commenting
""" Multi-line comments
    Multi-line comments"""

In [2]:
import os
os.getcwd() #gives the current working directory

'C:\\Users\\Vaibhav\\Desktop\\03June\\DataSciencePy\\PythonBasics'

In [7]:
#dir(os) #to get all the attributes and methods in lists
#__ indicates private methods and rest are public methods

In [12]:
path = "C:\\Users\\Vaibhav\\Desktop\\03June\\datasets"
os.mkdir(path)

In [13]:
os.chdir(path)

In [ ]:
"Hello World"

In [16]:
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [19]:
help('abc'.capitalize)

Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [23]:
a = 'abc' #a is an object of string class having value 'abc'
?a.capitalize

In [24]:
a.capitalize()

'Abc'

In [21]:
help([].remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [22]:
a = [1,3]
?a.remove

In [25]:
print('Hello World')

Hello World

In [26]:
var = "Hello World"

In [27]:
var

'Hello World'

In [31]:
1+2+3+4+
5+6+7+8 #it will look for the end of line in the + sign itself unless we specify \

{36}

In [ ]:
1+2+\
3+4

This is explicit line continuation. In Python, line continuation is implied inside parentheses ( ), brackets [ ] and braces { }. For instance, we can implement the above multi-line statement as

In [ ]:
(1+2+3+4
+5+6+7+8
+9+10)#tuple

Here, the surrounding parentheses ( ) do the line continuation implicitly. Same is the case with [ ] and { }. For example:

In [ ]:
[1+2+3+4
+5+6+7+8
+9+10] #list

In [ ]:
{1+2+3+4
+5+6+7+8
+9+10} #set

###### We could also put multiple statements in a single line using semicolons, as follows

In [ ]:
a=5; b=6; c=8

In [33]:
a, b, c = 5, 6, 8
a,b,c

(5, 6, 8)

In [6]:
list(enumerate('abcdef'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

Python Comment:

Text

In [ ]:
# This is a comment
# print out Hello

In [ ]:
print('Hello')

In [34]:
string = 'this is a string'
print(string)

this is a string

\n --> new line
\t --> tab space

In [37]:
string = 'this is a\n string'
string

'this is a\n string'

In [36]:
print("This is a \n multiline \n statement")

This is a
 multiline
 statement

String can be written with '' or " "

In [38]:
'This is a long comment \
and it extends \
to multiple lines'

'This is a long comment and it extends to multiple lines'

In [39]:
#this will create error
"This is a long comment
and it extends
to multiple lines"

SyntaxError: EOL while scanning string literal (<ipython-input-39-335af48a95b0>, line 2)

In [ ]:
'''
This is a long comment
and it extends
to multiple lines
'''

In [ ]:
print(""" This is an example of a long comment
that goes on
and on
and on .""")

Python DataType:

● float - real numbers
● int - integer numbers
● str - string, text, characters
● bool - True, False

In [ ]:
#class = 2 you can't put class as the kwsvariable names

In [ ]:
#str int float len 
#print = 1

In [ ]:
#variable name: a-z A-Z 0-9_
#no special keywords

In [42]:
a = 5 
b = 5.0
c = 5+1j
d = "Hello"
e = True

In [40]:
type(a)

int

In [43]:
print(type(a),type(b),type(c),type(d),type(e), sep = "\n")

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

### Operators

In [44]:
2+3

5

In [45]:
2-3

-1

In [ ]:
2*3

In [46]:
2/3

0.6666666666666666

In [47]:
2**3

8

In [49]:
#remainder
2%3

2

In [50]:
4%3

1

In [51]:
4//2 #quotient operator

2

#### Logical Operators

In [52]:
#is 2 equalt to 2 
2==2

True

In [53]:
2!=2

False

In [54]:
2!=3

True

In [55]:
#Different Type different Behavior
2.1 + 2.3

4.4

In [56]:
"ab" + "cd "

'abcd '

In [58]:
[1,2,3] + [5,6,7]

[1, 2, 3, 5, 6, 7]

In [57]:
"ab " *3

'ab ab ab '

In [59]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [68]:
#paranthesis is being used for grouping
(1+2+3)+(4+5+6)

21

In [ ]:
#by default the expressions use bodmas rule for evaluation
5/6/7*8+3

In [69]:
(5/6)/(7*(8+3))

0.010822510822510824

### Data Type Conversion

In [60]:
int(5.34)

5

In [61]:
str(5.34)

'5.34'

In [62]:
float(6)

6.0

In [63]:
bool(1)

True

In [64]:
bool(0)

False

In [65]:
bool(6)

True

In [66]:
bool(-1)

True

---

In [70]:
saving = 1000

In [71]:
x="I have saved $" + saving

TypeError: must be str, not int

In [73]:
x="I have saved $"+str(saving)
x

'I have saved $1000'

int() -- converts to int
float() -- converts to float
str() -- converts to str

any datatype can be converted into a string
all integers and floating values cn be converted
int 100 ---> float 100.0
float 100.4 ---> int 100

string --> float or integer

numeric string can be converted to int or float
'0-9' ---> integer or float
'9.0' ----> can only be converted to float

In [4]:
x = '9'
y = int(x)
z = float(x)
y,z

(9, 9.0)

---