In [115]:
import pandas as pd
import numpy as np
import datetime

In [116]:
print(datetime.datetime.today())

2019-09-22 08:07:17.057017

In [117]:
dt = datetime.datetime.today()

In [118]:
type(dt)

datetime.datetime

In [119]:
print("Date: {}/{}/{}".format(dt.day, dt.month, dt.year))

Date: 22/9/2019

In [120]:
x = "{}:{}:{}:{}".format(dt.hour, dt.minute, dt.second, dt.microsecond)

In [121]:
x

'8:7:17:67369'

In [122]:
d = datetime.date(2019, 9, 22)

In [123]:
print(d)

2019-09-22

In [124]:
t = datetime.time(12, 22, 10, 12)

In [125]:
print(t)

12:22:10.000012

In [126]:
type(t)

datetime.time

In [127]:
type(d)

datetime.date

In [128]:
dt2 = datetime.datetime.combine(d,t)

In [129]:
print(dt2)

2019-09-22 12:22:10.000012

In [130]:
type(dt2)

datetime.datetime

In [131]:
#datetime.timedelta

In [132]:
p = dt2-dt

In [133]:
print(p)

4:14:52.932643

In [134]:
type(p)

datetime.timedelta

In [135]:
p.total_seconds()

15292.932643

In [136]:
p.days

0

In [137]:
p.microseconds

932643

In [138]:
p.seconds

15292

----

In [139]:
ap = pd.read_csv("AirPassengers.csv")

In [140]:
ap.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [141]:
ap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
Month          144 non-null object
#Passengers    144 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [142]:
ap.Month = pd.to_datetime(ap.Month, format = "%Y-%m")

In [143]:
ap.Month.dtype

dtype('<M8[ns]')

### Datetime formatting

%a	Weekday as locale’s abbreviated name.	Sun, Mon, …, Sat (en_US);

		So, Mo, …, Sa (de_DE)
        
%A	Weekday as locale’s full name.	Sunday, Monday, …, Saturday (en_US);

		Sonntag, Montag, …, Samstag (de_DE)
        
%w	Weekday as a decimal number, where 0 is Sunday and 6 is Saturday.	0, 1, …, 6

%d	Day of the month as a zero-padded decimal number.	01, 02, …, 31

%b	Month as locale’s abbreviated name.	Jan, Feb, …, Dec (en_US);

%B	Month as locale’s full name.	January, February, …, December (en_US);

%m	Month as a zero-padded decimal number.	01, 02, …, 12

%y	Year without century as a zero-padded decimal number.	00, 01, …, 99

%Y	Year with century as a decimal number.	0001, 0002, …, 2013, 2014, …, 9998, 9999

%H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, …, 23

%I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, …, 12

%p	Locale’s equivalent of either AM or PM.	AM, PM (en_US);

%M	Minute as a zero-padded decimal number.	00, 01, …, 59

%S	Second as a zero-padded decimal number.	00, 01, …, 59

%f	Microsecond as a decimal number, zero-padded on the left.	000000, 000001, …, 999999

%z	UTC offset in the form +HHMM or -HHMM (empty string if the object is naive).	(empty), +0000, -0400, +1030

%Z	Time zone name (empty string if the object is naive).	(empty), UTC, EST, CST

%j	Day of the year as a zero-padded decimal number.	001, 002, …, 366

%U	Week number of the year (Sunday as the first day of the week) as a zero padded decimal number. 
All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, …, 53

%W	Week number of the year (Monday as the first day of the week) as a decimal number. All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, …, 53

In [166]:
import pandas as pd
nyc = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv")

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [167]:
nyc.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,12/31/2015 11:57:46 PM,01/01/2016 07:43:13 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,12/31/2015 11:56:58 PM,01/01/2016 03:24:42 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [168]:
nyc["Created Date"][0]

'12/31/2015 11:59:45 PM'

In [169]:
nyc["Created_Date"]=pd.to_datetime(nyc["Created Date"], format = "%m/%d/%Y %I:%M:%S %p", errors='coerce')

In [170]:
nyc.Created_Date.head()

0   2015-12-31 23:59:45
1   2015-12-31 23:59:44
2   2015-12-31 23:59:29
3   2015-12-31 23:57:46
4   2015-12-31 23:56:58
Name: Created_Date, dtype: datetime64[ns]

In [171]:
nyc.loc[nyc.Created_Date.isnull(), "Created Date"].tail()

Series([], Name: Created Date, dtype: object)

In [172]:
nyc.loc[nyc.Created_Date.isnull(), "Created_Date"] = pd.to_datetime(nyc.loc[nyc.Created_Date.isnull(), "Created Date"], format = "%m-%d-%y %H:%M")

In [173]:
nyc.Created_Date.isnull().sum()

0

In [174]:
nyc.Created_Date.dtype

dtype('<M8[ns]')

In [175]:
nyc = nyc.drop("Created Date", axis = 1)

In [176]:
nyc["Closed Date"][:2]

0    01/01/2016 12:55:15 AM
1    01/01/2016 01:26:57 AM
Name: Closed Date, dtype: object

In [177]:
nyc["Closed_Date"] = pd.to_datetime(nyc["Closed Date"], format = "%m/%d/%Y %I:%M:%S %p", errors = "coerce")

In [178]:
nyc.Closed_Date[:3]

0   2016-01-01 00:55:15
1   2016-01-01 01:26:57
2   2016-01-01 04:51:03
Name: Closed_Date, dtype: datetime64[ns]

In [ ]:
nyc.non

In [182]:
nyc.loc[np.logical_and(nyc.Closed_Date.isnull(), nyc["Closed Date"].notnull()), "Closed Date"]

168690    07/28/
Name: Closed Date, dtype: object

In [183]:
nyc = nyc.drop("Closed Date", axis = 1)

In [184]:
nyc["time_difference"] = nyc.Closed_Date - nyc.Created_Date

In [186]:
nyc.time_difference[:3]

0   00:55:30
1   01:27:13
2   04:51:34
Name: time_difference, dtype: timedelta64[ns]

In [ ]:
#datetime.timedelta.total_seconds()

In [187]:
tot_seconds = []
for each in nyc.time_difference:
    tot_seconds.append(each.total_seconds())

In [189]:
nyc["time_difference"] = tot_seconds