In [25]:
import pandas as pd
import numpy as np
import datetime

In [26]:
dt = datetime.datetime.today()
dt

datetime.datetime(2019, 8, 16, 6, 19, 30, 739020)

In [27]:
print(dt)

2019-08-16 06:19:30.739020

In [28]:
print("Date: {}/{}/{}".format(dt.day, dt.month, dt.year))

Date: 16/8/2019

In [29]:
x = '{}:{}:{}'.format(dt.hour, dt.minute, dt.second)
print(x)

6:19:30

In [30]:
dt.microsecond

739020

In [31]:
t = datetime.time(4,20,56)
t

datetime.time(4, 20, 56)

In [32]:
type(t)

datetime.time

In [33]:
print(t)

04:20:56

In [34]:
d = datetime.date(1999, 8, 19)

In [35]:
print(d)

1999-08-19

In [36]:
dt2 = datetime.datetime.combine(d,t)

In [37]:
print(dt2)

1999-08-19 04:20:56

In [38]:
type(dt2)

datetime.datetime

----

In [39]:
#datetime.timedelta

In [42]:
print(dt, "\t",dt2)

2019-08-16 06:19:30.739020 	 1999-08-19 04:20:56

In [44]:
p = dt-dt2
print(p)

7302 days, 1:58:34.739020

In [45]:
type(p)

datetime.timedelta

In [47]:
p.total_seconds()

630899914.73902

In [50]:
print(p.days, p.microseconds)

7302 739020

In [ ]:
#to add 5 days to today's date

In [52]:
dt + datetime.timedelta(days = 5)

datetime.datetime(2019, 8, 21, 6, 19, 30, 739020)

In [53]:
p = dt + datetime.timedelta(weeks = 5)
print(p)

2019-09-20 06:19:30.739020

----

In [ ]:
#Pandas implementation of datetime features

In [54]:
ap = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\data_sets\AirPassengers.csv")

In [55]:
ap.head(2)

     Month  #Passengers
0  1949-01          112
1  1949-02          118

In [56]:
ap.Month.dtype

dtype('O')

In [64]:
#One way
ap.Month = pd.to_datetime(ap.Month, format = '%Y-%m')

In [60]:
ap.Month.dtype

dtype('<M8[ns]')

In [61]:
ap.Month[0]

Timestamp('1949-01-01 00:00:00')

In [63]:
type(ap.Month[0])

pandas._libs.tslibs.timestamps.Timestamp

In [66]:
#Second Way
x = "1990-8"
print(pd.datetime.strptime(x, "%Y-%m"))

1990-08-01 00:00:00

In [67]:
x = "8-1990"
print(pd.datetime.strptime(x, "%m-%Y"))

1990-08-01 00:00:00

In [69]:
x = "Aug/90 5:20 PM"
print(pd.datetime.strptime(x, "%b/%y %I:%M %p"))

1990-08-01 17:20:00

In [71]:
ap = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\data_sets\AirPassengers.csv")
ap.head(2)

     Month  #Passengers
0  1949-01          112
1  1949-02          118

In [77]:
dateparser = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
data = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\data_sets\AirPassengers.csv", parse_dates =['Month'],date_parser = dateparser )

In [74]:
#?pd.read_csv

In [75]:
data.head(3)

       Month  #Passengers
0 1949-01-01          112
1 1949-02-01          118
2 1949-03-01          132

In [128]:
nyc = pd.read_csv(r"C:\Users\Vaibhav\Desktop\03June\DataSciencePy\Projects(1)\Projects for Submission\Project3_NYC311\311_Service_Requests_from_2010_to_Present.csv")

C:\Users\Vaibhav\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [129]:
nyc.head(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"

In [83]:
nyc["Created Date"].head(3)

0    12/31/2015 11:59:45 PM
1    12/31/2015 11:59:44 PM
2    12/31/2015 11:59:29 PM
Name: Created Date, dtype: object

In [130]:
nyc["Closed Date"][1]

'01/01/2016 01:26:57 AM'

In [131]:
nyc["Created Date"] = pd.to_datetime(nyc['Created Date'], format="%m/%d/%Y %I:%M:%S %p")

In [134]:
nyc["Closed Date"].tail()

364553    01/01/2015 10:22:31 AM
364554    01/01/2015 02:25:02 AM
364555    01/01/2015 12:20:33 AM
364556    01/01/2015 02:42:22 AM
364557    01/01/2015 02:47:50 AM
Name: Closed Date, dtype: object

In [137]:
nyc["Closed Date"] = pd.to_datetime(nyc["Closed Date"], format="%m/%d/%Y %I:%M:%S %p")

In [138]:
nyc.head(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,2015-12-31 23:59:45,2016-01-01 00:55:15,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,2015-12-31 23:59:44,2016-01-01 01:26:57,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,2015-12-31 23:59:29,2016-01-01 04:51:03,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"

In [104]:
td = nyc["Closed Date"] - nyc["Created Date"]

In [117]:
td.head()

0   00:55:30
1   01:27:13
2   04:51:34
3   07:45:27
4   03:27:44
dtype: timedelta64[ns]

In [105]:
td.dtype

dtype('<m8[ns]')

In [106]:
type(td[0])

pandas._libs.tslibs.timedeltas.Timedelta

In [107]:
td[0].total_seconds()

3330.0

In [116]:
lst = []
lst.append(4)

In [115]:
lst = []
for ts in td:
    lst.append(ts.total_seconds())
nyc["total_seconds"] = lst
nyc["total_seconds"]

0           3330.0
1           5233.0
2          17494.0
3          27927.0
4          12464.0
5           6821.0
6           7102.0
7           6529.0
8          30814.0
9           5022.0
10         28120.0
11         40031.0
12          8996.0
13         30649.0
14         37785.0
15         56007.0
16         17559.0
17          3078.0
18         10589.0
19          2856.0
20         16312.0
21         34362.0
22          4598.0
23          3155.0
24        233472.0
25         11841.0
26          1610.0
27         20454.0
28          6366.0
29          9013.0
            ...
364528     14068.0
364529     14651.0
364530      7576.0
364531      1921.0
364532      2891.0
364533     12881.0
364534     27385.0
364535       800.0
364536      3325.0
364537      3614.0
364538      1209.0
364539      9283.0
364540     17643.0
364541      8508.0
364542     10670.0
364543     10702.0
364544     11220.0
364545      2006.0
364546      6549.0
364547      2464.0
364548      9229.0
364549      4181.0
364550     21515.0
364551      2259.0
364552      4625.0
364553     37067.0
364554      8434.0
364555      1143.0
364556      9653.0
364557     10020.0
Name: total_seconds, Length: 364558, dtype: float64

In [98]:
#?pd.read_csv

In [142]:
ny = pd.read_csv(r"C:\Users\Vaibhav\Desktop\03June\DataSciencePy\Projects(1)\Projects for Submission\Project3_NYC311\311_Service_Requests_from_2010_to_Present.csv")
ny.head(3)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,12/31/2015 11:59:29 PM,01/01/2016 04:51:03 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"

In [144]:
ny.head(2)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,12/31/2015 11:59:45 PM,01/01/2016 12:55:15 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,12/31/2015 11:59:44 PM,01/01/2016 01:26:57 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"

In [158]:
#2nd way of using the parser fn while reading the data
dateparser = lambda dates: pd.datetime.strptime(dates, "%m/%d/%Y %I:%M:%S %p") #str done to convert the float values of date to string
ny = pd.read_csv(r"C:\Users\Vaibhav\Desktop\03June\DataSciencePy\Projects(1)\Projects for Submission\Project3_NYC311\311_Service_Requests_from_2010_to_Present.csv",
                parse_dates = ["Created Date","Closed Date"], date_parser = dateparser, skip_blank_lines = True, na_filter = False )
#na_filter indicates ignore the nas while using the parser fn

In [163]:
ny.head(2)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,2015-12-31 23:59:45,2016-01-01 00:55:15,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034,71 VERMILYEA AVENUE,...,,,,,,,,40.86568153633767,-73.92350095571744,"(40.86568153633767, -73.92350095571744)"
1,32309934,2015-12-31 23:59:44,2016-01-01 01:26:57,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105,27-07 23 AVENUE,...,,,,,,,,40.775945312321085,-73.91509393898605,"(40.775945312321085, -73.91509393898605)"

In [159]:
ny.info() #notice closed date has null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364558 entries, 0 to 364557
Data columns (total 53 columns):
Unique Key                        364558 non-null int64
Created Date                      364558 non-null datetime64[ns]
Closed Date                       362177 non-null datetime64[ns]
Agency                            364558 non-null object
Agency Name                       364558 non-null object
Complaint Type                    364558 non-null object
Descriptor                        364558 non-null object
Location Type                     364558 non-null object
Incident Zip                      364558 non-null object
Incident Address                  364558 non-null object
Street Name                       364558 non-null object
Cross Street 1                    364558 non-null object
Cross Street 2                    364558 non-null object
Intersection Street 1             364558 non-null object
Intersection Street 2             364558 non-null object
Address Type                      364558 non-null object
City                              364558 non-null object
Landmark                          364558 non-null object
Facility Type                     364558 non-null object
Status                            364558 non-null object
Due Date                          364558 non-null object
Resolution Description            364558 non-null object
Resolution Action Updated Date    364558 non-null object
Community Board                   364558 non-null object
Borough                           364558 non-null object
X Coordinate (State Plane)        364558 non-null object
Y Coordinate (State Plane)        364558 non-null object
Park Facility Name                364558 non-null object
Park Borough                      364558 non-null object
School Name                       364558 non-null object
School Number                     364558 non-null object
School Region                     364558 non-null object
School Code                       364558 non-null object
School Phone Number               364558 non-null object
School Address                    364558 non-null object
School City                       364558 non-null object
School State                      364558 non-null object
School Zip                        364558 non-null object
School Not Found                  364558 non-null object
School or Citywide Complaint      364558 non-null object
Vehicle Type                      364558 non-null object
Taxi Company Borough              364558 non-null object
Taxi Pick Up Location             364558 non-null object
Bridge Highway Name               364558 non-null object
Bridge Highway Direction          364558 non-null object
Road Ramp                         364558 non-null object
Bridge Highway Segment            364558 non-null object
Garage Lot Name                   364558 non-null object
Ferry Direction                   364558 non-null object
Ferry Terminal Name               364558 non-null object
Latitude                          364558 non-null object
Longitude                         364558 non-null object
Location                          364558 non-null object
dtypes: datetime64[ns](2), int64(1), object(50)
memory usage: 147.4+ MB

In [161]:
sum(ny["Closed Date"].isnull())

2381