In [3]:
ls = ["one", "two", "three"]

In [4]:
ls[0]+"-" + ls[1]+"-"+ls[2]

'one-two-three'

In [7]:
'+'.join(ls) #to join the string elements of a list

'one+two'

In [6]:
"".join(ls)

'onetwothree'

In [7]:
" ".join(ls)

'one two three'

In [5]:
help('+'.join)

Help on built-in function join:

join(...) method of builtins.str instance
    S.join(iterable) -> str

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.

In [8]:
num = [1,2,3,4]

In [9]:
'+'.join(num)

TypeError: sequence item 0: expected str instance, int found

In [11]:
str(num)

'[1, 2, 3, 4]'

In [12]:
lst = []
for x in num:
    lst.append(str(x))
print(lst)

['1', '2', '3', '4']

In [13]:
','.join(lst)

'1,2,3,4'

In [16]:
num

[1, 2, 3, 4]

In [19]:
p = [str(i) for i in num]

['1', '2', '3', '4']

List Comprehension
- [return_Value for i in list]
- [return_value for x in lst if cond]
- [returnvalue if cond else returnvalue for i in lst]

In [20]:
[x**2 for x in num]

[1, 4, 9, 16]

In [21]:
[x**2 for x in range(10) if x <5]

[0, 1, 4, 9, 16]

In [11]:
lst = ["how", "are", "you"]

In [12]:
fc = [x[0].upper() for x in lst]

In [13]:
fc

['H', 'A', 'Y']

In [25]:
range(50)

range(0, 50)

In [27]:
#[return value if cond else return_value for i in lst]
print(['even' if x%2==0 else 'odd' for x in range(50)])

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [18]:
cost = [.424, .4221,.4184,.413, .6]
cases = [10, 20, 40, 30]

In [15]:
cost*cases #element-wise operations not supported by lists

TypeError: can't multiply sequence by non-int of type 'list'

In [19]:
list(zip(cost, cases))

[(0.424, 10), (0.4221, 20), (0.4184, 40), (0.413, 30)]

In [31]:
list(zip(cost, cases))

[(0.424, 10), (0.4221, 20), (0.4184, 40), (0.413, 30)]

In [36]:
#zip fn is used when we have to work upon multiple lists together
for x,y in zip(cost,cases):
    print(x*y)

4.24
8.442
16.736
12.389999999999999

In [37]:
.424 * [10,30,40]

TypeError: can't multiply sequence by non-int of type 'float'

In [30]:
[.424]*len(l)

[0.424, 0.424, 0.424]

In [24]:
l = [10,20,30]
s = [.424]*len(l)
print(l,s)

[10, 20, 30] [0.424, 0.424, 0.424]

In [25]:
list(zip(l,s))

[(10, 0.424), (20, 0.424), (30, 0.424)]

In [26]:
for x,y in zip(l,s):
    print(x*y)

4.24
8.48
12.719999999999999

In [27]:
t = [100,200,300]

In [28]:
list(zip(l,s,t))

[(10, 0.424, 100), (20, 0.424, 200), (30, 0.424, 300)]

In [44]:
fhand = open(r"C:\Users\Vaibhav\Desktop\BA\Datasets\romeo.txt", "r")

In [32]:
type(fhand)

_io.TextIOWrapper

In [45]:
a = fhand.read()
a

'But soft what light through yonder window breaks. It is the east and Juliet is the sun. Arise fair sun and kill the envious moon. Who is already sick and pale with grief\n'

In [88]:
fhand.close()

In [63]:
import re
re.split("[ .]", a)

['But',
 'soft',
 'what',
 'light',
 'through',
 'yonder',
 'window',
 'breaks',
 '',
 'It',
 'is',
 'the',
 'east',
 'and',
 'Juliet',
 'is',
 'the',
 'sun',
 '',
 'Arise',
 'fair',
 'sun',
 'and',
 'kill',
 'the',
 'envious',
 'moon',
 '',
 'Who',
 'is',
 'already',
 'sick',
 'and',
 'pale',
 'with',
 'grief\n']

In [70]:
splittedText = re.split("[ .\n]", a)

In [71]:
print(splittedText)
#[x.lower() for x in splittedTest]

['But', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', '', 'It', 'is', 'the', 'east', 'and', 'Juliet', 'is', 'the', 'sun', '', 'Arise', 'fair', 'sun', 'and', 'kill', 'the', 'envious', 'moon', '', 'Who', 'is', 'already', 'sick', 'and', 'pale', 'with', 'grief', '']

In [79]:
splittedText.remove("")

ValueError: list.remove(x): x not in list

In [80]:
#2 ways to define empty dictionary
counts = {}
counts = dict()

In [81]:
for word in splittedText:
    counts[word] = counts.get(word, 0)+1
print(counts)

{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [82]:
#how to iterate over the dictionaries
for key in counts:
    print(key, counts[key])

But 1
soft 1
what 1
light 1
through 1
yonder 1
window 1
breaks 1
It 1
is 3
the 3
east 1
and 3
Juliet 1
sun 2
Arise 1
fair 1
kill 1
envious 1
moon 1
Who 1
already 1
sick 1
pale 1
with 1
grief 1

In [83]:
counts.items()

dict_items([('But', 1), ('soft', 1), ('what', 1), ('light', 1), ('through', 1), ('yonder', 1), ('window', 1), ('breaks', 1), ('It', 1), ('is', 3), ('the', 3), ('east', 1), ('and', 3), ('Juliet', 1), ('sun', 2), ('Arise', 1), ('fair', 1), ('kill', 1), ('envious', 1), ('moon', 1), ('Who', 1), ('already', 1), ('sick', 1), ('pale', 1), ('with', 1), ('grief', 1)])

In [57]:
for k,v in counts.items():
    print(k,v)

But 1
soft 1
what 1
light 1
through 1
yonder 1
window 1
breaks 1
It 1
is 3
the 3
east 1
and 3
Juliet 1
sun 2
Arise 1
fair 1
kill 1
envious 1
moon 1
Who 1
already 1
sick 1
pale 1
with 1
grief 1

In [84]:
counts.values()

dict_values([1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [85]:
counts.keys()

dict_keys(['But', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', 'It', 'is', 'the', 'east', 'and', 'Juliet', 'sun', 'Arise', 'fair', 'kill', 'envious', 'moon', 'Who', 'already', 'sick', 'pale', 'with', 'grief'])

In [63]:
list(enumerate(counts.values()))

[(0, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 3),
 (10, 3),
 (11, 1),
 (12, 3),
 (13, 1),
 (14, 2),
 (15, 1),
 (16, 1),
 (17, 1),
 (18, 1),
 (19, 1),
 (20, 1),
 (21, 1),
 (22, 1),
 (23, 1),
 (24, 1),
 (25, 1)]

In [64]:
for index, value in enumerate(counts.values()):
    print(index, value)

0 1
1 1
2 1
3 1
4 1
5 1
6 1
7 1
8 1
9 3
10 3
11 1
12 3
13 1
14 2
15 1
16 1
17 1
18 1
19 1
20 1
21 1
22 1
23 1
24 1
25 1

In [87]:
list(enumerate(splittedText))

[(0, 'But'),
 (1, 'soft'),
 (2, 'what'),
 (3, 'light'),
 (4, 'through'),
 (5, 'yonder'),
 (6, 'window'),
 (7, 'breaks'),
 (8, 'It'),
 (9, 'is'),
 (10, 'the'),
 (11, 'east'),
 (12, 'and'),
 (13, 'Juliet'),
 (14, 'is'),
 (15, 'the'),
 (16, 'sun'),
 (17, 'Arise'),
 (18, 'fair'),
 (19, 'sun'),
 (20, 'and'),
 (21, 'kill'),
 (22, 'the'),
 (23, 'envious'),
 (24, 'moon'),
 (25, 'Who'),
 (26, 'is'),
 (27, 'already'),
 (28, 'sick'),
 (29, 'and'),
 (30, 'pale'),
 (31, 'with'),
 (32, 'grief')]

In [88]:
[splittedText[18]]+[splittedText[20]]

['fair', 'and']

In [65]:
list(enumerate([1,2,4]))

[(0, 1), (1, 2), (2, 4)]

In [90]:
print(counts)

{'But': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'It': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'Juliet': 1, 'sun': 2, 'Arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'Who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

In [89]:
for ind, key in enumerate(counts):
    print(ind, key, counts[key])

0 But 1
1 soft 1
2 what 1
3 light 1
4 through 1
5 yonder 1
6 window 1
7 breaks 1
8 It 1
9 is 3
10 the 3
11 east 1
12 and 3
13 Juliet 1
14 sun 2
15 Arise 1
16 fair 1
17 kill 1
18 envious 1
19 moon 1
20 Who 1
21 already 1
22 sick 1
23 pale 1
24 with 1
25 grief 1

In [91]:
fruit_to_colour = {'watermelon': 'green', 'pomegranate': 'red',
'peach': 'orange', 'cherry': 'red', 'pear': 'green',
'banana': 'yellow', 'plum': 'purple', 'orange': 'orange'}
#invert this dictionary

In [92]:
c2f = {}
for fruit in fruit_to_colour:
    color = fruit_to_colour[fruit]
    c2f[color] = fruit
print(c2f)

{'green': 'pear', 'red': 'cherry', 'orange': 'orange', 'yellow': 'banana', 'purple': 'plum'}

In [94]:
len(c2f), len(fruit_to_colour)

(5, 8)

In [95]:
c2f = {}
for fruit in fruit_to_colour:
    color = fruit_to_colour[fruit]
    if color not in c2f:
        c2f[color] = [fruit]
    else:
        c2f[color].append(fruit)
c2f

{'green': ['watermelon', 'pear'],
 'red': ['pomegranate', 'cherry'],
 'orange': ['peach', 'orange'],
 'yellow': ['banana'],
 'purple': ['plum']}

In [ ]:
#if I want to again invert this - try as assignment

### Lambda - functions without names

In [77]:
def addtwo(x,y):
    return(x+y)

In [78]:
f = lambda x,y: x+y

In [79]:
addtwo(4,5)

9

In [80]:
f(4,5)

9

### map fn

In [6]:
def sq_num(x):
    return(x**2)

In [7]:
f = lambda x: x**2

In [8]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(map(sq_num, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### reduce fn

In [12]:
from functools import reduce

In [16]:
#reduce the list to a single number by applying the fn bw 2 variables
reduce(lambda x,y: x+y, [12,34,56, 89])

191

Exercise : A store maintains a list of all customers with the customer number and the price of each item purchased by the customer. Find the total amount for each customer.

In [18]:
orders = [[1,(100,500.50,450)],[2,(200,300.75,450.50)],[3,(400,300.50,650.50)]]
print(orders)

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]

In [102]:
Total = {}
for cust, order in orders:
    Total[cust] = reduce(lambda x,y:x+y, order)
print(Total)
from functools import reduce
Total = {}
for cust, order in orders:
    Total[cust] = reduce(lambda x,y:x+y, order)
print(Total)

{1: 1050.5, 2: 951.25, 3: 1351.0}
{1: 1050.5, 2: 951.25, 3: 1351.0}

In [19]:
orders

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]

In [108]:
[orders[0][0]]+[orders[1][0]]

[1, 2]

In [23]:
[orders[0][0]]

[1]

In [24]:
[orders[1][0]]

[2]

In [25]:
[orders[2][0]]

[3]

In [26]:
list(map(lambda x: [x[0]], orders))

[[1], [2], [3]]

In [119]:
#to get the list of order numbers
list(map(lambda x: [x[0]], orders))

[[1], [2], [3]]

In [116]:
orders[0]

[1, (100, 500.5, 450)]

In [112]:
reduce(lambda a,b: a+b, orders[0][1])

1050.5

In [117]:
reduce(lambda a,b: a+b, orders[1][1])

951.25

In [118]:
reduce(lambda a,b: a+b, orders[2][1])

1351.0

In [31]:
orders[0]

[1, (100, 500.5, 450)]

In [34]:
list(map(lambda x: ([x[0]]+ [reduce(lambda a,b: a+b, x[1])]) , orders))

[[1, 1050.5], [2, 951.25], [3, 1351.0]]

In [42]:
p = list(map(lambda x: ([x[0]] + [reduce(lambda p,b: p+b, x[1])]), orders ))

In [43]:
p

[[1, 1050.5], [2, 951.25], [3, 1351.0]]

----

### Global and local scoping of variables

In [36]:
a = 5
b = 10

In [38]:
globals()['a']

5

In [39]:
globals()['b']

10

In [44]:
globals()['p']

[[1, 1050.5], [2, 951.25], [3, 1351.0]]

In [60]:
def sum(b,var):
    global a #a will have global scope
    a = 100
    su = a+b + var
    return id(a)

In [63]:
id_a_local_var = sum(10, 3)
id_a_local_var

1600437568

In [65]:
a

100

In [64]:
id(a)

1600437568

In [48]:
globals()['su']

KeyError: 'su'

In [ ]:
#var and su have a local scoping i.e only for that function

In [49]:
su

NameError: name 'su' is not defined

In [66]:
stock_list = ['MSFT', "INFY"]

In [67]:
i = 0
for s in stock_list:
    i+=1
    globals()[s] = i

In [68]:
MSFT

1

In [69]:
INFY

2

In [70]:
globals()['MSFT']

1

In [71]:
globals()["INFY"]

2