# BASICS OF PYTHON
- command mode and edit mode 
- command mode can be entered by pressing esc / ctrl+M or by selecting the cell from the left
- edit mode can be entered by enter key or by using the mouse and clicking on the cell

- command mode is required for cell operations like add new cells ( b - add cell below, a - add cell above, or any cell operation / to execute any keyboard shortcuts)

### IMPORTANT SHORTCUTS
- a: create a cell above
- b: create a cell below
- enter: to enter into edit mode
- 'ctrl+m' or 'esc' is to enter the command mode
- f - for find and replace
- up / down arrow key - to scroll to up / down the cell
- 'ctrl + enter' or 'shift + enter' - to execute the cell
- for indentation: 'tab' and 'ctrl + left sq brace'
- for dedentation: ctrl + ]

### ABOUT PYTHON
- Statistical programming language - R Scala SAS
- Free tool - No license cost associated
- Open Source -The source code is open to everyone - Anyone can contribute to the source code 
- OpebCommunity support
- Based on OOPS concepts - Object oriented programming language: encapsualation, inheritance, polymorphism, abstraction
- very easy to learn

In [1]:
# - used for commenting in the code cell
a = 5
print(a)

#In[1] indicates the order of execution of the cells

5

In [2]:
print("I am doing great")

I am doing great

In [3]:
print("How are you")

How are you

In [4]:
class Person:
    def __init__(self, name, age):
        self.name = name #name and age are the attributes of this class
        self.age = age
    
    def show_salary(self): # method of the class person
        print("Salary is unknown")

In [5]:
p = Person("Samridhi", 16) #p is an object of class person
p.show_salary()

Salary is unknown

In [6]:
#p. press tab - to see the attributes and methods defined in the particular class

In [7]:
type(p)

__main__.Person

In [8]:
pwd()
#Working directory is the default location from where the files are read or written to

NameError: name 'pwd' is not defined

In [ ]:
import pandas as pd
#pd.read_csv("boston.csv")

In [ ]:
#variables
a = 5
b = "Rahul"
bombay67 = 'S'
_ ='Samridhi'
#numbers can be attached in the variable anywhere but not in the beginning

In [ ]:
_

In [ ]:
a #the value returned is 5

In [ ]:
b

In [ ]:
bombay67

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
c = 56.8
type(c)

In [ ]:
d  = True
e = False
type(d)

In [ ]:
b = "rahul"

In [ ]:
b.capitalize()

In [ ]:
dir('Rahul') #shows all the attributes and methods defined in the class of the object

In [ ]:
b = "Rahul"

In [ ]:
dir(str)

In [ ]:
b.capitalize() #to check the docstring of the function press shift + tab inside the paranthesis
"""Docstring of a fn means:
- help on the function
- what the function is executing
- what arguments it is taking
- what values it is returning
"""

In [ ]:
sum([1,3,4])

In [ ]:
?sum

In [ ]:
help(sum)

In [ ]:
print("This is a \n multiline \n statement")

In [ ]:
print("""This is a
multiline
statement""")

In [ ]:
# Multi-line comment
"""
Docstring of a fn means:
- help on the function
- what the function is executing
- what arguments it is taking
- what values it is returning
"""

In [ ]:
'''
Docstring of a fn means:
- help on the function
- what the function is executing
- what arguments it is taking
- what values it is returning
'''

## Operators

In [ ]:
2+3

In [ ]:
2-3

In [ ]:
2*3

In [ ]:
3/2

In [ ]:
#remainder
3 % 2

In [ ]:
#quotient or floor division operator
3//2

In [ ]:
2 == 3

In [ ]:
2 !=3

In [ ]:
2 > 3

In [ ]:
2 >= 3

In [ ]:
#power
2**3

In [ ]:
#these operators exhit different behaviors for different classes

In [ ]:
2.1 + 4.3

In [ ]:
"ab" + "ab" #concatenate 2 string objects

In [ ]:
3*4

In [ ]:
"ab" * 4

In [ ]:
int(5.34)

In [ ]:
a = str(5.34)
a

In [ ]:
str(5.34)

In [9]:
bool(1)

True

In [10]:
bool(5)

True

In [11]:
bool(0)

False

In [12]:
int(False)

0

In [13]:
str(True)

'True'

In [14]:
st = "I have saved $" + "50"
st

'I have saved $50'

---

### Print command

In [15]:
print(5, 6, sep = "", end = ". ")
print("How are you?")

56. How are you?

In [16]:
x = input("please enter your age: ")

please enter your age: 12

In [17]:
x

'12'

In [18]:
x = int(x)
x

12

In [19]:
print("My age is ", x, " and next year I will turn ", x+1, sep = "")

My age is 12 and next year I will turn 13

In [20]:
print("My age is {1} and next year I will turn {2}". format(x, x+1, x+2))

My age is 13 and next year I will turn 14

In [21]:
print("a = {}, b = {}, c = {}".format(34, 8, "Samridhi"))
#when indices not defined in curly braces, they will take the values 0 /1 /2

a = 34, b = 8, c = Samridhi

In [22]:
R2  = 34.90
print('Rsq: %f' %R2)
print('Rsq: %.2f'%R2)
print('Rsq: %d'%R2)
print('Rsq: %s'%'Samridhi')

Rsq: 34.900000
Rsq: 34.90
Rsq: 34
Rsq: Samridhi

---

## LISTS - Heterogenous datastructure (i.e mixed data-type)

In [23]:
a = [] #square braces used to indicate a list
#round braces are required to enclose the arguments of a fn or a method of a class
b = list()
print(a,b)

[] []

In [24]:
b = [1,2,3, "Samridhi", True, 34.6]
print(b)
c = [1,2]

[1, 2, 3, 'Samridhi', True, 34.6]

In [25]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [26]:
#append fn is to append an element to the list
a.append([1,2,3])
a

[[1, 2, 3]]

In [27]:
a.append("Samridhi")

In [28]:
a

[[1, 2, 3], 'Samridhi']

In [29]:
a.extend([1,2,3]) # to add multiple elements to the list
a

[[1, 2, 3], 'Samridhi', 1, 2, 3]

In [30]:
### How to subset the list

In [31]:
a[1] #to retrieve the second element of the list

'Samridhi'

In [32]:
a[2]

1

In [33]:
a[5] = 78
a

IndexError: list assignment index out of range

In [34]:
len(a)

5

In [35]:
a[2] = "Richa"
a

[[1, 2, 3], 'Samridhi', 'Richa', 2, 3]

In [36]:
## Deleting list components

In [37]:
x = a.pop(1) #x has the 2nd element
x

'Samridhi'

In [38]:
a

[[1, 2, 3], 'Richa', 2, 3]

In [39]:
#by default pop will remove the last element

In [40]:
a

[[1, 2, 3], 'Richa', 2, 3]

In [41]:
del a[2] #built in function

In [42]:
a

[[1, 2, 3], 'Richa', 3]

In [43]:
del a[1:3]

In [44]:
a = [1,2,3,4,5,6]

In [45]:
a[2] = []

In [46]:
a

[1, 2, [], 4, 5, 6]

In [47]:
a.remove(2)

In [48]:
a

[1, [], 4, 5, 6]

In [49]:
a = []

In [50]:
a

[]

In [51]:
id(a)

2699308052296

In [52]:
del a

In [53]:
id(a)

NameError: name 'a' is not defined

In [55]:
# List Slicing

In [56]:
a = [10,20,30,40,50,60,70,80]

In [57]:
a[2:4] #will retrieve element indexed 2 and 3 (but not 4)

[30, 40]

In [58]:
a[0:5] #elements indexed 0 to 4 will be retrieve (not 5)

[10, 20, 30, 40, 50]

In [59]:
#a[0:5] can also be written as a[:5]
a[:5]

[10, 20, 30, 40, 50]

In [60]:
a[5:] #starting from element indexed 5 till the end

[60, 70, 80]

In [61]:
a

[10, 20, 30, 40, 50, 60, 70, 80]

In [62]:
#Reverse indexing

In [63]:
a[-1]

80

In [64]:
a[-2]

70

In [65]:
x = len(a)
x

8

In [66]:
a[-x]

10

In [67]:
a[x]

IndexError: list index out of range

In [ ]:
a

In [ ]:
a[-5:-1 ] #-1 will not be included

In [ ]:
a[-5:]

In [ ]:
a[:-5] #-5 not included

In [ ]:
#above is same as
a[0:-5]

In [68]:
a[5:] #till end has to be retrieved

[60, 70, 80]

In [69]:
a

[10, 20, 30, 40, 50, 60, 70, 80]

In [70]:
a[:7:2] #here 2 is the step size: so 0th element retrieved, 0+2th element is retrieved, 2 +2th element, 4+2 th element

[10, 30, 50, 70]

In [71]:
a[-5:]

[40, 50, 60, 70, 80]

In [72]:
a[-5:-8:-1]
#-5
#-5-1
#-6-1
#-7-1 -8th element will not be retrieved

[40, 30, 20]

In [73]:
a

[10, 20, 30, 40, 50, 60, 70, 80]

In [74]:
a[::-1]

[80, 70, 60, 50, 40, 30, 20, 10]

In [75]:
a[:4:-2]

[80, 60]

In [76]:
a.index(10)

0

In [77]:
a.count(80)

1

----

### CLASS 3

#### SHALLOW COPY AND DEEP COPY

In [78]:
X = [1,2,4,5, 7, 9]

In [79]:
Y = X #SHALLOW COPY HAS BEEN CREATED

In [80]:
Y

[1, 2, 4, 5, 7, 9]

In [81]:
X[1] = 67

In [84]:
Y #VALUE INDEXED 1 OF Y HAS BEEN CHANGED

[1, 67, 4, 5, 7, 9]

In [85]:
id(Y), id(X)

(2699309233928, 2699309233928)

In [ ]:
#Create a deep copy

In [94]:
#2 WAYS OF CREATING A DEEP COPY
Z = X.copy()
P = list(X)
print(Z, P)

[1, 67, 4, 5, 7, 50] [1, 67, 4, 5, 7, 50]

In [95]:
id(X), id(Z), id(P)

(2699309233928, 2699309185096, 2699310013960)

In [99]:
X[4] = 50
X

[1, 67, 4, 5, 50, 50]

In [100]:
Z #any changes made to X not reflected in Z and P

[1, 67, 4, 5, 7, 50]

In [101]:
P

[1, 67, 4, 5, 7, 50]

In [104]:
X.sort() #SORTING OF THE LIST INPLACE - MEANS THAT THE LIST VALUE INSIDE X GETS SORTED, AND NO VALUE IS RETURNED.

In [105]:
X

[1, 4, 5, 50, 50, 67]

In [107]:
X.sort(reverse = True) #inplace sorting in descending order
X

[67, 50, 50, 5, 4, 1]

In [108]:
sorted(X)

[1, 4, 5, 50, 50, 67]

---

### Tuples
- read only lists
- immutable
- heterogenous data structure
- tuples in (), lists in []
- tuples can't be modified, but a list inside the tuple can be modified
- because of immutable property of the tuples, they occupy far less memory space than lists - and hence programmers love them over lists.

In [110]:
tup = (1,2,4,5, "Samridhi", [10,20,30])
tup

(1, 2, 4, 5, 'Samridhi', [10, 20, 30])

In [112]:
tup[2] = 60

TypeError: 'tuple' object does not support item assignment

In [114]:
tup[-1].append(67)

In [115]:
tup

(1, 2, 4, 5, 'Samridhi', [10, 20, 30, 67])

In [116]:
tup.count(5)

1

In [117]:
tup.index("Samridhi")

4

In [118]:
a

[10, 20, 30, 40, 50, 60, 70, 80]

In [121]:
#to convert a list to a tuple
p = tuple(a)
id(a), id(p)

(2699307993352, 2699304450200)

In [120]:
#to convert tuple to a list
list(tup)

[1, 2, 4, 5, 'Samridhi', [10, 20, 30, 67]]

---

### Sets
- use curly braces {}
- there are only values in the sets 
- support the set functions: union intersection 
- there is no order in the sets
- You need to use sets when you have an unordered set of unique values

In [127]:
lst = [6, 2,3,4,"Samridhi", 5,6, 1,2,4,6, "Samridhi"]

In [128]:
a = set(lst)
a #no order here

{1, 2, 3, 4, 5, 6, 'Samridhi'}

In [129]:
a[1] #index 1 will have different values for everyone. The order / index not there

TypeError: 'set' object does not support indexing

In [131]:
b = {5,3,"Samridhi", 100, 120}

In [132]:
a.intersection(b)

{3, 5, 'Samridhi'}

In [133]:
a.union(b)

{1, 100, 120, 2, 3, 4, 5, 6, 'Samridhi'}

In [135]:
a.difference(b)

{1, 2, 4, 6}

----

### DICTIONARIES

In [136]:
coun_pop = [["Afghanistan", 30.55], ["Albania", 2.77]]

In [137]:
#I want to retrieve the pop of Albania

In [141]:
coun_pop[0][1]

30.55

In [142]:
coun_pop[1][1]

2.77

In [143]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [145]:
pop = [coun_pop[0][1]] + [coun_pop[1][1]]
pop

[30.55, 2.77]

In [146]:
coun = [coun_pop[0][0]] + [coun_pop[1][0]]
coun

['Afghanistan', 'Albania']

In [148]:
pop[coun.index("Albania")]

2.77

#### Dictionaries 
- Dictionaries make the above job easy
- key value pairs
- keys can't be duplicate in dictionary
- Keys are immutable (string, number, tuple), and values are mutable

In [156]:
world = {"Afghanistan": 30.55, "Albania": 2.77, "Algeria": 39.4, "Algeria": 4}

In [157]:
world

{'Afghanistan': 30.55, 'Albania': 2.77, 'Algeria': 4}

In [150]:
world["Afghanistan"]

30.55

In [151]:
world["Albania"]

2.77

In [152]:
world["Albania", "Algeria"]

KeyError: ('Albania', 'Algeria')

In [153]:
#to modify the value of any key
world["Albania"] = 3.4

In [154]:
world

{'Afghanistan': 30.55, 'Albania': 3.4, 'Algeria': 39.4}

In [158]:
world.items()

dict_items([('Afghanistan', 30.55), ('Albania', 2.77), ('Algeria', 4)])

In [159]:
world.keys()

dict_keys(['Afghanistan', 'Albania', 'Algeria'])

In [160]:
world.values()

dict_values([30.55, 2.77, 4])

In [162]:
world["USA"]

KeyError: 'USA'

In [163]:
world.get("Albania")

2.77

In [171]:
world.get("USA", 0)

0

In [166]:
"USA" in world

False

In [167]:
"Albania" not in world

False

In [172]:
world.update({"Afghanistan": 12, "India": 23})
world #if the country present, it's value is updated; otherwise a new country is appended to the dictionary

{'Afghanistan': 12, 'Albania': 2.77, 'Algeria': 4, 'India': 23}

In [178]:
a = {1:3, 2:5, "Samridhi": [5,6], (1,3): ["S", "C"]}
a

{1: 3, 2: 5, 'Samridhi': [5, 6], (1, 3): ['S', 'C']}

---

### STRING FUNCTIONS

In [181]:
#In a string if we want to put '' character
a = 'How are you? He doesn't go there'

SyntaxError: invalid syntax (<ipython-input-181-a7cc73927b6d>, line 1)

In [182]:
a = "How are you? He doesn't go there"

In [ ]:
a = 'How are you? He doesn\'t go there' 
#put the escape character to inform not to use the special meaning of the symbol, rather use it as it is

In [183]:
#In a string if we want to put "" character
b = ""Yes", he said"

SyntaxError: invalid syntax (<ipython-input-183-13470dc07890>, line 1)

In [184]:
'"Yes", he said'

'"Yes", he said'

In [185]:
"\"Yes\", he said" #escape the "" to not to assume the special meaning rather a character in the string

'"Yes", he said'

In [186]:
#special character:  . \ | ( ) [ ] { } ^ $ * + ?

In [189]:
print("C:\Users\Vaibhav\Desktop\BA\natasets")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-189-7607ca9c60b0>, line 1)

In [191]:
"C:\sers\Vaibhav\Desktop\BA\Datasets"

'C:\\sers\\Vaibhav\\Desktop\\BA\\Datasets'

In [192]:
C:\Users\Vaibhav\Desktop\BA\Datasets

SyntaxError: unexpected character after line continuation character (<ipython-input-192-5d4f06cbf517>, line 1)

In [194]:
"C:\\Users\Vaibhav\Desktop\BA\Datasets"

'C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets'

In [195]:
"C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets"

'C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets'

In [196]:
r"C:\Users\Vaibhav\Desktop\BA\Datasets" 
#r will indicate that we are not escaping the special characters, don't assume special meaning of the special characters

'C:\\Users\\Vaibhav\\Desktop\\BA\\Datasets'

In [198]:
#\ is the line continuation character
print("Raju:\
      How are you")

Raju:      How are you

In [199]:
"abc" + "def"

'abcdef'

In [200]:
3*"un"

'ununun'

In [201]:
x = "Samridhi"

In [202]:
x[0]

'S'

In [203]:
x[:3]

'Sam'

In [204]:
x[::-1]

'ihdirmaS'

In [205]:
x[2] = "M"

TypeError: 'str' object does not support item assignment

In [206]:
x.capitalize()

'Samridhi'

In [208]:
x.replace("i", "mu")

'Samrmudhmu'

In [210]:
x = "  How are you   "

In [211]:
x.rstrip()

'  How are you'

-----

### LIST COMPREHENSIONS
- new_list  = [return_value for i in list]
- new_list = [return_value for i in list if cond]
- new_list = [return_value if condition else return_value_for_else for i in list]

In [212]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [214]:
a = [x for x in range(50) if x%2 == 0]
print(a)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [217]:
print(["even" if x%2==0 else "odd" for x in range(20)])

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [218]:
a = [True, False, True, True]

In [219]:
[not i for i in a]

[False, True, False, False]

In [234]:
#to encode this 
data = "hello world"

In [238]:
alphabets  = "abcdefghijklmnopqrstuvwxyz "

In [239]:
print(list(enumerate(alphabets)))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f'), (6, 'g'), (7, 'h'), (8, 'i'), (9, 'j'), (10, 'k'), (11, 'l'), (12, 'm'), (13, 'n'), (14, 'o'), (15, 'p'), (16, 'q'), (17, 'r'), (18, 's'), (19, 't'), (20, 'u'), (21, 'v'), (22, 'w'), (23, 'x'), (24, 'y'), (25, 'z'), (26, ' ')]

In [240]:
char_to_int = [(c,i) for i,c in enumerate(alphabets)]
print(char_to_int)

[('a', 0), ('b', 1), ('c', 2), ('d', 3), ('e', 4), ('f', 5), ('g', 6), ('h', 7), ('i', 8), ('j', 9), ('k', 10), ('l', 11), ('m', 12), ('n', 13), ('o', 14), ('p', 15), ('q', 16), ('r', 17), ('s', 18), ('t', 19), ('u', 20), ('v', 21), ('w', 22), ('x', 23), ('y', 24), ('z', 25), (' ', 26)]

In [241]:
char_to_int = dict((c,i) for i,c in enumerate(alphabets)) #dictionary comprehension
print(char_to_int)

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4, 'f': 5, 'g': 6, 'h': 7, 'i': 8, 'j': 9, 'k': 10, 'l': 11, 'm': 12, 'n': 13, 'o': 14, 'p': 15, 'q': 16, 'r': 17, 's': 18, 't': 19, 'u': 20, 'v': 21, 'w': 22, 'x': 23, 'y': 24, 'z': 25, ' ': 26}

In [237]:
data

'hello world'

In [242]:
char_to_int[data[0]]

7

In [244]:
[i for i in data]

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [246]:
char_to_int['e']

4

In [249]:
integer_encoded = [char_to_int[char] for char in data]
integer_encoded

[7, 4, 11, 11, 14, 26, 22, 14, 17, 11, 3]

In [258]:
letter = [0 for a in range(len(alphabets))]
print(letter)
letter[integer_encoded[0]] = 1
print(letter)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [264]:
integer_encoded

[7, 4, 11, 11, 14, 26, 22, 14, 17, 11, 3]

In [265]:
ohe = list()

In [266]:
for value in integer_encoded:
    letter = [0 for a in range(len(alphabets))] #a list of 27 0s
    letter[value] = 1 # the value corresponding to the valueth letter, put it = 1
    ohe.append(letter)
print(ohe)

[[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [259]:
onehot_encoded = list()
for value in integer_encoded:
    letter = [0 for a in range(len(alphabets))] #a list of 27 0s
    letter[value] = 1 # the value corresponding to the valueth letter, put it = 1
    onehot_encoded.append(letter)
print(onehot_encoded)

[[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

### Zip - used when we want to do element-wise opearations in 2 lists

In [269]:
cost = [.424,.4221, .482]
cases = [10,20,30]
#to compute weighted average

In [270]:
cases*cost #element wise operation is not supported by lists

TypeError: can't multiply sequence by non-int of type 'list'

In [278]:
list(zip(cost,cases))

[(0.424, 10), (0.4221, 20), (0.482, 30)]

In [275]:
lst = list()
for x,y in zip(cost,cases): 
    lst.append(x*y)
lst

[4.24, 8.442, 14.459999999999999]

In [276]:
sum(lst)/sum(cases)

0.45236666666666664

### How to import a package

In [279]:
!pip install pdsql

Requirement already satisfied: pdsql in c:\users\vaibhav\anaconda3\lib\site-packages (1.2.8)
Requirement already satisfied: sqlalchemy in c:\users\vaibhav\anaconda3\lib\site-packages (from pdsql) (1.2.18)
Requirement already satisfied: pandas in c:\users\vaibhav\anaconda3\lib\site-packages (from pdsql) (0.24.1)
Requirement already satisfied: pyodbc in c:\users\vaibhav\anaconda3\lib\site-packages (from pdsql) (4.0.26)
Requirement already satisfied: numpy>=1.12.0 in c:\users\vaibhav\anaconda3\lib\site-packages (from pandas->pdsql) (1.14.3)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\vaibhav\anaconda3\lib\site-packages (from pandas->pdsql) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\users\vaibhav\anaconda3\lib\site-packages (from pandas->pdsql) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\vaibhav\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->pdsql) (1.12.0)

In [ ]:
#!conda install pdsql

In [288]:
import math as m

In [289]:
m.ceil(5.3)

6

In [290]:
m.cos(ma.radians(0))

1.0

In [284]:
import math

In [285]:
math.cos(math.radians(45))

0.7071067811865476

In [286]:
from math import sqrt, ceil

In [287]:
sqrt(16)

4.0

In [291]:
from math import *

In [292]:
cos(radians(90))

6.123233995736766e-17