In [24]:
import pandas as pd
import numpy as np
gc = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\German_credit_classification.csv")

In [25]:
gc.iloc[:,7:].head(2)

,employ,installment,status,others,residence,property,age,otherplans,housing,cards,job,liable,tele,foreign
0,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201

In [26]:
gc.liable.value_counts()

1    845
2    155
Name: liable, dtype: int64

In [27]:
#selected all continuous variables
gc1 = gc[["Default", "duration", "amount", "installment", "residence", "age", "cards" ]]
X = gc1.drop("Default", axis = 1)
y = gc1["Default"]

In [28]:
X.head(2)

   duration  amount  installment  residence  age  cards
0         6    1169            4          4   67      2
1        48    5951            2          2   22      1

In [29]:
y[:2]

0    0
1    1
Name: Default, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size = .3, random_state = 2)

In [31]:
#implement standard scaler

In [32]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
Xtrain = ss.fit_transform(X_train)
Xtest = ss.transform(X_test)

In [33]:
X_train = pd.DataFrame(Xtrain, columns=X_train.columns)
X_test = pd.DataFrame(Xtest, columns=X_test.columns)

In [34]:
X_test.head(2)

   duration    amount  installment  residence       age     cards
0 -0.198555 -0.390968     0.919510  -0.797198  0.132831 -0.703434
1 -0.452492 -0.676856    -0.856095  -0.797198  1.004264  1.093660

In [35]:
y_train[:1], y_test[:1]

(90    0
 Name: Default, dtype: int64, 37    1
 Name: Default, dtype: int64)

#### knn - k nearest neighbours
- non-parametric algorithm unlike Li Re and lo re -i.e it makes no assumptions about the distribution of the x vars
- lazy learning algorith unlike lo re which learning based on training data itself. knn is going defer the learning until the test instances arrive
- used only on numerical data
- continuous var - euclidean formula  ((x1-y1)**2 + (x2-y2)**2 + (x3 - y3)**2)**(1/2)
- categorical vars - manhattan formula  ((x1-y1)**1 + (x2-y2)**1 + (x3 - y3)**1)**(1)
- minkowski distance: (|x1-y1|**p + |x2-y2|**p + |x3 - y3|**p)**(1/p) - default value of p = 2 representing the euclidean distance, change it to 1 to get the manhattan distance

In [36]:
from sklearn.metrics import f1_score
from sklearn.neighbors import KNeighborsClassifier

In [37]:
knn = KNeighborsClassifier(n_neighbors=3, n_jobs=-1)
knn.fit(X_train, y_train)
score = accuracy_score(y_test, knn.predict(X_test))
score

NameError: name 'accuracy_score' is not defined

In [ ]:
acc_score = []
for k in range (1,30, 2):
    knn = KNeighborsClassifier(n_neighbors=k, n_jobs=-1)#for parallel processing to find the distance bw the test instance and training instances
    knn.fit(X_train, y_train)
    score = accuracy_score(y_test, knn.predict(X_test))
    #score = f1_score(y_test, knn.predict(X_test))
    acc_score.append(score)
    
print(acc_score)

In [ ]:
dummy = pd.DataFrame({"k": range(1,30,2), "accuracy": acc_score})
dummy

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(10, 4))
plt.plot(range(1,30,2), acc_score)
plt.show()

In [ ]:
#so we'll select k = 21 or k = 23

In [ ]:
mod = KNeighborsClassifier(n_jobs=-1, n_neighbors=21,weights="distance")
#weights can take "uniform" (default) or distance. Distance means higher weightage is given to the 
#closest neighbours and lowere weightage is given to distant neighbours.

In [ ]:
mod.fit(X_train, y_train)
ypred = mod.predict(X_test)

In [ ]:
accuracy_score(y_test, ypred)